@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows Into Light:wght@400;800&family=Shadows Into Light:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC:wght@400;800&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus,
.attribute-roll:hover,
.attribute-roll:focus,
.attack-roll:hover,
.attack-roll:focus,
.talent-roll:hover,
.talent-roll:focus,
.magic-roll:hover,
.magic-roll:focus,
.ammo-amount:hover,
.ammo-amount:focus,
.talent-uses:hover,
.talent-uses:focus,
.spell-uses:hover,
.spell-uses:focus,
.tradition-edit:hover,
.tradition-edit:focus,
.roll-healing:hover,
.roll-healing:focus,
.roll-damage:hover,
.roll-damage:focus,
.apply-damage:hover,
.apply-damage:focus,
.use-talent:hover,
.use-talent:focus,
.request-challengeroll:hover,
.request-challengeroll:focus,
.make-challengeroll:hover,
.make-challengeroll:focus,
.request-initroll:hover,
.request-initroll:focus,
.make-initroll:hover,
.make-initroll:focus,
.addInsanity:hover,
.addInsanity:focus,
.addCorruption:hover,
.addCorruption:focus,
.addDamage:hover,
.addDamage:focus,
.toggleInfo:hover,
.toggleInfo:focus,
.toggleTalentInfo:hover,
.toggleTalentInfo:focus,
.toggleItemInfo:hover,
.toggleItemInfo:focus,
.toggleEffectInfo:hover,
.toggleEffectInfo:focus,
.item-uses:hover,
.item-uses:focus,
.path-edit:hover,
.path-edit:focus,
.ancestry-create:hover,
.ancestry-create:focus,
.edit-ancestrytalents:hover,
.edit-ancestrytalents:focus {
  color: #000;
  text-shadow: 0 0 10px #fa200b;
  cursor: pointer;
}

#combat-endofround:hover, #combat-endofround:focus {
  color: #fff;
  text-shadow: 0 0 10px #fa200b;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flexrow > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flexcol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flexcol > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

:root {
  --demonlord-red: #a22223;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: var(--demonlord-red);
  border: 1px solid #8d3b3c;
}

.window-app .window-header {
  font-family: "IM Fell English SC", serif;
  font-size: 14px;
}

/* Sidebar */
#sidebar {
  background: url(../ui/sidebar_background.jpg);
  border-radius: 0px;
}

#sidebar h2 {
  font-family: "IM Fell English SC", serif;
  font-size: 16px;
  border-bottom: 0px;
  color: var(--demonlord-red);
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
}

#sidebar button {
  color: white;
  background-color: none;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  background: none;
  font-family: "IM Fell English SC", serif;
  font-size: 13px;
}

#sidebar button:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: var(--demonlord-red);
  border-color: var(--demonlord-red);
}

#sidebar-tabs {
  border-bottom: 1px solid var(--demonlord-red);
  -webkit-box-shadow: 0 0 10px darkred;
  box-shadow: 0 0 10px darkred;
}

#sidebar-tabs > .item.active {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0px solid var(--demonlord-red);
}

#sidebar .tabs .item.active {
  text-shadow: none;
  color: var(--demonlord-red);
}

#sidebar .directory-header a:hover,
#chat-controls a:hover {
  color: white;
}

#sidebar .directory-header .header-search i {
  color: var(--demonlord-red);
}

.sidebar-tab .directory-header .header-search input {
  background: none;
  border-radius: 0px;
  border: 1px solid var(--demonlord-red);
  color: white;
}

.sidebar-tab .directory-header .header-search input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: white;
}

.sidebar-tab .directory-list .folder .context {
  border-color: var(--demonlord-red);
}

.sidebar-tab .directory-list .directory-item h3 {
  font-family: "IM Fell English SC", serif;
  font-size: 16px;
}

.sidebar-tab .directory-list .directory-item h4 {
  font-family: "IM Fell English SC", serif;
  font-size: 14px;
}

/* Compendoum */
#compendium h3 {
  border: 0px;
  background: var(--demonlord-red);
  color: white;
  font-family: "IM Fell English SC", serif;
  font-size: 16px;
}

/* Chat */
#chat-form textarea {
  background: white;
  border-radius: 0px;
  border: 1px solid var(--demonlord-red);
  margin-top: 3px;
}

#chat-controls {
  border-top: 2px groove var(--demonlord-red);
  padding-top: 5px;
}

#chat-controls .roll-type-select label i {
  width: 25px;
  height: 25px;
  color: #f0f8ff00;
  background: url(../ui/icons/pentragram.png);
}

#chat-controls div.roll-type-select select {
  background: none;
  border: none;
  padding: 0px;
  color: white;
  border: 1px solid #666;
  border-radius: 1px;
  font-family: "IM Fell English SC", serif;
}

#chat-controls div.roll-type-select select:hover {
  border: 1px solid var(--demonlord-red);
  background-color: var(--demonlord-red);
}

#chat-log {
  margin-bottom: 4px;
}

#chat-log .message {
  border: 1px solid #6f6c66;
}

#chat-log .message .message-header .message-sender,
#chat-log .message .message-header .message-metadata {
  font-family: "IM Fell English SC", serif;
}

/* Hotbar */
#hotbar {
  font-family: "IM Fell English SC", serif;
}

#hotbar #macro-list {
  background: url(../ui/sidebar_background.jpg);
  border: 1px solid black;
}

#hotbar .macro,
#hotbar .bar-controls,
#hotbar .macro.inactive {
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#hotbar #hotbar-directory-controls,
#hotbar #hotbar-page-controls {
  background: black;
}

#hotbar .macro:hover,
#hotbar .bar-controls:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid var(--demonlord-red);
}

/* Navigation */
#navigation #nav-toggle,
#navigation #scene-list #nav-item {
  background-color: black;
  border-radius: 3px;
  border: 1px solid #666;
}

#navigation #scene-list .scene {
  background: black;
  border: 1px solid #666;
  border-radius: 3px;
  font-family: "IM Fell English SC", serif;
  font-size: 13px;
}

#navigation #scene-list .scene.gm {
  background: black;
  border: 1px solid var(--demonlord-red);
}

#navigation #scene-list .scene.view {
  border: 1px solid var(--demonlord-red);
  -webkit-box-shadow: none;
  box-shadow: none;
  background: black;
  color: white;
}

/* Controls */
#controls .scene-control.active,
#controls .control-tool.active,
#controls .scene-control:hover,
#controls .control-tool:hover {
  color: var(--demonlord-red);
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid var(--demonlord-red);
}

#controls .scene-control,
#controls .control-tool {
  background-color: black;
  border-radius: 3px;
  border: 1px solid #666;
}

#controls .scene-control,
#controls .control-tool {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Players */
#players {
  background: url(../ui/sidebar_background.jpg);
  font-family: "IM Fell English SC", serif;
  font-size: 11px;
  text-transform: uppercase;
  border: 1px solid #666;
  border-radius: 0px;
}

#players ol .player-name.self {
  color: var(--demonlord-red);
}

/* Combat Tracker */
#combat #combat-round .encounters h3,
#combat #combat-controls a.center {
  font-family: "IM Fell English SC", serif;
  font-size: 16px;
}

#combat #combat-endofround {
  border-top: 2px groove var(--demonlord-red);
}

#combat #combat-round {
  border-bottom: 2px groove var(--demonlord-red);
}

#combat #combat-controls {
  border-top: 2px groove var(--demonlord-red);
}

#combat li.combatant .token-initiative {
  font-family: "IM Fell English SC", serif;
}

/* Scene */
#scenes .scene h3 {
  font-family: "IM Fell English SC", serif;
  font-size: 16px;
}

/* Styles limited to demonlord sheets */
.demonlord .card-header {
  height: 50px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 4px 5px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 13px;
}

.demonlord .card-header .attack-img {
  float: left;
  height: 22px;
  width: 22px;
  margin-top: 8px;
  background: url("icons/crossed-swords2.png") no-repeat;
}

.demonlord .card-header .token-img {
  float: left;
  height: 40px;
  width: 40px;
}

.demonlord .card-header .token-img img {
  border: 0;
}

.demonlord .card-header .challenge-img {
  float: left;
  height: 22px;
  width: 22px;
  background: url("icons/back-forth2.png") no-repeat;
}

.demonlord .card-header .talent-img {
  float: left;
  height: 22px;
  width: 22px;
  margin-top: 8px;
  background: url("icons/barbed-sun2.png") no-repeat;
}

.demonlord .card-header .spell-img {
  float: left;
  height: 22px;
  width: 22px;
  margin-top: 8px;
  background: url("icons/magic-palm2.png") no-repeat;
}

.demonlord .card-header .header {
  float: left;
  font-weight: bold;
  padding: 2px 5px 0px 5px;
}

.demonlord .card-header .headertext {
  float: left;
  padding-top: 2px;
  padding-right: 5px;
}

.demonlord .card-header .targetname {
  float: left;
  padding-top: 2px;
  padding-right: 5px;
}

.demonlord .card-header .attackbox {
  float: left;
  width: 220px;
}

.demonlord .card-header .targetbox {
  float: left;
  width: 220px;
}

.demonlord .card-header .FAILURE {
  float: left;
  color: var(--demonlord-red);
  font-weight: bold;
}

.demonlord .card-header .SUCCESS {
  float: left;
  color: green;
  font-weight: bold;
}

.demonlord .card-headersmall {
  position: relative;
  height: 30px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 4px 5px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.demonlord .card-headersmall .damage-img {
  float: left;
  height: 22px;
  width: 22px;
  background: url("icons/damage.png") no-repeat;
}

.demonlord .card-headersmall .spell-img {
  float: left;
  height: 22px;
  width: 22px;
  background: url("icons/magic-palm2.png") no-repeat;
}

.demonlord .card-headersmall .challenge-img {
  float: left;
  height: 22px;
  width: 22px;
  background: url("icons/back-forth2.png") no-repeat;
}

.demonlord .card-headersmall .talent-img {
  float: left;
  height: 22px;
  width: 22px;
  background: url("icons/barbed-sun2.png") no-repeat;
}

.demonlord .card-headersmall .init-img {
  float: left;
  height: 22px;
  width: 22px;
  background: url("icons/pentagram.png") no-repeat;
}

.demonlord .card-headersmall .header {
  float: left;
  font-weight: bold;
  padding: 2px 5px 0px 5px;
}

.demonlord .card-headersmall .headertext {
  float: left;
  padding-top: 2px;
  padding-right: 5px;
}

.demonlord .card-headersmall .FAILURE {
  float: left;
  color: var(--demonlord-red);
  font-weight: bold;
}

.demonlord .card-headersmall .SUCCESS {
  float: left;
  color: green;
  font-weight: bold;
}

.demonlord .tooltip:hover .tooltiptext {
  visibility: visible;
}

.demonlord .tooltip .tooltiptext {
  visibility: hidden;
  width: 260px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 7px;
  top: 24px;
}

.demonlord .init-header {
  height: 30px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 4px 5px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.demonlord .init-header .init-img {
  float: left;
  height: 22px;
  width: 22px;
  background: url("icons/pentagram.png") no-repeat;
}

.demonlord .init-header .inittext {
  float: left;
  padding: 2px 0 0 5px;
}

.demonlord .result {
  height: 52px;
}

.demonlord .result .box {
  float: left;
  width: 80px;
  height: 60px;
  text-align: center;
}

.demonlord .result .box .boxborder,
.demonlord .result .box .boxborderTarget {
  position: relative;
  left: 20px;
  border: 1px solid #7a7971;
  border-radius: 3px;
  width: 40px;
  height: 40px;
}

.demonlord .result .box .boxborder .value,
.demonlord .result .box .boxborderTarget .value {
  position: relative;
  text-align: center;
  top: 8px;
  font-size: 17px;
}

.demonlord .result .box .tooltip:hover .tooltiptext {
  visibility: visible;
}

.demonlord .result .box .tooltip .tooltiptext {
  visibility: hidden;
  width: 260px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: -17px;
  top: 27px;
}

.demonlord .result .box .valuetext {
  position: relative;
  top: 0px;
  width: 80px;
  font-size: 10px;
  font-weight: bold;
}

.demonlord .result .SUCCESS .boxborder {
  border: 3px solid darkgreen;
}

.demonlord .result .SUCCESS .boxborder .value {
  top: 6px;
  font-weight: bold;
}

.demonlord .result .FAILURE .boxborder {
  border: 3px solid var(--demonlord-red);
}

.demonlord .result .FAILURE .boxborder .value {
  top: 6px;
  font-weight: bold;
}

.demonlord .result .boxvs {
  float: left;
  width: 30px;
  height: 60px;
}

.demonlord .result .boxvs .vs {
  position: relative;
  top: 23px;
  left: 8px;
  width: 20px;
  height: 20px;
}

.demonlord .roll20,
.demonlord .description {
  display: block;
  font-size: 12px;
  margin-top: 10px;
}

.demonlord .roll20 .header,
.demonlord .description .header {
  font-weight: bold;
}

.demonlord .chat-uses {
  float: right;
  margin-top: -10px;
  font-size: 12px;
}

.demonlord .showinfo {
  position: relative;
  top: -20px;
  left: 40px;
  float: left;
  height: 0px;
  font-size: 12px;
}

.demonlord .showlessinfo {
  font-size: 12px;
  margin-top: -3px;
}

.demonlord .form-block {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 4px 5px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 11px;
}

.demonlord .form-block .items-list {
  margin-bottom: 0;
}

.demonlord .form-block .items-list .affliction {
  height: 18px;
}

.demonlord .form-block .items-list .affliction input {
  float: left;
}

.demonlord .form-block .items-list .affliction label {
  float: left;
  margin-top: 5px;
}

.demonlord .form-block .items-list .affliction .fas {
  margin-top: 5px;
  margin-left: 5px;
}

.demonlord .form-block .items-list .affliction .tooltip .tooltiptext {
  visibility: hidden;
  width: 260px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-align: left;
  border-radius: 3px;
  padding: 5px;
  top: 40px;
  right: 20px;
  position: absolute;
  z-index: 1;
}

.demonlord .form-block .items-list .affliction .tooltip:hover .tooltiptext {
  visibility: visible;
}

.demonlord .form-block .items-list .grid {
  gap: 0;
  margin-top: 0;
}

.demonlord .form-block .form-header {
  height: 20px;
  padding-top: 2px;
  padding-right: 5px;
  font-weight: bold;
  font-size: 12px;
}

.demonlord .form-block .form-headermods {
  float: left;
  height: 20px;
  padding-top: 2px;
  padding-right: 5px;
  font-weight: bold;
  font-size: 12px;
}

.demonlord .form-block .form-line {
  width: 100%;
  height: 22px;
}

.demonlord .form-block .form-line .form-fieldheader {
  float: left;
  padding-top: 2px;
  padding-right: 5px;
}

.demonlord .form-block .form-line .bold {
  font-weight: bold;
}

.demonlord .form-block .form-line .enablemod {
  float: left;
  width: 20px;
  height: 16px;
  margin: -2px 5px 0 -5px;
}

.demonlord .form-block .form-line .disable {
  float: left;
  width: 150px;
  height: 16px;
  margin: -2px 0 0 0;
}

.demonlord .form-block .form-line .form-fields {
  float: left;
  margin-top: -3px;
  padding-top: 2px;
}

.demonlord .form-block .form-line .form-fields div {
  float: left;
  margin-left: 5px;
}

.demonlord .form-block .form-line .form-fields select,
.demonlord .form-block .form-line .form-fields input {
  margin-top: 2px;
  font-size: 11px;
  height: 16px;
}

.demonlord .form-block .form-line .form-fields input[type="checkbox"] {
  width: 15px;
  margin-top: -1px;
}

.demonlord .form-block .form-line .form-fields .number input {
  width: 30px;
  text-align: right;
}

.demonlord .form-block .form-line .form-fields .numberLabel {
  margin-top: 4px;
  margin-left: 19px;
}

.demonlord .form-block .form-line .form-fields .numbermid input {
  width: 50px;
  text-align: right;
}

.demonlord .form-block .form-line .form-fields .radioblock,
.demonlord .form-block .form-line .form-fields .radioblockfast {
  padding-right: 15px;
  margin-left: 0px;
}

.demonlord .form-block .form-line .form-fields .radioblock input[type="radio"],
.demonlord .form-block .form-line .form-fields .radioblockfast input[type="radio"] {
  width: 15px;
  margin-top: -1px;
}

.demonlord .form-block .form-line .item-controls {
  float: right;
  width: 15px;
  margin-top: 2px;
}

.demonlord .form-block .form-modline {
  width: 100%;
  height: 12px;
}

.demonlord .form-block .form-modline .form-fields {
  float: left;
  margin-top: -3px;
  padding-top: 2px;
}

.demonlord .form-block .form-modline .form-fields .modname {
  width: 133px;
  padding-left: 20px;
}

.demonlord .form-block .form-modline .form-fields .modeffects {
  width: 152px;
}

.demonlord .form-block .form-modline .form-fields .modmodifier {
  width: 35px;
}

.demonlord .form-block .form-modline .form-fields .modrounds {
  width: 43px;
}

.demonlord .form-block .form-modline .form-fields .modleft {
  width: 22px;
}

.demonlord .form-block .creature-list {
  margin: 0;
  padding: 0;
}

.demonlord .form-block .creature-list .creature-entry {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.demonlord .form-block .creature-list .creature-entry .header {
  width: 100%;
  height: 55px;
}

.demonlord .form-block .creature-list .creature-entry .header h4 {
  font-family: "IM Fell English SC", serif;
  font-size: 14px;
}

.demonlord .form-block .creature-list .creature-entry .header .headerbody {
  margin-top: -10px;
}

.demonlord .form-block .creature-list .creature-entry .effects .effect .effectname {
  font-weight: bold;
}

.demonlord .form-block .creature-list .creature-entry .effects .effect .effectsescription {
  margin-top: -5px;
}

.demonlord .form-block .creature-list .token-image {
  float: left;
  border: none;
  height: 48px;
  width: 48px;
  margin-right: 10px;
}

.demonlord .sectionblock {
  border: 1px solid #666;
  padding: 8px;
  margin-bottom: 10px;
}

.demonlord .talentactions,
.demonlord .combatactions,
.demonlord .damageaction,
.demonlord .challengeaction {
  margin-top: 5px;
  padding: 5px;
  background: #bbb;
  border: 1px solid #666;
  border-radius: 3px;
  font-size: 12px;
  height: 27px;
}

.demonlord .talentactions img,
.demonlord .combatactions img,
.demonlord .damageaction img,
.demonlord .challengeaction img {
  float: left;
  margin: 0 0 0 -5px;
  border: 0;
}

.demonlord .talentactions div,
.demonlord .combatactions div,
.demonlord .damageaction div,
.demonlord .challengeaction div {
  float: left;
  padding-left: 5px;
}

.demonlord .talentactions .blood,
.demonlord .combatactions .blood,
.demonlord .damageaction .blood,
.demonlord .challengeaction .blood {
  margin-left: -8px;
  margin-top: 1px;
}

.demonlord .talentactions .challenge-img,
.demonlord .combatactions .challenge-img,
.demonlord .damageaction .challenge-img,
.demonlord .challengeaction .challenge-img {
  float: left;
  height: 22px;
  width: 22px;
  margin-top: -3px;
  margin-left: -5px;
  background: url("icons/back-forth2.png") no-repeat;
}

.demonlord .talentactions .init-img,
.demonlord .combatactions .init-img,
.demonlord .damageaction .init-img,
.demonlord .challengeaction .init-img {
  float: left;
  height: 22px;
  width: 22px;
  margin-top: -3px;
  margin-left: -5px;
  background: url("icons/pentagram.png") no-repeat;
}

.demonlord .talentactions .talent-img,
.demonlord .combatactions .talent-img,
.demonlord .damageaction .talent-img,
.demonlord .challengeaction .talent-img {
  float: left;
  height: 22px;
  width: 22px;
  margin-top: -3px;
  margin-left: -5px;
  background: url("icons/barbed-sun2.png") no-repeat;
}

.demonlord .challengeaction {
  background: #999;
}

.demonlord .dice {
  margin: 2px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 25px;
  height: 25px;
}

.demonlord .dice label {
  font-weight: bold;
  text-align: center;
  width: 100%;
  z-index: 1;
  padding-top: 4px;
}

.demonlord .dice img {
  position: absolute;
  width: 25px;
  height: 25px;
  border: none;
}

.demonlord .modifier {
  margin: 2px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.demonlord .window-content {
  background: #e3e3e3 url("backgroundN2.png") no-repeat;
}

.demonlord .item-form {
  font-family: "Roboto", sans-serif;
}

.demonlord .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 260px;
  flex: 0 0 260px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: -10px;
}

.demonlord .sheet-header .profile-img {
  float: left;
  height: 115px;
  width: 90px;
  margin: 0px 10px 10px 0px;
  border: 1px solid #7a7971;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}

.demonlord .sheet-header .weapon-img {
  height: 55px;
  width: 50px;
  margin-right: 10px;
  border: 1px solid #7a7971;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}

.demonlord .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.demonlord .sheet-header .charname {
  position: relative;
  float: left;
  font-family: "Shadows Into Light", sans-serif;
  font-size: 20px;
  height: 40px;
  width: 270px;
  padding: 0px;
  margin: 0;
  border-bottom: 0;
}

.demonlord .sheet-header .charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.demonlord .sheet-header .charancestry {
  position: relative;
  float: left;
  font-family: "Shadows Into Light", sans-serif;
  font-size: 20px;
  height: 40px;
  width: 120px;
  padding: 0px;
  margin-left: 10px;
  border-bottom: 0;
}

.demonlord .sheet-header .charancestry div input {
  width: 100%;
  height: 40px;
  margin: 0;
}

.demonlord .sheet-header .charsex {
  position: relative;
  float: left;
  font-family: "Shadows Into Light", sans-serif;
  font-size: 20px;
  height: 40px;
  width: 70px;
  padding: 0px;
  margin-left: 10px;
  border-bottom: 0;
}

.demonlord .sheet-header .charsex input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.demonlord .sheet-header .topline {
  height: 35px;
}

.demonlord .sheet-header .attributes {
  height: 72px;
}

.demonlord .sheet-header .attributes .attributebox {
  background: url(attbox.png) no-repeat;
  width: 82px;
}

.demonlord .sheet-header .attributes .attributebox .attribute {
  position: relative;
  top: 12px;
  left: 26px;
  width: 25px;
}

.demonlord .sheet-header .attributes .attributebox .attribute input {
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 2px;
  border: 0;
  font-size: 16px;
  text-align: center;
  background: #fff;
}

.demonlord .sheet-header .attributes .attributebox .attributemod {
  position: relative;
  left: 25px;
  top: 0px;
  font-size: 11px;
  text-align: center;
}

.demonlord .sheet-header .attributes .attributebox .attributetext {
  position: relative;
  left: 8px;
  top: 12px;
  font-size: 12px;
  text-align: center;
  width: 71px;
}

.demonlord .sheet-header .attributes .attributebox .attributeper {
  position: relative;
  top: 15px;
  left: 26px;
  width: 25px;
}

.demonlord .sheet-header .attributes .attributebox .attributeper label {
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 2px;
  border: 0;
  font-size: 16px;
  text-align: center;
  background: #fff;
}

.demonlord .sheet-header .attributes .attributebox .attributemodper {
  position: relative;
  left: 25px;
  top: 5px;
  font-size: 11px;
  text-align: center;
}

.demonlord .sheet-header .attributes .attributebox .attributetextper {
  position: relative;
  left: 8px;
  top: 18px;
  font-size: 12px;
  text-align: center;
  width: 71px;
}

.demonlord .sheet-header .characteristics .characteristic .charbox {
  background: url("charbox.png") no-repeat;
  width: 82px;
  height: 68px;
}

.demonlord .sheet-header .characteristics .characteristic .charbox .char {
  position: relative;
  top: 9px;
  left: 9px;
  width: 25px;
}

.demonlord .sheet-header .characteristics .characteristic .charbox .char input {
  width: 24px;
  height: 21px;
  margin: 0;
  padding: 2px;
  border: 0;
  font-size: 13px;
  text-align: center;
  background: #fff;
}

.demonlord .sheet-header .characteristics .characteristic .charbox .char input.checkbox {
  display: none;
}

.demonlord .sheet-header .characteristics .characteristic .charbox .char input.checkbox + label {
  position: relative;
  top: -8px;
  left: -8px;
  display: inline-block;
  width: 35px;
  height: 38px;
  cursor: pointer;
}

.demonlord .sheet-header .characteristics .characteristic .charbox .char input.checkbox:checked + label {
  background-image: url("bloodstain.png");
}

.demonlord .sheet-header .characteristics .characteristic .charbox .charlabel {
  position: relative;
  top: 11px;
  left: 12px;
  width: 25px;
}

.demonlord .sheet-header .characteristics .characteristic .charbox .charlabel div {
  width: 30px;
  margin-left: -6px;
  text-align: center;
}

.demonlord .sheet-header .characteristics .characteristic .charbox .chartext {
  position: relative;
  left: 5px;
  top: 19px;
  width: 85px;
  font-size: 11px;
  font-weight: bold;
}

.demonlord .sheet-header .characteristics .characteristic .charbox .chartextlabel {
  position: relative;
  left: 5px;
  top: 24px;
  width: 85px;
  font-size: 11px;
  font-weight: bold;
}

.demonlord .sheet-header .characteristics .characteristic .charbox .chartextinjured {
  position: relative;
  left: 5px;
  top: -1px;
  width: 85px;
  font-size: 11px;
  font-weight: bold;
}

.demonlord .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.demonlord .sheet-body,
.demonlord .sheet-body .tab,
.demonlord .sheet-body .tab .editor {
  height: 100%;
  padding: 2px;
  font-size: 12px;
  margin-top: -8px;
}

.demonlord .sheet-body .weaponalign,
.demonlord .sheet-body .tab .weaponalign,
.demonlord .sheet-body .tab .editor .weaponalign {
  text-align: center;
}

.demonlord .sheet-body .descriptionblock,
.demonlord .sheet-body .tab .descriptionblock,
.demonlord .sheet-body .tab .editor .descriptionblock {
  margin-top: 10px;
  height: 100%;
}

.demonlord .sheet-body .descriptionblock .editor, .demonlord .sheet-body .descriptionblock .editor-content,
.demonlord .sheet-body .tab .descriptionblock .editor,
.demonlord .sheet-body .tab .descriptionblock .editor-content,
.demonlord .sheet-body .tab .editor .descriptionblock .editor,
.demonlord .sheet-body .tab .editor .descriptionblock .editor-content {
  height: 100%;
  min-height: 200px;
}

.demonlord .sheet-body .descriptionblock textarea,
.demonlord .sheet-body .tab .descriptionblock textarea,
.demonlord .sheet-body .tab .editor .descriptionblock textarea {
  font-family: "Roboto", sans-serif;
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
  resize: vertical;
  height: 200px;
}

.demonlord .sheet-body .descriptionblock textarea:focus, .demonlord .sheet-body .descriptionblock textarea:active,
.demonlord .sheet-body .tab .descriptionblock textarea:focus,
.demonlord .sheet-body .tab .descriptionblock textarea:active,
.demonlord .sheet-body .tab .editor .descriptionblock textarea:focus,
.demonlord .sheet-body .tab .editor .descriptionblock textarea:active {
  -webkit-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red;
  border: 1px solid #7a7971;
  outline: 0;
}

.demonlord .tox .tox-editor-container {
  background: #fff;
}

.demonlord .tox .tox-edit-area {
  padding: 0 8px;
}

.demonlord .wealth {
  margin-top: -5px;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 15px;
}

.demonlord .wealth .header {
  width: 100%;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  font-weight: bold;
}

.demonlord .wealth .header .edit {
  float: right;
  width: 15px;
}

.demonlord .wealth .body {
  margin-top: 5px;
}

.demonlord .wealth .body .lifestyle {
  height: 15px;
}

.demonlord .wealth .body .lifestyle .lifestyletitle {
  float: left;
  height: 20px;
  width: 50px;
}

.demonlord .wealth .body .lifestyle input {
  width: 100px;
  height: 15px;
}

.demonlord .wealth .body .coins {
  height: 15px;
  margin-bottom: 10px;
}

.demonlord .wealth .body .coins .cointitle {
  float: left;
  height: 20px;
  width: 25px;
}

.demonlord .wealth .body .coins input {
  float: left;
  height: 15px;
  width: 35px;
}

.demonlord .paths {
  margin-top: -5px;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 25px;
}

.demonlord .paths .header {
  width: 100%;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  font-weight: bold;
}

.demonlord .paths .header .edit {
  float: right;
  width: 15px;
}

.demonlord .paths .body {
  margin-top: 5px;
}

.demonlord .paths .body .path {
  height: 10px;
  margin-bottom: 10px;
}

.demonlord .paths .body .path .pathtitle {
  float: left;
  height: 20px;
  width: 45px;
}

.demonlord .paths .body .path input {
  float: left;
  width: 200px;
  height: 15px;
}

.demonlord .professions,
.demonlord .religion,
.demonlord .languages {
  margin-top: -5px;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 35px;
}

.demonlord .professions .header,
.demonlord .religion .header,
.demonlord .languages .header {
  width: 100%;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  font-weight: bold;
}

.demonlord .professions .header .edit,
.demonlord .religion .header .edit,
.demonlord .languages .header .edit {
  float: right;
  width: 15px;
}

.demonlord .professions .body,
.demonlord .religion .body,
.demonlord .languages .body {
  margin-top: 5px;
}

.demonlord .professions .body textarea,
.demonlord .religion .body textarea,
.demonlord .languages .body textarea {
  float: left;
  width: 100%;
  height: 100px;
  resize: none;
}

.demonlord .professions .body textarea:focus, .demonlord .professions .body textarea:active,
.demonlord .religion .body textarea:focus,
.demonlord .religion .body textarea:active,
.demonlord .languages .body textarea:focus,
.demonlord .languages .body textarea:active {
  -webkit-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red;
  border: 1px solid #7a7971;
  outline: 0;
}

.demonlord .professions .body input,
.demonlord .religion .body input,
.demonlord .languages .body input {
  float: left;
  width: 200px;
  height: 15px;
}

.demonlord .religion {
  margin-bottom: 25px;
}

.demonlord .religion .body {
  height: 15px;
}

.demonlord .professions {
  height: 110px;
}

.demonlord .professions .body {
  height: 100px;
}

.demonlord .languages {
  height: 80px;
}

.demonlord .languages .body {
  height: 70px;
}

.demonlord .languages .body textarea {
  height: 70px;
}

.demonlord .itemheader {
  margin-top: 8px;
  font-size: 11px;
  height: 17px;
  font-weight: bold;
  padding: 0;
  border-bottom: 1px solid #BBB;
}

.demonlord .itemheader .itemnameheader {
  float: left;
}

.demonlord .itemheader .item-controls {
  float: right;
  width: 10px;
}

.demonlord .sheet-body .sheet-content .descriptionblock {
  margin: 40px 5px 0px 5px;
  height: 100%;
}

.demonlord .sheet-body .sheet-content .descriptionblock .editor, .demonlord .sheet-body .sheet-content .descriptionblock .editor-content {
  height: 100%;
  min-height: 200px;
}

.demonlord .creature .header {
  height: 20px;
  line-height: 20px;
  background: #000;
  color: #fff;
  font-size: 12px;
  margin-bottom: 1px;
}

.demonlord .creature .header .charname {
  float: left;
  padding-left: 5px;
}

.demonlord .creature .header .charname input {
  float: left;
  width: 170px;
  height: 15px;
  margin-top: 2px;
  color: #fff;
}

.demonlord .creature .header .diff {
  float: right;
  width: 100px;
  padding: 1px 5px 0 0;
  text-align: right;
  font-size: 11px;
}

.demonlord .creature .header .diff input {
  float: right;
  width: 30px;
  height: 15px;
  margin: 2px 0 0 2px;
  color: #fff;
  text-align: center;
}

.demonlord .creature .subheader {
  height: 16px;
  background: #9C0719;
  color: #fff;
  font-size: 10px;
  line-height: 16px;
  padding-left: 5px;
}

.demonlord .creature .subheader .size {
  float: left;
  width: 200px;
  padding-right: 5px;
}

.demonlord .creature .subheader .size input {
  width: 70px;
  height: 12px;
  margin-top: 2px;
  color: #fff;
}

.demonlord .creature .subheader .size ::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.demonlord .creature .subheader .size ::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
}

.demonlord .creature .subheader .size :-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.demonlord .creature .subheader .size ::-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.demonlord .creature .subheader .size ::placeholder {
  color: #fff;
  opacity: 0.5;
}

.demonlord .creature .subheader .descriptor {
  float: left;
  width: 130px;
  padding-right: 5px;
}

.demonlord .creature .subheader .descriptor input {
  width: 120px;
  height: 12px;
  margin-top: 2px;
  color: #fff;
}

.demonlord .creature .subheader .descriptor ::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.demonlord .creature .subheader .descriptor ::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
}

.demonlord .creature .subheader .descriptor :-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.demonlord .creature .subheader .descriptor ::-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.demonlord .creature .subheader .descriptor ::placeholder {
  color: #fff;
  opacity: 0.5;
}

.demonlord .creature .subheader .trait {
  float: right;
  font-size: 10px;
}

.demonlord .creature .subheader .trait input {
  float: left;
  width: 12px;
  margin-top: -2px;
  padding-right: 5px;
}

.demonlord .creature .subheader .trait label {
  float: left;
  padding-right: 5px;
}

.demonlord .creature .subheader .trait .tooltip .tooltiptext {
  visibility: hidden;
  width: 260px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-align: left;
  border-radius: 3px;
  padding: 5px;
  top: 77px;
  right: 20px;
  position: absolute;
  z-index: 1;
}

.demonlord .creature .subheader .trait .tooltip:hover .tooltiptext {
  visibility: visible;
}

.demonlord .creature .left {
  float: left;
  width: 353px;
  margin-right: 20px;
}

.demonlord .creature .left .body {
  float: left;
  width: 100%;
  margin-top: 5px;
}

.demonlord .creature .left .body .stat {
  float: left;
  width: 100%;
  text-align: left;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 2px;
}

.demonlord .creature .left .body .stat label {
  font-weight: normal;
}

.demonlord .creature .left .body .stat input {
  float: left;
  width: 30px;
  height: 13px;
  margin: 0 0 0 2px;
  text-align: center;
}

.demonlord .creature .left .body .stat .stattitle {
  float: left;
  padding-right: 2px;
}

.demonlord .creature .left .body .stat .value {
  float: left;
}

.demonlord .creature .left .body .stat .senses,
.demonlord .creature .left .body .stat .speedtraits,
.demonlord .creature .left .body .stat .armor {
  float: left;
  padding-left: 5px;
  width: 150px;
}

.demonlord .creature .left .body .stat .senses input,
.demonlord .creature .left .body .stat .speedtraits input,
.demonlord .creature .left .body .stat .armor input {
  width: 140px;
}

.demonlord .creature .left .body .stat .armor {
  padding-right: 5px;
  width: auto;
}

.demonlord .creature .left .body .stat .health,
.demonlord .creature .left .body .stat .insanity,
.demonlord .creature .left .body .stat .corruption,
.demonlord .creature .left .body .stat .damage {
  float: left;
  padding-left: 10px;
}

.demonlord .creature .left .body .grid,
.demonlord .creature .left .body .grid-2col {
  margin: 0 0 2px 0;
}

.demonlord .creature .left .body .traits {
  float: left;
  width: 100%;
  font-size: 10px;
  margin-top: -5px;
}

.demonlord .creature .left .body .traits .traitnameheader {
  float: left;
  width: 50px;
  font-size: 11px;
}

.demonlord .creature .left .body .traits .items-list .item-header {
  height: 18px;
}

.demonlord .creature .left .body .traits .items-list .item-controls {
  float: right;
  margin-top: 0px;
}

.demonlord .creature .right {
  float: left;
  width: 130px;
  padding-top: 8px;
}

.demonlord .creature .right .edit {
  width: 130px;
  font-size: 11px;
}

.demonlord .creature .right img {
  height: auto;
  border: 0;
}

.demonlord .creature .actions {
  float: left;
  width: 100%;
}

.demonlord .creature .actions .header {
  float: none;
  background: #A7A9AC;
  border-bottom: 0;
  line-height: 20px;
  padding-left: 5px;
  color: #000;
}

.demonlord .creature .actions .header .itemname {
  float: left;
  font-size: 12px;
}

.demonlord .creature .actions .header .item-controls {
  float: right;
  margin-right: 5px;
}

.demonlord .creature .actions .header input {
  width: 30px;
  height: 13px;
  margin: 0 0 0 2px;
  text-align: center;
}

.demonlord .creature .actions .description {
  font-size: 12px;
}

.demonlord .creature .actions .description .editor, .demonlord .creature .actions .description .editor-content {
  height: 100%;
  min-height: 200px;
}

.demonlord .creature .actions .body {
  margin: 5px 0 10px 0;
  padding: 0;
  font-size: 11px;
  list-style: none;
}

.demonlord .creature .actions .body .item {
  margin: 0 0 10px 0;
  padding: 0;
  height: auto;
  overflow-y: auto;
}

.demonlord .creature .actions .body .item .itemname {
  float: left;
  height: 14px;
  font-weight: bold;
}

.demonlord .creature .actions .body .item .itemname input {
  width: 150px;
  height: 13px;
  margin: 0 0 0 2px;
}

.demonlord .creature .actions .body .item .itemnamefull {
  float: left;
  width: 100%;
  height: 14px;
  font-weight: bold;
}

.demonlord .creature .actions .body .item .item-controls {
  float: right;
  width: 25px;
  margin-right: 5px;
}

.demonlord .creature .actions .body .item .spellcastings,
.demonlord .creature .actions .body .item .spelltype,
.demonlord .creature .actions .body .item .bonesbanes {
  float: left;
  padding-left: 5px;
}

.demonlord .creature .actions .body .traditionitem {
  margin-top: 10px;
  margin-bottom: 2px;
}

.demonlord .creature .actions .body .spell {
  margin: 0 0 0 10px;
}

.demonlord .features {
  margin-top: -6px;
}

.demonlord .tradition-header {
  margin-top: 10px;
  font-weight: bold;
}

.demonlord .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  margin-top: 5px;
  margin-bottom: 15px;
}

.demonlord .items-list .item-header {
  height: 16px;
  border-bottom: 1px solid #BBB;
  font-size: 11px;
  font-weight: bold;
}

.demonlord .items-list .item-header .item-controls {
  height: 0;
}

.demonlord .items-list .item-header .weaponnameheader {
  float: left;
  width: 230px;
}

.demonlord .items-list .item-header .damageheader {
  float: left;
  width: 65px;
  margin-right: 10px;
}

.demonlord .items-list .item-header .bonesbanesheader {
  float: left;
  width: 50px;
  margin-right: 10px;
}

.demonlord .items-list .item-header .spelltypeheader {
  float: left;
  width: 50px;
}

.demonlord .items-list .item-header .spellcastingsheader {
  float: left;
  width: 50px;
}

.demonlord .items-list .item-header .propertiesheader {
  float: left;
  width: 230px;
}

.demonlord .items-list .item-header .defenseheader {
  float: left;
  width: 100px;
  margin-right: 10px;
}

.demonlord .items-list .item-header .spellnameheader {
  float: left;
  width: 350px;
}

.demonlord .items-list .item-header .traditionnameheader {
  float: left;
  width: 380px;
}

.demonlord .items-list .item {
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  font-size: 11px;
  overflow-y: auto;
}

.demonlord .items-list .item .item-image {
  float: left;
  margin-right: 5px;
  width: 30px;
}

.demonlord .items-list .item img {
  display: block;
}

.demonlord .items-list .item .weaponname {
  float: left;
  width: 185px;
  margin-right: 10px;
}

.demonlord .items-list .item .damage {
  float: left;
  width: 65px;
  margin-right: 10px;
}

.demonlord .items-list .item .defense {
  float: left;
  width: 280px;
  margin-right: 10px;
}

.demonlord .items-list .item .bonesbanes {
  float: left;
  width: 50px;
  margin-right: 10px;
  padding-left: 2px;
}

.demonlord .items-list .item .properties {
  float: left;
  width: 350px;
}

.demonlord .items-list .item .tradition .traditiontitle {
  float: left;
}

.demonlord .items-list .item .tradition .traditionname {
  float: left;
  margin-left: 5px;
  width: 200px;
}

.demonlord .items-list .item .tradition .traditionname input {
  width: 180px;
}

.demonlord .items-list .item .tradition .traditionname .tradition-edit {
  float: left;
  width: 200px;
  font-weight: bold;
}

.demonlord .items-list .item .tradition .traditionname .tradition-focus {
  float: left;
  width: 200px;
}

.demonlord .items-list .item .itemname {
  float: left;
  height: 14px;
  font-weight: bold;
}

.demonlord .items-list .feature {
  font-size: 11px;
  margin-top: 10px;
}

.demonlord .items-list .feature .featurename {
  height: 14px;
  font-weight: bold;
}

.demonlord .items-list .feature .featurediscription {
  width: 100%;
  height: auto;
}

.demonlord .items-list .feature .item-controls {
  float: right;
}

.demonlord .items-list .spell .spellname {
  float: left;
  width: 305px;
  margin-right: 10px;
}

.demonlord .items-list .spell .spelltype {
  float: left;
  width: 50px;
}

.demonlord .items-list .spell .spellcastings {
  float: left;
  width: 50px;
}

.demonlord .items-list .spell .spellinfo {
  float: left;
  margin-top: 10px;
}

.demonlord .items-list .spell .toggleInfo {
  float: left;
  width: 400px;
}

.demonlord .items-list .item-align {
  width: 100%;
}

.demonlord .items-list .item-name {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
}

.demonlord .items-list .item-name input {
  width: 200px;
}

.demonlord .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  text-align: right;
  font-size: 12px;
  height: 20px;
}

.demonlord .items-list .item-controls .item-control {
  padding-left: 1px;
}

.demonlord .items-list .item-controls .item-wearoff {
  color: #999;
}

.demonlord .items-list .talent .talentheader {
  float: left;
  width: 335px;
  margin-right: 10px;
  font-weight: bold;
}

.demonlord .items-list .talent .talenttype {
  float: left;
  width: 50px;
}

.demonlord .items-list .talent .talent-uses {
  float: left;
  width: 50px;
}

.demonlord .items-list .talent .spellinfo {
  float: left;
  margin-top: 10px;
}

.demonlord .items-list .talent .toggleTalentInfo {
  float: left;
  width: 530px;
}

.demonlord .items-list .talent .toggleItemInfo {
  float: left;
  width: 500px;
}

.demonlord .items-list .talent .option {
  float: left;
  min-width: 575px;
  height: 17px;
  line-height: 17px;
  padding: 0px 1px 0 4px;
  text-align: left;
}

.demonlord .items-list .talent .bonesbanes {
  float: left;
  width: 100%;
  height: 17px;
  line-height: 17px;
  padding: 0 1px;
  text-align: left;
}

.demonlord .items-list .talent input[type="checkbox"] {
  float: left;
  height: 12px;
  margin: 2px 0 0 -3px;
}

.demonlord .resource {
  padding: 5px;
}

.demonlord .resource .resource-label {
  font-weight: bold;
  font-size: 12px;
}

.demonlord .resource .modifierblock {
  padding: 5px;
  border: 1px solid #bbb;
  border-radius: 2px;
}

.demonlord .resource .modifierblock input[type="text"],
.demonlord .resource .modifierblock select {
  margin-bottom: 5px;
  font-size: 11px;
  height: 20px;
}

.demonlord .resource .modifierblock .grid {
  margin: 0;
}

.demonlord .resource .modifierblock label {
  font-size: 11px;
  width: 100px;
  height: 20px;
}

.demonlord .resource .modifierblock .resource-label {
  float: left;
  width: 100%;
  height: 20px;
  margin-bottom: -4px;
}

.demonlord .resource .modifierblock .damagevalue {
  width: 78%;
}

.demonlord .resource .modifierblock .damagetype {
  float: right;
  width: 20%;
}

.demonlord .resource .modifierblockcheck,
.demonlord .resource .modifierblockcheckHeight {
  padding: 5px;
  border: 1px solid #333;
  border-radius: 2px;
}

.demonlord .resource .modifierblockcheck input,
.demonlord .resource .modifierblockcheckHeight input {
  float: left;
  margin: 0px 0 2px -3px;
  height: 12px;
  color: #000;
}

.demonlord .resource .modifierblockcheck .grid,
.demonlord .resource .modifierblockcheckHeight .grid {
  margin: 0 0 10px 0;
}

.demonlord .resource .modifierblockcheck label,
.demonlord .resource .modifierblockcheckHeight label {
  font-size: 11px;
  margin-left: -2px;
}

.demonlord .resource .modifierblockcheckHeight {
  height: 37px;
}

.demonlord .resource textarea {
  font-family: "Roboto", sans-serif;
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
  resize: vertical;
}

.demonlord .resource textarea:focus, .demonlord .resource textarea:active {
  -webkit-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red;
  border: 1px solid #7a7971;
  outline: 0;
}

.demonlord .resource .item-controls {
  float: right;
  margin-top: -15px;
}

.demonlord .resource .item-controls-line {
  float: right;
  margin-top: -21px;
}

.demonlord .tabs {
  background: url("tabbar.png") no-repeat;
  height: 100px;
  /*
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    background: rgba(0, 0, 0, 0.1);
    */
  color: #ddd;
}

.demonlord .tabs .item {
  line-height: 94px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 4px;
}

.demonlord .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}
