@mixin hr-gray {
  border-color: #33333333;
  margin-top: 2px;
  margin-bottom: 2px;
}

.dl-container-right-align {
  display: flex;
  justify-content: flex-end;
}

.dl-editor-box {
  min-height: 64px;
  display: block !important;

  .editor {
    min-height: 64px;
  }

  .editor-content {
    height: fit-content !important;
    min-height: 64px;
  }
}

// Stuff that it's clickable gets highlighted when hovering
.dl-clickable,
.dl-rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px #fa200b;
    cursor: pointer !important;
  }
}

.dl-clickable-nored {
  &:hover,
  &:focus {
    cursor: pointer !important;
  }
}

// Vertical aligment
.dl-vcenter {
  margin-top: auto;
  margin-bottom: auto;
}

// Horizontal aligment
.dl-hcenter {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.dl-bordered-bg-light {
  background: #00000005;
  border-radius: 2px;
  border: 1px solid #0000001a;
}

.dl-new-project {
  @extend .dl-bordered-bg-light;
  border-radius: 4px;
  box-sizing: content-box;
  padding: 2px;
  width: 16px;
  height: 16px;
  position: relative;

  i {
    width: 16px;
    height: 16px;
    border: none;
    background-color: gray;
    pointer-events: none;
  }
}

.dl-new-project-radio {
  @extend .dl-new-project;

  & > input {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  & > i {
    position: absolute;
    left: 2px;
    top: 2px;
    background-color: gray;
  }

  &:hover {
    border-color: dimgray;

    & > i {
      background-color: dimgray;
    }
  }

  &.checked {
    //border-color: var(--color-text-dark-primary);
  }

  input:checked ~ i {
    background-color: #303030;
  }
}

.dl-new-project-2 {
  @extend .dl-bordered-bg-light;
  border-radius: 4px;
  box-sizing: content-box;
  padding: 2px;
  padding-right: 6px;
  //width: 16px;
  height: 16px;
  position: relative;
  display: inline-flex !important;
  width: fit-content;

  & i {
    width: 16px;
    height: 16px;
    background-color: #303030;
    flex-shrink: 0;
  }

  .sep {
    border-left: 1px solid #0000001a;
    padding-left: 2px;
    margin-left: 2px;
  }

  &:hover,
  &:hover span {
    border-color: dimgray;
    cursor: pointer;
  }

  input {
    text-align: center !important;
    margin: 0 !important;
    height: 100% !important;
    min-width: 24px;
    color: black !important;

    &[type='text'] {
      width: fit-content !important;
    }

    &[type='text']:not([autosize='true']),
    &[type='number']:not([autosize='true']) {
      width: 16px;
    }
    &:hover,
    &:focus {
      cursor: text;
      box-shadow: 0 0 2px 1px #a22223b0 !important;
      background-color: transparent !important;
      padding: 0 !important;
      border: 1px solid transparent !important;
    }

    &:last-child {
      margin-right: -4px !important;
    }
  }

  &.nohover:hover {
    cursor: default;
  }
}

.dl-new-project-2-dropdown {
  $color: #d5d5d5;
  $color-hover: #e0e0e0;
  $color-checked: $color-hover;
  $bg-hover: rgba(255, 255, 255, 0.04);
  $bg-checked: rgba(255, 255, 255, 0.13);
  $border-color: rgb(109, 109, 109);
  display: flex;
  flex-direction: column;
  width: fit-content;
  //outline: 1px solid $border-color;
  border-radius: 4px;

  & > div {
    @extend .dl-new-project-2;
    border: none;
    color: $color;
    padding-right: 4px;
    flex: 1 1 0;
    width: auto;
    margin: 1px;

    .sep {
      border-color: $border-color;
      margin: 0 4px;
    }

    i {
      background-color: $color;
    }

    &:hover {
      cursor: pointer;
      //border-color: $color-hover;
      color: $color-hover;
      background-color: $bg-hover;

      .sep {
        //border-color: $color-hover;
      }

      i {
        background-color: $color-hover;
      }
    }

    &.checked {
      background-color: $bg-checked;
    }
    &.checked,
    &.checked .sep {
      //border-color: $color-checked;
      color: $color-checked;
      font-weight: bold;

      i {
        background-color: $color-checked;
      }
    }

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;

      &:hover {
        cursor: pointer;
      }
    }

    span,
    i {
      pointer-events: none;
    }
  }
}

// Tippy theme
.tippy-box[data-theme~='demonlord-dropdown'] {
  padding: 0;
  //background-color: #222222;

  .tippy-content {
    padding: 4px;
  }
}

// Custom Editor
.dl-input-grey,
.text-areas textarea,
.dl-editor .dl-editor-content {
  font-family: $font-primary;
  background: #0000000d !important;
  padding: 4px;
  border: none;
  border-radius: 2px;
  padding-left: 8px;

  &:focus,
  &:focus-visible {
    outline: 1px solid rgb(31, 31, 31);
    box-shadow: none !important;
  }
}
.dl-editor .dl-editor-toolbar {
  display: none;
}

// Custom icons
@mixin dl-icon($src) {
  -webkit-mask-image: url($src);
  mask-image: url($src);
  -webkit-mask-size: cover;
  mask-size: cover;
  //background-color: black;
  display: inline-block;

  &.gray {
    background-color: gray;
  }
}

i.dl-icon-strength {
  @include dl-icon('../assets/ui/attributes/strength.svg');
}

i.dl-icon-agility {
  @include dl-icon('../assets/ui/attributes/agility.svg');
}

i.dl-icon-intellect {
  @include dl-icon('../assets/ui/attributes/intellect.svg');
}

i.dl-icon-will {
  @include dl-icon('../assets/ui/attributes/will.svg');
}

i.dl-icon-perception {
  @include dl-icon('../assets/ui/attributes/perception.svg');
}

i.dl-icon-defense {
  @include dl-icon('../assets/ui/attributes/defense.svg');
}

i.dl-icon-healing {
  @include dl-icon('../assets/ui/other-svg/healing.svg');
}

i.dl-icon-minus {
  @include dl-icon('../assets/ui/other-svg/minus.svg');
}

i.dl-icon-nothing {
  @include dl-icon('../assets/ui/other-svg/nothing.svg');
}

i.dl-icon-health {
  @include dl-icon('../assets/ui/other-svg/health.svg');
}

i.dl-icon-size {
  @include dl-icon('../assets/ui/other-svg/size.svg');
}

i.dl-icon-speed {
  @include dl-icon('../assets/ui/other-svg/speed.svg');
}

i.dl-icon-power {
  @include dl-icon('../assets/ui/other-svg/power.svg');
}

i.dl-icon-insanity {
  @include dl-icon('../assets/ui/other-svg/insanity.svg');
}

i.dl-icon-corruption {
  @include dl-icon('../assets/ui/other-svg/corruption.svg');
}

i.dl-icon-d6 {
  @include dl-icon('../assets/ui/other-svg/d6.svg');
}

i.dl-icon-d20 {
  @include dl-icon('../assets/ui/other-svg/d20.svg');
}

i.dl-icon-d20-plus {
  @include dl-icon('../assets/ui/other-svg/d20-plus.svg');
}
