@mixin hr-gray {
  border-color: #33333333;
  margin-top: 2px;
  margin-bottom: 2px;
}

.dl-container-right-align {
  display: flex;
  justify-content: flex-end;
}

dl.roll-table {
  cursor: pointer !important;
  max-width: 25px;
  margin-left: 1px;
}

.dl-editor-box {
  font-family: $font-primary;
  height: 100%;

  .editor-content {
    background: #0000000d !important;
    padding: 4px 8px;
    border: none;
    border-radius: 2px;
    height: fit-content;
    min-height: 32px;
  }

  .editor-container {
    margin: 8px 0 0;
  }

  .editor-menu {
    border-radius: 4px;

    .pm-dropdown,
    .pm-dropdown ul {
      background: #c8c6bd;
    }
  }

  .editor {
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: var(--demonlord-red) transparent;
  }
}

.dl-input-grey,
.text-areas textarea {
  font-family: $font-primary;
  background: #0000000d !important;
  padding: 4px 8px;
  border: none;
  border-radius: 2px;
  height: fit-content;
  min-height: 32px;

  &:focus,
  &:focus-visible {
    outline: 1px solid rgb(31, 31, 31);
    box-shadow: none !important;
  }
}

// Stuff that it's clickable gets highlighted when hovering
.dl-clickable,
.dl-rollable {
  transition: color 0.3s, text-shadow 0.3s;

  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px #fa200b;
    cursor: pointer !important;
  }
}

.dl-clickable-nored {
  &:hover,
  &:focus {
    cursor: pointer !important;
  }
}

// Vertical aligment
.dl-vcenter {
  margin-top: auto;
  margin-bottom: auto;
}

// Horizontal aligment
.dl-hcenter {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.dl-bordered-bg-light {
  background: #00000005;
  border-radius: 2px;
  border: 1px solid #0000001a;
}

.dl-new-project {
  @extend .dl-bordered-bg-light;
  border-radius: 4px;
  box-sizing: content-box;
  padding: 2px;
  width: 16px;
  height: 16px;
  position: relative;

  i {
    width: 16px;
    height: 16px;
    border: none;
    background-color: gray;
    pointer-events: none;
  }
}

.dl-new-project-radio {
  @extend .dl-new-project;

  & > input {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    width: 100%;
    height: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  & > i {
    position: absolute;
    left: 2px;
    top: 2px;
    background-color: gray;
  }

  &:hover {
    border-color: dimgray;

    & > i {
      background-color: dimgray;
    }
  }

  &.checked {
    //border-color: var(--color-text-dark-primary);
  }

  input:checked ~ i {
    background-color: #303030;
  }
}

.dl-new-project-2 {
  @extend .dl-bordered-bg-light;
  border-radius: 4px;
  box-sizing: content-box;
  padding: 2px;
  padding-right: 6px;
  //width: 16px;
  height: 16px;
  position: relative;
  display: inline-flex !important;
  width: fit-content;

  & i {
    width: 16px;
    height: 16px;
    background-color: #303030;
    flex-shrink: 0;
  }

  & img {
    display: inline-block;
    width: 14px;
    height: 14px;
    align-self: center;
    border: none;
    margin-left: 2px;
  }

  .sep {
    border-left: 1px solid #0000001a;
    padding-left: 2px;
    margin-left: 2px;
  }

  &:not(.nohover):hover,
  &:not(.nohover):hover span {
    border-color: dimgray;
    cursor: pointer;
  }

  &.selectable {
    input[type='checkbox'],
    input[type='radio'] {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;

      &:hover {
        cursor: pointer;
      }
    }

    &:not(.selected) {
      color: gray;

      i {
        background-color: gray;
      }
    }
    &.selected,
    &.selected .sep {
      border-color: #3333339e;
    }
  }

  input {
    text-align: center !important;
    margin: 0 !important;
    height: 100% !important;
    min-width: 24px;
    color: black !important;

    &[type='text']:not(.editable-stat-input) {
      width: fit-content !important;
    }

    &[type='text']:not([autosize='true']),
    &[type='number']:not([autosize='true']) {
      width: 16px;
    }

    &[type='checkbox'] {
      width: 14px;
    }

    &:hover:not([readonly]),
    &:focus:not([readonly]) {
      cursor: text;
      box-shadow: 0 0 2px 1px #a22223b0 !important;
      background-color: transparent !important;
      padding: 0 !important;
      border: 1px solid transparent !important;
    }

    &:last-child {
      margin-right: -4px !important;
    }
  }

  &.attribute {
    input {
      width: 24px !important;
    }
  }

  &.nohover:hover {
    cursor: default;
  }
}

.dl-new-project-2-dropdown {
  $color: #d5d5d5;
  $color-hover: #e0e0e0;
  $color-checked: $color-hover;
  $bg-hover: rgba(255, 255, 255, 0.04);
  $bg-checked: rgba(255, 255, 255, 0.13);
  $border-color: rgb(109, 109, 109);
  display: flex;
  flex-direction: column;
  width: fit-content;
  //outline: 1px solid $border-color;
  border-radius: 4px;

  & > div {
    @extend .dl-new-project-2;
    border: none;
    color: $color;
    padding-right: 4px;
    flex: 1 1 0;
    width: auto;
    margin: 1px;

    .sep {
      border-color: $border-color;
      margin: 0 4px;
    }

    i {
      background-color: $color;
    }

    &:hover {
      cursor: pointer;
      //border-color: $color-hover;
      color: $color-hover;
      background-color: $bg-hover;

      .sep {
        //border-color: $color-hover;
      }

      i {
        background-color: $color-hover;
      }
    }

    &.checked {
      background-color: $bg-checked;
    }

    &.checked,
    &.checked .sep {
      //border-color: $color-checked;
      color: $color-checked;
      font-weight: bold;

      i {
        background-color: $color-checked;
      }
    }

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;

      &:hover {
        cursor: pointer;
      }
    }

    span,
    i {
      pointer-events: none;
    }
  }
}

.dl-custom-checkbox {
  @extend .dl-new-project-2;
  margin-right: 1px;
  margin-left: auto;
  background-color: #ffffff1a;
  border-color: #00000052;
  width: 14px;
  height: 14px;
  padding: 0;

  .editable-stat & {
    /* Parent is editable-stat */
    margin-left: 3px;
    top: -2px;
  }

  &.checked {
    background: rgba(105, 105, 105, 0.61);
  }
}

// Tippy theme
.tippy-box[data-theme~='demonlord-dropdown'] {
  padding: 0;
  //background-color: #222222;

  .tippy-content {
    padding: 4px;
  }
}

.dl-drop-zone-view {
  outline: none !important;
  padding-bottom: 4px !important;
  min-height: 0 !important;

  &:hover {
    cursor: default !important;
  }
}

.dl-drop-zone-view,
.dl-drop-zone {
  min-height: 64px;
  background: rgb(126 126 126 / 5%);
  outline: 2px dashed #33333333;
  border-radius: 2px;
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  padding: 4px 4px 24px;
  gap: 4px;

  &.dl-drop-zone-col-2 {
    flex-wrap: wrap;
    flex-direction: row !important;
    justify-content: space-between !important;

    .dl-nested-item {
      width: 48%;
    }
  }

  &:hover {
    cursor: copy;
  }

  .dl-nested-item {
    background: rgba(0, 0, 0, 0.05);
    width: 100%;
    padding: 2px 2px 2px 0;
    border-radius: 2px;
    box-sizing: content-box;
    height: 16px;
    display: flex;
    gap: 4px;
    //outline: 1px solid #33333333;
    img {
      width: 16px;
      height: 16px;
      border: none;
      border-radius: 2px;
    }

    &:hover {
      cursor: default;
    }

    span {
      height: 16px;
    }

    .delete-ancestryitem {
      margin-left: auto;
      margin-right: 4px;
    }
  }
}

.changes-list > .effect-change > .key > select {
  width: 100%;
}
