@import '../utils/colors';
@import '../utils/typography';
@import 'typography';
@import 'generic-components';

.dl-item-form {
  .tab {
    padding: 16px;
  }

  input,
  select,
  input[type='number'] {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    min-height: 16px;
    resize: none;

    &:empty {
      max-height: 28px;
    }

    padding: 0;
  }

  input[type='number'] {
    width: 24px;
  }

  .dl-item-section-header {
    font-family: $font-pm !important;
    font-size: $f-size-big !important;
    font-weight: bold !important;
    padding: 0 16px;

    div.uses {
      height: 19px;
      margin-left: 8px;
      & > input[type='number'] {
        background: none !important;
        border: none !important;
        padding: 0 !important;
        text-align: center !important;
      }
    }

    input,
    select,
    input[type='number'] {
      @extend .dl-input-grey;
      font-family: $font-pm !important;
      font-size: $f-size-big !important;
      font-weight: bold !important;
      color: var(--color-text-dark-primary);
      text-align: center;
    }

    select {
      appearance: none;
      cursor: pointer;
      margin-top: 0;
    }
  }

  hr {
    @include hr-gray;
  }

  .dl-item-section-section {
    &.margin > div {
      margin-top: 2px;
      margin-bottom: 2px;
    }

    &.text-areas {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &.text-areas > div > b {
      min-width: 100px;
      align-self: flex-start;
    }

    font-family: $font-primary !important;
    padding: 4px 16px;
    font-size: $f-size-big-slight !important;
    line-height: 1.4;

    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      & > div:last-child {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }

    &.dl-column-flex {
      flex-direction: row;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;

      & > div {
        flex-direction: column;
        width: 100%;

        b {
          align-self: center;
          margin-bottom: 4px;
        }
      }
    }

    & > div.dl-column-flex {
      flex-direction: row;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;

      .dl-new-project-2 .sep {
        border-left: 1px solid #0000001a !important;
        height: 16px !important;
      }
    }

    .dl-item-damage-container {
      flex-direction: column;
      align-items: flex-end !important;

      & > div {
        display: flex;
        gap: 4px;
      }

      a {
        width: 16px;
        text-align: center;
      }
    }

    input,
    select,
    input[type='number'],
    textarea {
      font-family: $font-primary !important;
      font-size: $f-size-big-slight !important;
      font-weight: normal;
      background: none;
      border: none;
      color: var(--color-text-dark-primary);
      text-align: left;
    }

    select {
      appearance: none;
      cursor: pointer;
      margin-top: 0;
      margin-left: 4px;
    }

    textarea {
      //display: block;
      resize: none;
      min-height: 20px;
      overflow: hidden;
      box-shadow: none;
      padding: 0 4px;
      width: auto;
      flex-grow: 1;

      &:first-letter {
        text-transform: capitalize;
      }
    }

    &.dl-characteristics-container .dl-new-project-2 {
      margin-top: 2px;
      margin-bottom: 2px;
      & > span:not(:empty) {
        width: 64px;
        text-align: center;
        text-overflow: ellipsis;
        max-height: 16px;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  .dl-item-section-description {
    & > div > b {
      display: inline-block;
      font-family: $font-primary;
      font-weight: bolder;
      margin-bottom: 4px;
    }

    .dl-editor-content {
      min-height: 64px;
    }

    margin: 4px 0;
    padding: 0 16px;
    font-family: $font-primary;
    font-size: $f-size-big-slight;
  }

  .dl-drop-zone {
    min-height: 64px;
    background: rgb(126 126 126 / 5%);
    outline: 2px dashed #33333333;
    border-radius: 2px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding: 4px;

    &:hover {
      cursor: copy;
    }
    .dl-nested-item {
      background: rgba(0, 0, 0, 0.05);
      width: 100%;
      padding: 2px 2px 2px 0;
      border-radius: 2px;
      box-sizing: border-box;
      height: 16px;
      //outline: 1px solid #33333333;
      img {
        width: 16px;
        height: 16px;
        border: none;
        border-radius: 2px;
      }
      &:hover {
        cursor: default;
      }
      .delete-ancestryitem {
        margin-left: auto;
        margin-right: 4px;
      }
    }
  }
}
