@import '../utils/colors';
@import '../utils/typography';
@import 'typography';
@import 'generic-components';

// Underlines while adding a small padding
.dl-underline-red {
  border: none !important;
  border-bottom: 1px solid $demonlord-red !important;
  padding-bottom: 2px;
}

// Used for buttons in character sheets
.dl-item-controls {
  float: right;
  width: 15px;
  margin: 0;
  margin-top: 1px;
}

// Row of items
.dl-item-row {
  @extend .dl-bordered-bg-light;
  min-height: 32px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: $f-size-normal;
  font-family: $font-primary;

  img {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 4px;
    border-color: #3e3e3e;
  }

  label {
    margin-left: 2px;
    display: inline-block;
    font-weight: bold;
  }

  // Applies to the first sub-row inside the item row. The second is usually left for toggleable info
  .row:first-child > div,
  &:first-child > div {
    @extend .dl-vcenter;

    // First child text is aligned left, others are centered
    &:not(:first-child) {
      @extend .dl-hcenter;
    }
  }

  label.center {
    margin-top: 9px;
    margin-left: 42px;
  }

  .item-wearoff {
    color: $c-light-gray;
  }

  .fas {
    margin-top: 2px;
  }

  .dl-item-info {
    padding-bottom: 4px;
    padding-top: 8px;
    line-height: 1.3;

    hr {
      @include hr-gray;
    }

    & > div {
      margin-left: 8px;
      margin-right: 8px;
    }

    .dl-item-info-header {
      text-transform: uppercase;
      font-family: $font-pm;
      font-size: 10px;
    }
  }
}

// Row of items header
.dl-item-row-header {
  @extend .dl-item-row;
  @extend .row;
  min-height: 0;
  background: none !important;
  border-radius: 0;
  border: none;
  font-family: $font-header;
  min-height: 15px;

  & > div:not(:first-child) {
    @extend .dl-hcenter;
  }
}

.dl-sheet {
  font-size: $base-font-size;
}

// Hidden item
.dlInfo {
  //border-left: 1px solid gray;
  //border-bottom: 1px solid gray;
  //border-bottom-left-radius: 8px;
  padding-left: 4px;
  padding-right: 4px;
}

// Make "uses" (talents, spells) arrows not count towards positioning
i.fas.fa-arrows-alt-v {
  width: 0;
}

i.fas.fa-shield-alt {
  margin-right: -16px;
  width: 0;
  float: right;
}

// Creature tab
.dl-creature-tab {
  & > div.grid-2 {
    height: 100%;

    & > .col-1 {
      height: 98%;
      padding-bottom: 32px;
    }

    & > .col-1:first-child {
      border-right: 1px solid #33333333;
      margin-right: 16px;
      padding-right: 16px;
      height: 98%;
    }

    & > .col-1:last-child {
      padding-right: 8px;
    }
  }

  .dl-item-row {
    label {
      display: inline-block;
      margin-top: 9px;
    }

    .dlToggleInfoBtn {
      .fas {
        width: 0;
        position: relative;
        left: -12px;
        text-align: center;
      }
    }
  }
}

.dl-creature-reference-tab {
  font-family: $font-primary;
  width: 100%;
  height: auto;
  overflow: auto;

  .dl-creature-title {
    font-family: $font-pm;
    background-color: black;
    color: white;
    padding: 6px;
  }

  .dl-creature-sub-title {
    font-style: italic;
    background-color: rgb(156 7 25);
    color: white;
    padding-left: 6px;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-top: 2px;
  }

  .dl-creature-section-header {
    background-color: #11111111;
    border-top: 2px solid black;
    text-transform: uppercase;
    font-family: $font-pm;
    padding-left: 6px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-top: 2px;
    font-weight: bold;
  }

  .dl-creature-section-section {
    padding: 6px;

    p {
      display: inline;
    }

    & > div {
      line-height: 1.4;
    }
  }
}

// Vehicle tab
.dl-vehicle-tab {
  & > div.grid-2 {
    height: 100%;

    & > .col-1 {
      height: 98%;
      padding-bottom: 32px;
    }

    & > .col-1:first-child {
      border-right: 1px solid #33333333;
      margin-right: 16px;
      padding-right: 16px;
      height: 98%;
    }

    & > .col-1:last-child {
      padding-right: 8px;
    }
  }

  .dl-item-row {
    label {
      display: inline-block;
      margin-top: 9px;
    }

    .dlToggleInfoBtn {
      .fas {
        width: 0;
        position: relative;
        left: -12px;
        text-align: center;
      }
    }
  }
}

.dl-vehicle-reference-tab {
  font-family: $font-primary;
  width: 100%;
  height: auto;
  overflow: auto;

  .dl-vehicle-title {
    font-family: $font-pm;
    background-color: black;
    color: white;
    padding: 6px;
  }

  .dl-vehicle-sub-title {
    font-style: italic;
    background-color: rgb(156 7 25);
    color: white;
    padding-left: 6px;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-top: 2px;
  }

  .dl-vehicle-section-header {
    background-color: #11111111;
    border-top: 2px solid black;
    text-transform: uppercase;
    font-family: $font-pm;
    padding-left: 6px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-top: 2px;
    font-weight: bold;
  }

  .dl-vehicle-section-section {
    padding: 6px;

    p {
      display: inline;
    }

    & > div {
      line-height: 1.4;
    }
  }
}
