.window-app .window-content {
  background-size: cover !important;
  background: url(../assets/ui/paper.jpg) repeat !important;
  background-image: url(../assets/ui/paper.jpg) !important;
  background-position-x: initial !important;
  background-position-y: initial !important;
  background-size: cover !important;
  background-repeat-x: repeat !important;
  background-repeat-y: repeat !important;
  background-attachment: initial !important;
  background-origin: initial !important;
  background-clip: initial !important;
  background-color: initial !important;
}
.cromethius-item-form .sheet-body {
  height: 100% !important;
}
.cromethius-item-content {
  font-family: 'IM Fell English SC', serif;
  margin-bottom: 16px !important;

  .item-general {
    .row {
      padding: 8px 0px;
      margin: 0;
      height: 150px;
    }

    input[name='name'] {
      color: black;
      font-size: 24px;
      font-weight: bold;
      height: 28px !important;
      width: 100% !important;
    }
    div.template-type {
      position: relative;
      left: 0px;
      top: 0px;
      color: #b5b5b5;
      font-size: 16px;
      text-transform: capitalize;
      text-align: center;
    }
    .item-banner {
      // must be set in the html element for some reason
      // background: url(systems/demonlord08/assets/ui/sidebar_creature.png);
      background-size: cover !important;
      margin-top: -10px;
      background-position: right 0 bottom 40% !important;
      padding-top: 10px;
    }
    .editor-content {
      font-size: 15px;
      padding-top: 4px;
    }
    .tox-editor-header {
      //display: none !important; // FIXME: Here i removed the editor controls
    }
    .tox-edit-area {
      background: #b0ab9f;
      height: 85%;
    }
  }

  .tab,
  .sheet-content {
    padding: 0 !important;
  }

  .item-tab-header {
    margin: 8px 0px 0px;
    img {
      width: 90%;
      left: 5%;
      border: none;
      position: relative;
    }
    div {
      margin-top: -12px;
      font-size: 28px;
      text-align: center;
      font-weight: bold;
    }
  }

  .item-table {
    margin: 4px 16px;
    .row {
      padding: 8px 0px;
    }
    textarea,
    select,
    input {
      height: 24px;
      width: 100%;
      appearance: none;
      font-size: 16px;
      font-weight: normal;
      text-align: center;
      text-align-last: center;
      text-overflow: ellipsis;
      white-space: normal;
      padding: 0;
      border-radius: 0px;
      border: none;
      border-bottom: 1px #8d3b3c solid !important;
      background: rgba(111, 108, 102, 0.13) !important;
      color: black !important;
    }
    select {
      cursor: pointer;
      font-family: 'IM Fell English SC', serif !important;
    }
    input {
      height: 24px !important;
      width: 100% !important;
    }
    textarea {
      min-width: 100%;
      max-width: 100%;
    }
    .vs {
      top: 20px;
      position: relative;
      font-size: 16px;
      width: 0;
      left: -6px;
    }
    a.damage-delete {
      margin-left: -37px;
      margin-top: 6px;
    }
    label {
      display: block;
      width: 100%;
      font-size: 16px;
      font-weight: bold;
    }
    /*
    >div{
      border: 1px solid black;
    }
    >div:nth-child(even) {
      background: rgba(128, 128, 128, 0.13);
    }
    >div:nth-child(odd) {
      background: rgba(172, 172, 172, 0.13);
    }
    */
  }
}
