form {
  font-family: 'Gelasio', 'Signika', Georgia, serif;

  input[type='text'] {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: none;
    padding: 0;
    margin: 1px 0;
    color: #fff;
    border: 1px solid transparent;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  input[type='text']:hover,
  input[type='text']:focus {
    border: 0;
    box-shadow: none;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  input:disabled,
  select:disabled,
  textarea:disabled {
    color: #444;
    border: none;
  }

  input:disabled:hover,
  select:disabled:hover,
  textarea:disabled:hover,
  input:disabled:focus,
  select:disabled:focus,
  textarea:disabled:focus {
    border: none;
    box-shadow: none;
  }

  select {
    font-size: 10px;
    height: 18px;
    background: rgba(255, 255, 255, 0.5);
  }

  span,
  label {
    display: block;
  }
}

.tox {
  .tox-toolbar-overlord,
  .tox-editor-container {
    background: transparent;
  }

  .tox-toolbar,
  .tox-toolbar__overflow,
  .tox-toolbar__primary {
    background-color: transparent;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}
