form {
  display: grid;
  grid: 'sidebar header' 130px 'sidebar nav' minmax(min-content, max-content) 'sidebar content' 1fr/247px 1fr;
}

.header.sheet-header {
  display: flex;
  justify-content: space-between;
}
.sheet-header {
  grid-area: header;
  position: relative;

  .header-fields {
    font-family: 'Roboto', system, -apple-system, sans-serif;
    font-size: 8px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    color: #fff;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 0;

    h1.char-name {
      float: left;
      border: none;
      width: 365px;

      input[type='text'],
      input[type='number'] {
        width: 365px;
        font-family: $font-header;
        font-weight: 500;
        font-size: 20px;
        color: #fff;
        line-height: calc(1em + 1px);
        border-bottom: 1px solid transparent;
        height: 26px;
        padding-left: 5px;
        margin-left: -5px;
      }
    }
    h1.char-name input[type='text']:focus,
    h1.char-name input[type='number']:focus {
      padding-left: 5px;
      margin-left: -5px;
      background: rgba(0, 0, 0, 0.5);
    }

    .descriptor,
    .senses {
      float: left;
      font-size: 12px;
      width: 245px;
      margin-top: -3px;
      margin-left: -1px;

      input[type='text'],
      input[type='number'] {
        height: 20px;
        margin-left: -2px;
        padding: 2px;
        line-height: calc(1em + 1px);

        &:focus,
        &:hover {
          padding-left: 5px;
          margin-left: -4px;
          margin-top: 1px;
          background: rgba(0, 0, 0, 0.5);
        }
      }
    }

    .senses {
      float: right;
      text-align: right;

      input[type='text'],
      input[type='number'] {
        &:focus,
        &:hover {
          padding-right: 5px;
          margin-right: -2px;
          margin-top: 1px;
          background: rgba(0, 0, 0, 0.5);
        }
      }
    }

    .leveltext {
      float: left;
      font-family: 'IM Fell English SC', serif;
      font-weight: 400;
      font-size: 11px;
      margin: -50px 0 0 360px;
    }

    .level {
      float: right;
      margin-top: -49px;
      margin-right: 5px;
      height: 19px;
      width: 40px;
      border-radius: 12px;
      border: none;
      -webkit-box-shadow: 0 0 0 1px #000, 0 0 0 2px #a22223, 0 0 0 3px #000, inset 0 0 8px rgba(0, 0, 0, 0.5),
        0 0 8px #a22223;
      box-shadow: 0 0 0 1px #000, 0 0 0 2px #a22223, 0 0 0 3px #000, inset 0 0 8px rgba(0, 0, 0, 0.5), 0 0 8px #a22223;
      font-weight: 500;
      font-size: 13px;

      input {
        margin-left: 1px;
        margin-top: -3px;
        text-align: center;
        color: white;
        border: 0;
        box-shadow: none;

        &:focus {
          height: 16px;
          width: 36px;
          margin-left: 2px;
          margin-top: 2px;
          border-radius: 11px;
          background: #555;
        }
      }
    }

    label {
      font-family: $font-header;
      font-weight: 500;
      font-size: 14px;
    }
  }

  .attributes {
    height: 54px;
    margin-top: 55px;

    .attributebox {
      float: right;
      position: relative;
      height: 54px;

      .attribute {
        position: relative;
        top: 17px;
        left: 24px;
        height: 32px;
        width: 32px;
        border-radius: 16px;
        border: none;
        box-shadow: 0 0 0 1px #000, 0 0 0 2px #a22223, 0 0 0 3px #000, inset 0 0 8px rgba(0, 0, 0, 0.5), 0 0 8px #a22223;
        font-weight: 500;
        font-size: 20px;

        input {
          width: 26px;
          height: 26px;
          margin-left: 3px;
          margin-top: 3px;
          padding: 2px;
          border: 0;
          font-size: 15px;
          text-align: center;
          color: #fff;
          box-shadow: none;

          &:focus {
            border-radius: 16px;
            background: #555;
          }
        }
      }

      .attributemod {
        position: relative;
        left: 25px;
        top: -16px;
        font-size: 11px;
        text-align: center;
        color: #fff;
      }

      .attributetext {
        position: relative;
        left: 0;
        top: -46px;
        color: #fff;
        font-family: $font-header;
        font-weight: 500;
        font-size: 11px;
        text-align: center;
      }

      .attributeper {
        position: relative;
        top: 15px;
        left: 24px;
        height: 32px;
        width: 32px;
        border-radius: 16px;
        border: none;
        box-shadow: 0 0 0 1px #000, 0 0 0 2px #a22223, 0 0 0 3px #000, inset 0 0 8px rgba(0, 0, 0, 0.5), 0 0 8px #a22223;
        font-weight: 500;
        font-size: 20px;

        label {
          width: 25px;
          height: 25px;
          margin-left: 3px;
          margin-top: 3px;
          padding: 2px;
          padding-top: 6px;
          border: 0;
          font-size: 15px;
          text-align: center;
          color: #fff;
        }
      }

      .attributemodper {
        position: relative;
        left: 25px;
        top: -18px;
        font-size: 11px;
        text-align: center;
        color: #fff;
      }

      .attributetextper {
        position: relative;
        left: 0;
        top: -49px;
        text-align: center;
        color: #fff;
        font-family: $font-header;
        font-weight: 500;
        font-size: 11px;
      }
    }
  }

  .editmode {
    position: absolute;
    left: -187px;
    top: 485px;
    text-transform: uppercase;
    font-weight: bold;

    .switchBig {
      width: 130px;

      input:checked + .slider:before {
        -webkit-transform: translateX(116px);
        -ms-transform: translateX(116px);
        transform: translateX(116px);
      }
    }
  }
}
.sheet-header > * {
  flex: 1;
}
.sheet-header h1 {
  margin: 0;
  border: none;
}
.sheet-header h1 > input {
  height: 44px;
  width: 100%;
  margin: 2px;
  font-family: 'Nodesto', 'Signika', 'Palatino Linotype', serif;
  color: #444;
  font-size: 36px;
  border: none;
}
nav.sheet-navigation {
  font-family: $font-header;
  font-size: 10px;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  color: white;
  text-transform: uppercase;
}
.sheet-navigation {
  grid-area: nav;
  margin-right: 20px;

  a.item.active {
    border-bottom: 1px solid var(--demonlord-red);
    text-shadow: 0 0 8px red;
  }
}
nav.creature {
  z-index: 2;
  margin-top: -20px;
  width: 80%;
}

.sheet-content .creatureeffects {
  .items-list {
    margin: 0;
  }
}
