.flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  justify-content: space-between;
}

.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flexrow > * {
  flex: 1;
}

.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flexcol > * {
  flex: 1;
}
