:root {
  --demonlord-red: #a22223;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: var(--demonlord-red);
  border: 1px solid #8d3b3c;
}

.window-app .window-header {
  font-family: $font-header;
  font-size: 14px;
}

/* Sidebar */
#sidebar {
  background: url(../assets/ui/sidebar_background.webp);
  border-radius: 0;
}

#sidebar h2 {
  font-family: $font-header;
  font-size: 16px;
  border-bottom: 0;
  color: var(--demonlord-red);
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
}

#sidebar button {
  color: white;
  background-color: transparent;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  background: none;
  font-family: $font-header;
  font-size: 13px;
}

#sidebar button:hover {
  box-shadow: none;
  background-color: var(--demonlord-red);
  border-color: var(--demonlord-red);
}

#sidebar-tabs {
  border-bottom: 1px solid var(--demonlord-red);
  box-shadow: 0 0 10px darkred;
}

#sidebar-tabs > .item.active {
  box-shadow: none;
  border: 0 solid var(--demonlord-red);
}

#sidebar .tabs .item.active {
  text-shadow: none;
  color: var(--demonlord-red);
}

#sidebar .directory-header a:hover,
#chat-controls a:hover {
  color: white;
}

#sidebar .directory-header .header-search i {
  color: var(--demonlord-red);
}

.sidebar-tab .directory-header .header-search input {
  background: none;
  border-radius: 0;
  border: 1px solid var(--demonlord-red);
  color: white;
}

.sidebar-tab .directory-header .header-search input:focus {
  box-shadow: none;
  color: white;
}

.sidebar-tab .directory-list .folder .context {
  border-color: var(--demonlord-red);
}

.sidebar-tab .directory-list .directory-item h3 {
  font-family: $font-header;
  font-size: 16px;
}

.sidebar-tab .directory-list .directory-item h4 {
  font-family: $font-header;
  font-size: 14px;
}

/* Compendoum */
#compendium h3 {
  border: 0;
  background: var(--demonlord-red);
  color: white;
  font-family: $font-header;
  font-size: 16px;
}

/* Chat */
#chat-form textarea {
  background: white;
  border-radius: 0;
  border: 1px solid var(--demonlord-red);
  margin-top: 3px;
}

#chat-controls {
  border-top: 2px groove var(--demonlord-red);
  padding-top: 5px;
}

#chat-controls .roll-type-select label i {
  width: 25px;
  height: 25px;
  color: #f0f8ff00;
  background: url(../assets/ui/icons/pentragram.webp);
}

#chat-controls div.roll-type-select select {
  background: none;
  padding: 0;
  color: white;
  border: 1px solid #666;
  border-radius: 1px;
  font-family: $font-header;
}

#chat-controls div.roll-type-select select:hover {
  border: 1px solid var(--demonlord-red);
  background-color: var(--demonlord-red);
}

#chat-log {
  margin-bottom: 4px;
}

#chat-log .message {
  border: 1px solid #6f6c66;
}

#chat-log .message .message-header .message-sender,
#chat-log .message .message-header .message-metadata {
  font-family: $font-header;
}

/* Hotbar */
#hotbar {
  font-family: $font-header;
}

#hotbar #macro-list {
  background: url(../assets/ui/sidebar_background.webp);
  border: 1px solid black;
}

#hotbar .macro,
#hotbar .bar-controls,
#hotbar .macro.inactive {
  border-radius: 0;
  box-shadow: none;
}

#hotbar #hotbar-directory-controls,
#hotbar #hotbar-page-controls {
  background: black;
}

#hotbar .macro:hover,
#hotbar .bar-controls:hover {
  box-shadow: none;
  border: 1px solid var(--demonlord-red);
}

/* Navigation */
#navigation #nav-toggle,
#navigation #scene-list #nav-item {
  background-color: black;
  border-radius: 3px;
  border: 1px solid #666;
}

#navigation #scene-list .scene {
  background: black;
  border: 1px solid #666;
  border-radius: 3px;
  font-family: $font-header;
  font-size: 13px;
}

#navigation #scene-list .scene.gm {
  background: black;
  border: 1px solid var(--demonlord-red);
}

#navigation #scene-list .scene.view {
  border: 1px solid var(--demonlord-red);
  box-shadow: none;
  background: black;
  color: white;
}

/* Controls */
#controls .scene-control.active,
#controls .control-tool.active,
#controls .scene-control:hover,
#controls .control-tool:hover {
  color: var(--demonlord-red);
  box-shadow: none;
  border: 1px solid var(--demonlord-red);
}

#controls .scene-control,
#controls .control-tool {
  background-color: black;
  border-radius: 3px;
  border: 1px solid #666;
}

#controls .scene-control,
#controls .control-tool {
  box-shadow: none;
}

/* Players */
#players {
  background: url(../assets/ui/sidebar_background.webp);
  font-family: $font-header;
  font-size: 11px;
  text-transform: uppercase;
  border: 1px solid #666;
  border-radius: 0;
}

#players ol .player-name.self {
  color: var(--demonlord-red);
}

/* Combat Tracker */
#combat #combat-round .encounters h3,
#combat #combat-controls a.center {
  font-family: $font-header;
  font-size: 16px;
}

#combat #combat-endofround {
  border-top: 2px groove var(--demonlord-red);
}

#combat #combat-round {
  border-bottom: 2px groove var(--demonlord-red);
}

#combat #combat-controls {
  border-top: 2px groove var(--demonlord-red);
}

#combat li.combatant .token-initiative {
  font-family: $font-header;
}

/* Scene */
#scenes .scene h3 {
  font-family: $font-header;
  font-size: 16px;
}

#navigation {
  left: 170px;
}

#logo {
  content: url('../assets/ui/demonlord-logo.png');
  width: 150px;
  -webkit-filter: drop-shadow(0px 2px 6px #222);
  filter: drop-shadow(0px 2px 6px #222);
}

#pause {
  background: none;
}

#pause > img {
  content: url('../assets/ui/pentagram-pause.png');
  width: 200px;
  height: 200px;
  top: -50px;
  left: calc(50% - 100px);
  opacity: 0.7;
  -webkit-animation: rotation 10s infinite linear;
  animation: rotation 10s infinite linear;
}

#pause h3 {
  font-family: 'IM Fell English SC', serif;
  font-size: 32px;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 1);
}
