.sheet-tabs {
  position: absolute;
  transform: rotate(90deg);
  top: 96px;
  right: -107px;
  border-top: none;
  height: 18px;
  z-index: -1;

  .tabitem.active {
    filter: none;
    z-index: 1;
    font-weight: bold;
    text-shadow: none;
    margin-bottom: -1px;
  }

  .tabitem {
    line-height: 20px;
    white-space: nowrap;
    padding: 8px 15px;
    background: url(../../../ui/parchment.jpg) repeat;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
    filter: brightness(0.9);
  }
}

.sheet-body {
  .sheet-content {
    .tab {
      height: 100%;
      padding: 2px 5px;
      font-size: 12px;
      margin-top: 0;
      overflow-y: auto;
    }
  }
}

.donslide {
  display: table;
  width: 100%;

  .item {
    display: table-cell;
    width: 1%;
    height: 470px;
    transition: 0.6s ease-in-out all;
    overflow: hidden;
    position: relative;
    min-width: 65px;
    padding-left: 5px;
    font-size: 13px;

    a.entity-link {
      background: none;
      border: none;
      padding: 0;
      white-space: normal;
      text-shadow: 0 0 8px red;
    }
  }

  .item + .item {
    border-left: 1px solid #000;
  }

  .player {
    font-family: $font-header;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid var(--demonlord-red);
    text-align: center;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  .gmnote {
    margin-right: 5px;
    font-size: 12px;

    .gmnote-control {
      float: left;
      margin-top: -16px;
    }

    textarea {
      font-family: 'Gelasio', 'Signika', Georgia, serif;
      font-size: 12px;
      height: 200px;
    }
  }
}

.donslide:hover .item:hover {
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  color: #000;
}
