<div class="actor-header">

  <div class="row">
    <div class="col-10 actor-name">
      <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'DL.CharName'}}"/>
    </div>
    <div class="col-2 actor-level">
      <label>{{localize "DL.CharLevel"}}</label>
      <input name="data.level" type="text" value="{{data.level}}" data-dtype="{{attribute.dtype}}" min="0"/>
    </div>
  </div>

  <div class="row-10">
    {{#*inline "attribute-partial"}}
      <div class="col-2 attribute">
        <label class="name" data-key="{{n}}">{{attr.label}}</label>
        <input type="Number" name="data.attributes.{{n}}.value" value="{{attr.value}}" readonly/>
        <label class="modifier">{{plusify attr.modifier}}</label>
      </div>
    {{/inline}}

    {{> attribute-partial attr=data.attributes.strength    n='strength'}}
    {{> attribute-partial attr=data.attributes.agility     n='agility'}}
    {{> attribute-partial attr=data.attributes.intellect   n='intellect'}}
    {{> attribute-partial attr=data.attributes.will        n='will'}}
    {{> attribute-partial attr=data.attributes.perception  n='perception'}}
  </div>

</div>
