<form class="{{cssClass}} flexcol" autocomplete="off">
  {{> systems/demonlord/templates/actor/limited-sidemenu.hbs}} {{!-- Sheet Header --}}
  <header class="sheet-header">{{> systems/demonlord/templates/actor/limited-header.hbs}}</header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <section class="sheet-content">
      {{!-- Background Tab --}}
      <div class="tab biography limited">{{> systems/demonlord/templates/tabs/background.hbs}}</div>
    </section>
  </section>
</form>
