@import "header-base";

form {
  grid: 'sidebar header' 130px 'sidebar nav' minmax(min-content, max-content) 'sidebar content' 1fr/247px 1fr;
}

.sheet-header {
  h1.char-name {
    width: 365px;
  }

  .descriptor,
  .senses {
    float: left;
    font-size: 12px;
    width: 245px;
    margin-top: -3px;
    margin-left: -1px;

    input[type='text'],
    input[type='number'] {
      height: 20px;
      margin-left: -2px;
      padding: 2px;
      line-height: calc(1em + 1px);

      &:focus,
      &:hover {
        padding-left: 5px;
        margin-left: -4px;
        margin-top: 1px;
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .senses {
    float: right;
    text-align: right;

    input[type='text'],
    input[type='number'] {
      &:focus,
      &:hover {
        padding-right: 5px;
        margin-right: -2px;
        margin-top: 1px;
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .leveltext {
    margin: -50px 0 0 360px;
  }

  .level {
    margin-top: -49px;
    margin-right: 5px;
    height: 19px;
    width: 40px;
    border-radius: 12px;

    input {
      margin-top: -3px;
      border: 0;
      box-shadow: none;

      &:focus {
        height: 16px;
        width: 36px;
        margin-left: 2px;
        margin-top: 2px;
        border-radius: 11px;
      }
    }
  }

  .attributes {
    margin-top: 55px;

    .attribute input {
      box-shadow: none;
    }
  }

  .attributetextper label {
    cursor: pointer !important;
  }
}

.editmode {
  position: absolute;
  left: -187px;
  top: 485px;
  text-transform: uppercase;
  font-weight: bold;

  .switchBig {
    width: 130px;

    input:checked + .slider:before {
      -webkit-transform: translateX(116px);
      -ms-transform: translateX(116px);
      transform: translateX(116px);
    }
  }
}

nav.creature {
  z-index: 2;
  margin-top: -20px;
  width: 80%;
}

.sheet-content .creatureeffects {
  .items-list {
    margin: 0;
  }
}
