.actor-header {
  font-family: 'IM Fell English SC', serif;
  position: relative;
  color: white;
  height: 100%;
  width: calc(100% + 10px);
  left: -10px;
  flex: none !important;

  // NAME
  .actor-name {
    font-size: 20px;
    height: 26px;
    padding-left: 4px;
    margin-top: 4px;

    &:hover,
    &:focus {
      background: rgba(0, 0, 0, 0.5);
    }

    input {
      text-align: start;
      font-family: $font-header;
    }
  }

  // Labels and inputs
  label {
    text-transform: uppercase;
    font-size: 11px;
  }

  input {
    text-align: center;
    background: transparent;
    border: none;
    font-family: $font-actor-sheet-inputs;
  }

  // Level
  .actor-level {
    position: relative;
    top: 4px;

    label {
      position: absolute;
      //right: 36px;.
      right: 38px;
      top: 8px;
    }

    input {
      @extend %demonlord-red-border-shadow;
      width: 26px;
      height: 26px;
      border-radius: 16px;
      position: absolute;
      right: 4px;
    }
  }

  // Attributes
  .attribute {
    position: relative;
    margin-top: 16px;

    input {
      @extend %demonlord-red-border-shadow;
      width: 32px;
      height: 32px;
      border-radius: 16px;
      color: white;
      display: block;
      margin: 4px auto 0;
    }

    label.name {
      text-align: center;
      &:hover {
        cursor: pointer;
        text-shadow: 0 0 10px #fa200b;
      }
    }

    label.modifier {
      font-family: $font-actor-sheet-inputs;
      position: absolute;
      top: 12px;
      right: calc(50% - 34px);
    }
  }
}

/* ---------------------------------------- */
form {
  display: grid;
}

.sheet-header {
  grid-area: header;
  position: relative;
}

nav.sheet-navigation {
  font-family: $font-header;
  font-size: 10px;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  color: white;
  text-transform: uppercase;
}

.sheet-navigation {
  grid-area: nav;
  margin-right: 20px;

  a.item.active {
    border-bottom: 1px solid var(--demonlord-red);
    text-shadow: 0 0 8px red;
  }
}
