<ol class="items-list">
    <li class="item-header">
        <div class="spellnameheader">{{localize "DL.BackgroundTitle"}}</div>
    </li>
</ol>
<div class="grid grid-2col background">
    <div class="col1">
        <div class="paths">
            <div class="header">
                {{localize "DL.PathsTitle"}}
                <div class="edit">
                    <a class="paths-edit" title="{{localize 'DL.PathsEdit'}}"><i class="fas fa-edit"></i></a>
                </div>
            </div>
            <div class="body">
                <div class="path">
                    <div class="pathtitle">
                        {{localize "DL.PathsPathNovice"}}
                    </div>
                    {{#if data.paths.edit}}
                    <input type="text" name="data.paths.novice" value="{{data.paths.novice}}" />
                    {{else}}
                    <label class="resource-label" for="data.paths.novice">{{data.paths.novice}}</label>
                    {{/if}}
                </div>
                <div class="path">
                    <div class="pathtitle">
                        {{localize "DL.PathsPathExpert"}}
                    </div>
                    {{#if data.paths.edit}}
                    <input type="text" name="data.paths.expert" value="{{data.paths.expert}}" />
                    {{else}}
                    <label class="resource-label" for="data.paths.expert">{{data.paths.expert}}</label>
                    {{/if}}
                </div>
                <div class="path">
                    <div class="pathtitle">
                        {{localize "DL.PathsPathMaster"}}
                    </div>
                    {{#if data.paths.edit}}
                    <input type="text" name="data.paths.master" value="{{data.paths.master}}" />
                    {{else}}
                    <label class="resource-label" for="data.paths.master">{{data.paths.master}}</label>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="religion">
            <div class="header">
                {{localize "DL.ReligionTitle"}}
                <div class="edit">
                    <a class="religion-edit" title="{{localize 'DL.ReligionEdit'}}"><i class="fas fa-edit"></i></a>
                </div>
            </div>
            <div class="body">
                {{#if data.religion.edit}}
                <input type="text" name="data.religion.value" value="{{data.religion.value}}" />
                {{else}}
                <label class="resource-label" for="data.religion.value">{{data.religion.value}}</label>
                {{/if}}
            </div>
        </div>
        <div class="professions">
            <div class="header">
                {{localize "DL.ProfessionsTitle"}}
                <div class="edit">
                    <a class="profession-edit" title="{{localize 'DL.ProfessionsEdit'}}"><i class="fas fa-edit"></i></a>
                </div>
            </div>
            <div class="body">
                {{#if data.professions.edit}}
                <textarea name="data.professions.value">{{data.professions.value}}</textarea>
                {{else}}
                <label class="resource-label" for="data.professions.value">{{data.professions.value}}</label>
                {{/if}}
            </div>
        </div>
        <div class="languages">
            <div class="header">
                {{localize "DL.LanguagesTitle"}}
                <div class="edit">
                    <a class="languages-edit" title="{{localize 'DL.LanguagesEdit'}}"><i class="fas fa-edit"></i></a>
                </div>
            </div>
            <div class="body">
                {{#if data.languages.edit}}
                <textarea name="data.languages.value">{{data.languages.value}}</textarea>
                {{else}}
                <label class="resource-label" for="data.languages.value">{{data.languages.value}}</label>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="features">
        <ol class="items-list">
            <li class="item-header">
                <div class="weaponnameheader">{{localize "DL.FeaturesTitle"}}</div>
                <div class="item-controls">
                    <a class="item-control item-create" title="{{localize 'DL.FeatureAdd'}}" data-type="feature"><i
                            class="fas fa-plus"></i></a>
                </div>
            </li>
            {{#each actor.features as |feature id|}}
            <li class="feature dropitem" data-item-id="{{feature._id}}">
                <div class="item-controls">
                    <a class="item-control feature-edit" title="{{localize 'DL.FeatureEdit'}}"><i
                            class="fas fa-edit"></i></a>
                    <a class="item-control feature-delete" title="{{localize 'DL.FeatureDelete'}}"><i
                            class="fas fa-trash"></i></a>
                </div>
                <div class="featurename">{{feature.name}}</div>
                <div class="featurediscription">{{feature.data.description}}</div>

            </li>
            {{/each}}
        </ol>

    </div>