<ol class="items-list">
    <li class="item-header">
        <div class="traditionnameheader">{{localize "DL.TalentTitle"}}</div>
        <div class="spellcastingsheader">{{localize "DL.TalentUsesTitle"}}</div>
        <div class="item-controls">
            <a class="item-control item-create" title="{{localize 'DL.TalentAdd'}}" data-type="talent"><i
                    class="fas fa-plus"></i></a>
        </div>
    </li>
    {{#each actor.talentbook as |talentbook id|}}
    <li class="tradition-header">
        <div class="traditionnameheader">{{talentbook.groupname}}</div>
        <div class="spellcastingsheader"></div>
    </li>
    {{#each talentbook.talents as |talent id|}}
    <li class="item item-align talent dropitem" data-item-id="{{talent._id}}">
        <div class="item-image">
            <img src="{{talent.img}}" title="{{talent.name}}" width="30" height="30" />
        </div>
        <div class="talentheader">
            <div class="talentname talent-roll">
                {{talent.name}}
                {{#if data.allused}} {{localize 'DL.TalentUsed'}}
                {{else}}
                {{#if data.addtonextroll}} {{localize 'DL.TalentActive'}}{{/if}}
                {{/if}}
            </div>
        </div>
        <div class="talent-uses">{{#if data.uses.max}}{{data.uses.value}} / {{data.uses.max}} <i class="fas fa-arrows-alt-v"></i>{{/if}}</div>
        <div class="toggleTalentInfo"><i class="fas fa-angle-right"></i> {{localize "DL.TalentShowSpellInfo"}}
        </div>
        <div class="spellinfo" style="display: none;">
            {{#if data.action.boonsbanes}}
            <div class="option" data-item-id="{{talent._id}}">
                {{#if data.multipleoptions}}
                <input type="checkbox" name="data.boonsbanesactive" id="optionboons{{talent._id}}"
                    {{checked data.boonsbanesactive}} />
                {{/if}}
                <b>{{localize 'DL.TalentAttackBoonsBanes'}}:</b>
                {{numberFormat data.action.boonsbanes decimals=0 sign=true}}
            </div>
            {{/if}}
            {{#if data.action.damage}}
            <div class="option" data-item-id="{{talent._id}}">
                {{#if data.multipleoptions}}
                <input type="checkbox" name="data.damageactive" id="optionattackdamage{{talent._id}}"
                    {{checked data.damageactive}} />
                {{/if}}
                <b>{{localize 'DL.TalentExtraDamage'}}:</b> {{data.action.damage}}
            </div>
            {{/if}}
            {{#if data.action.plus20}}
            <div class="option" data-item-id="{{talent._id}}">
                {{#if data.multipleoptions}}
                <input type="checkbox" name="data.plus20active" id="potionattackplus20{{talent._id}}"
                    {{checked data.plus20active}} />
                {{/if}}
                <b>{{localize 'DL.TalentExtraDamage20plus'}}:</b> {{data.action.plus20}}
            </div>
            {{/if}}
            {{#if data.challenge.boonsbanes}}
            <div class="option" data-item-id="{{talent._id}}">
                {{#if data.multipleoptions}}
                <input type="checkbox" name="data.challenge.boonsbanesactive"
                    id="optionchaboonsbanesactive{{talent._id}}" {{checked data.challenge.boonsbanesactive}} />
                {{/if}}
                <b>{{localize 'DL.TalentChallengeBoonsBanes'}}:</b>
                {{numberFormat data.challenge.boonsbanes decimals=0 sign=true}}
            </div>
            {{/if}}
            {{#if data.vs.attribute}}
            <div class="option" data-item-id="{{talent._id}}">
                {{#if data.multipleoptions}}
                <input type="checkbox" name="data.vs.active" id="optionvsactive{{talent._id}}"
                    {{checked data.vs.active}} />
                {{/if}}
                <b>{{localize 'DL.TalentVSRoll'}}:</b> {{data.vs.attribute}} {{localize 'DL.ChallengeVS'}}
                {{data.vs.against}}
            </div>
            {{/if}}
            {{#if data.vs.boonsbanes}}
            <div class="option" data-item-id="{{talent._id}}">
                {{#if data.multipleoptions}}
                <input type="checkbox" name="data.vs.boonsbanesactive" id="optionvsboonsbanesactive{{talent._id}}"
                    {{checked data.vs.boonsbanesactive}} />
                {{/if}}
                <b>{{localize 'DL.TalentVSBoonsBanes'}}:</b> {{numberFormat data.vs.boonsbanes decimals=0 sign=true}}
            </div>
            {{/if}}
            {{#if data.vs.damage}}
            <div class="option" data-item-id="{{talent._id}}">
                {{#if data.multipleoptions}}
                <input type="checkbox" name="data.vs.damageactive" id="optionvsdamage{{talent._id}}"
                    {{checked data.vs.damageactive}} />
                {{/if}}
                <b>{{localize 'DL.TalentVSDamage'}}:</b> {{data.vs.damage}} ({{data.vs.damagetype}})
            </div>
            {{/if}}
            {{#each data.vs.damagetypes as |damagetype id|}}
            <div class="option" data-item-id="{{talent._id}}">
                <b>{{localize 'DL.TalentVSDamage'}}:</b> {{damagetype.damage}} ({{damagetype.damagetype}})
            </div>
            {{/each}}
            {{#if data.healing.healing}}
            <div class="option" data-item-id="{{talent._id}}">
                {{#if data.multipleoptions}}
                <input type="checkbox" name="data.healing.healactive" id="optionhealingactive{{talent._id}}"
                    {{checked data.healing.healactive}} />
                {{/if}}
                <b>{{localize 'DL.TalentHealingOptions'}}</b>
            </div>
            {{/if}}
            {{#if data.damage}}
            <div class="option" data-item-id="{{talent._id}}">
                <b>{{localize 'DL.TalentDamage'}}:</b> {{data.damage}}
            </div>
            {{/if}}
            {{#if data.bonuses.defense}}
            <div class="option" data-item-id="{{talent._id}}">
                {{#if data.multipleoptions}}
                <input type="checkbox" name="data.bonuses.defenseactive" id="optiondefenseactive{{talent._id}}"
                    {{checked data.bonuses.defenseactive}} />
                {{/if}}
                <b>{{localize 'DL.TalentBonusesDefense'}}:</b> {{data.bonuses.defense}}
            </div>
            {{/if}}
            {{#if data.bonuses.health}}
            <div class="option" data-item-id="{{talent._id}}">
                {{#if data.multipleoptions}}
                <input type="checkbox" name="data.bonuses.healthactive" id="optionhealthactive{{talent._id}}"
                    {{checked data.bonuses.healthactive}} />
                {{/if}}
                <b>{{localize 'DL.TalentBonusesHealth'}}:</b> {{data.bonuses.health}}
            </div>
            {{/if}}
            {{#if data.bonuses.speed}}
            <div class="option" data-item-id="{{talent._id}}">
                {{#if data.multipleoptions}}
                <input type="checkbox" name="data.bonuses.speedactive" id="optionspeedactive{{talent._id}}"
                    {{checked data.bonuses.speedactive}} />
                {{/if}}
                <b>{{localize 'DL.TalentBonusesSpeed'}}:</b> {{data.bonuses.speed}}
            </div>
            {{/if}}
            {{#if data.description}}
            {{{data.description}}}
            {{/if}}
        </div>
        <div class="item-controls">
            {{#if data.addtonextroll}}
            <a class="item-control talent-deactivate" title="{{localize 'DL.TalentDeActivate'}}"><i class="far fa-dot-circle"></i></a>
            {{else}}
            <a class="item-control talent-activate" title="{{localize 'DL.TalentActivate'}}"><i class="far fa-circle"></i></a>
            {{/if}}
            <a class="item-control item-edit" title="{{localize 'DL.TalentEdit'}}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="{{localize 'DL.TalentDelete'}}"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
    {{/each}}
</ol>