{{!--
  Context:
  - filters.profession
    - source
    - description
--}}
<aside class="demonlord-compendium-browser-filters  {{#if (eq search.type 'specialaction')}}active{{/if}}">

  <div class="filter-group">
    <b>{{localize 'DL.CharDescription'}}</b>
    <input type="text" class="filter-group-textbox" name="filters.specialaction.description" value="{{filters.specialaction.description}}">
  </div>
</aside>
