<form autocomplete="off">
  <div class="form-block">
    <ol class="creature-list">
      {{#each creatures as |creature id|}}
        <li class="creature-entry combatant actor">
          <div class="header">
            <img class="token-image" src="{{creature.token.data.img}}" title="{{creature.token.name}}"/>
            <h3 style="font-weight:bold;">{{creature.token.name}}</h3>
            <div class="headerbody">
              {{localize 'DL.CreatureSize'}} {{creature.actor.data.data.characteristics.size}}
              {{creature.actor.data.data.descriptor}}
            </div>
          </div>
          <div class="toggleEffectInfo"><i class="fas fa-angle-right"></i> {{localize "DL.DialogShowEffects"}}</div>
          <div class="effectInfo" style="display: none">
            <ol class="effects">
              {{#each creature.endOfRoundEffects as |endOfRoundEffect id|}}
                <li class="effect">
                  <div class="effectname">{{endOfRoundEffect.name}}</div>
                  <div class="effectsescription">{{{endOfRoundEffect.data.data.description}}}</div>
                </li>
              {{/each}}
            </ol>
          </div>
        </li>
      {{/each}}
    </ol>
  </div>
</form>
