<!-- WEAPONS -->
<div class="dl-text-header-upper dl-underline-red dl-item-row-header">
  <div class="col-7">{{localize "DL.WeaponTitle"}}</div>
  <div class="col-2">{{localize "DL.WeaponDamage"}}</div>
  <div class="col-1">{{localize "DL.WeaponBoonsBanesShort"}}</div>
  <div class="col-2">
    <a class="item-control item-create" title="{{localize 'DL.WeaponAdd'}}" data-type="weapon">
      <i class="fas fa-plus"></i>
    </a>
  </div>
</div>


{{#each actor.weapons as |weapon id|}}
  <div class="dl-item-row dropitem" data-item-id="{{weapon._id}}">
    <div class="row">
      <div class="col-7">
        <img class="dl-clickable item-edit" src="{{weapon.img}}" title="{{weapon.name}}" width="32" height="32"/>
        {{#if data.wear}}
          <label class="dl-rollable attack-roll">{{weapon.name}}</label>
        {{else}}
          <label style="font-weight: normal">{{weapon.name}}</label>
        {{/if}}
        <div class="dl-clickable dlToggleInfoBtn">
          <i class="fas fa-angle-right"></i> {{localize "DL.ItemShowInfo"}}
        </div>
      </div>
      <div class="col-2">
        {{defaultValue data.action.damage "―"}}{{#if data.action.damagetypes}}∗{{/if}}
      </div>
      <div class="col-1">
        {{defaultValue (plusify data.action.boonsbanes) 0}}
      </div>
      <div class="col-2">
        <a class="dl-clickable item-delete" title="{{localize 'DL.WeaponDelete'}}"><i class="fas fa-times"></i></a>
        <a class="dl-clickable {{#if data.wear}}item-wear{{else}}item-wearoff{{/if}}"
           title="{{localize 'DL.WeaponWear'}}">
          <i class="fas fa-shield-alt"></i>
        </a>
      </div>
    </div>
    <div class="dlInfo dl-item-info" style="display: none">
      <!-- TODO: Action roll info -->
      <div class="row dl-item-info-header">
        <div class="col-12">
          <b>{{weapon.name}}</b>
        </div>
      </div>
      <hr>
      {{#if data.action.damage}}
        <div>
          <b>{{localize "DL.WeaponDamage"}}</b> {{data.action.damage}}
          {{#if data.action.damagetype}}({{data.action.damagetype}}){{/if}}
          {{#each data.action.damagetypes as |damagetype id|}}
            | {{damagetype.damage}}{{#if damagetype.damagetype}} ({{damagetype.damagetype}}){{/if}}
          {{/each}}
        </div>
      {{/if}}
      {{#if data.properties}}
        <div>
          <b>{{localize "DL.WeaponProperties"}}</b> {{data.properties}}
        </div>
      {{/if}}
      {{#if data.strengthmin}}
        <div>
          <b>{{localize "DL.ArmorStrengthRequiremet"}}</b> {{data.strengthmin}}
        </div>
      {{/if}}
      {{#if data.hands}}
        <div>
          <b>{{localize "DL.WeaponHands"}}</b> {{data.hands}}
        </div>
      {{/if}}
      {{#if data.description}}
        <hr>
        <div>
          {{{enrichHTMLUnrolled data.description}}}
        </div>
      {{/if}}
    </div>
  </div>
{{/each}}

<!-- ARMOR -->
<div class="dl-text-header-upper dl-underline-red dl-item-row-header" style="margin-top: 8px">
  <div class="col-10">{{localize "DL.ArmorTitle"}}</div>
  <div class="col-2">
    <a class="item-create" title="{{localize 'DL.ArmorAdd'}}" data-type="armor">
      <i class="fas fa-plus"></i>
    </a>
  </div>
</div>

{{#each actor.armor as |armor id|}}
  <div class="dl-item-row dropitem" data-item-id="{{armor._id}}">
    <div class="row">
      <div class="col-10 dl-clickable-nored item-edit">
        <img class="dl-clickable item-edit" src="{{armor.img}}" title="{{armor.name}}" width="32" height="32"/>
        <div style="font-weight: normal">{{armor.name}}</div>
        <div>
          {{#if data.defense}}
            {{localize "DL.ArmorDefense"}} {{plusify data.defense}}
          {{/if}}
          {{#if data.agility}}
            {{localize "DL.ArmorAgility"}} {{plusify data.agility}}
          {{/if}}
          {{#if data.fixed}}
            {{localize "DL.ArmorFixed"}} {{data.fixed}}
          {{/if}}
        </div>
      </div>
      <div class="col-2">
        <a class="dl-clickable item-delete" title="{{localize 'DL.ArmorDelete'}}"><i class="fas fa-times"></i></a>
        <a class="dl-clickable {{#if data.wear}}item-wear{{else}}item-wearoff{{/if}}"
           title="{{localize 'DL.ArmorWear'}}">
          <i class="fas fa-shield-alt"></i>
        </a>
      </div>
    </div>
  </div>
{{/each}}

<!-- AMMUNITION -->
<div class="dl-text-header-upper dl-underline-red dl-item-row-header" style="margin-top: 8px">
  <div class="col-8">{{localize "DL.AmmoTitle"}}</div>
  <div class="col-2">{{localize "DL.AmmoAmount"}}</div>
  <div class="col-2">
    <a class="item-create" title="{{localize 'DL.AmmoAdd'}}" data-type="ammo">
      <i class="fas fa-plus"></i>
    </a>
  </div>
</div>
{{#each actor.ammo as |ammo id|}}
  <div class="dl-item-row dropitem" data-item-id="{{ammo._id}}">
    <div class="row">
      <div class="col-8 dl-clickable-nored item-edit">
        <img class="dl-clickable item-edit" src="{{ammo.img}}" title="{{ammo.name}}" width="32" height="32"/>
        <div style="font-weight: normal">{{ammo.name}}</div>
      </div>
      <div class="col-2 ammo-amount">
        {{data.quantity}} <i class="fas fa-arrows-alt-v"></i>
      </div>
      <div class="col-2">
        <a class="dl-clickable item-delete" title="{{localize 'DL.ArmorDelete'}}"><i class="fas fa-times"></i></a>
      </div>
    </div>
  </div>
{{/each}}
