<div class="tab activated-effect" data-group="primary" data-tab="activated-effect">
  <div class="gridrow">
      {{!-- Activation Cost --}}
      <div class="resource">
          <div>
              <label class="resource-label">{{localize "DL.ActionActivationCost"}}</label>
              <div class="modifierblock">
                  <div class="grid grid-2col">
                      <div>
                          <label class="resource-label">{{localize "DL.ActionActivationCostAmount"}}</label>
                          <input type="text" name="data.activatedEffect.activationCost.cost" value="{{data.activatedEffect.activationCost.cost}}" data-dtype="Number" />
                      </div>
                      <div>
                          <label class="resource-label">{{localize "DL.ActionActivationCostType"}}</label>
                          <select name="data.activatedEffect.activationCost.type" data-dtype="String">
                              {{#select data.activatedEffect.activationCost.type}}
                              <option value="">—</option>
                              {{#each config.actionActivationTypes as |name key|}}
                              <option value="{{key}}">{{localize name}}</option>
                              {{/each}}
                              {{/select}}
                          </select>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      {{!-- Action Target --}}
      <div class="resource">
          <div>
              <label class="resource-label">{{localize "DL.ActionTarget"}}</label>
              <div class="modifierblock">
                  <div class="grid grid-2col">
                      <div>
                          <label class="resource-label">{{localize "DL.ActionTargetValue"}}</label>
                          <input type="text" name="data.activatedEffect.target.value" value="{{data.activatedEffect.target.value}}" data-dtype="Number" />
                      </div>
                      <div>
                          <label class="resource-label">{{localize "DL.ActionTargetType"}}</label>
                          <select name="data.activatedEffect.target.type" data-dtype="String">
                              {{#select data.activatedEffect.target.type}}
                              <option value="">—</option>
                              {{#each config.actionTargetTypes as |name key|}}
                              <option value="{{key}}">{{localize name}}</option>
                              {{/each}}
                              {{/select}}
                          </select>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      {{!-- Action Range --}}
      <div class="resource">
          <label class="resource-label">{{localize "DL.ActionRange"}}</label>
          <div>
              <div class="modifierblock">
                  <select name="data.activatedEffect.range" data-dtype="String">
                      {{#select data.activatedEffect.range}}
                      <option value="">—</option>
                      {{#each config.actionRange as |name key|}}
                      <option value="{{key}}">{{localize name}}</option>
                      {{/each}}
                      {{/select}}
                  </select>
              </div>
          </div>
      </div>

      {{!-- Action Duration --}}
      <div class="resource">
          <div>
              <label class="resource-label">{{localize "DL.ActionDuration"}}</label>
              <div class="modifierblock">
                  <div class="grid grid-2col">
                      <div>
                          <label class="resource-label">{{localize "DL.ActionDurationValue"}}</label>
                          <input type="text" name="data.activatedEffect.duration.value" value="{{data.activatedEffect.duration.value}}" data-dtype="Number" />
                      </div>
                      <div>
                          <label class="resource-label">{{localize "DL.ActionDurationType"}}</label>
                          <select name="data.activatedEffect.duration.type" data-dtype="String">
                              {{#select data.activatedEffect.duration.type}}
                              <option value="">—</option>
                              {{#each config.actionDuration as |name key|}}
                              <option value="{{key}}">{{localize name}}</option>
                              {{/each}}
                              {{/select}}
                          </select>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      {{!-- Action Limited Uses --}}
      <div class="resource">
          <div>
              <label class="resource-label">{{localize "DL.ActionLimitedUses"}}</label>
              <div class="modifierblock">
                  <div class="grid grid-3col">
                      <div>
                          <label class="resource-label">{{localize "DL.ActionLimitedUsesValue"}}</label>
                          <input type="text" name="data.activatedEffect.uses.value" value="{{data.activatedEffect.uses.value}}" data-dtype="Number" />
                      </div>
                      <div>
                          <label class="resource-label">{{localize "DL.ActionLimitedUsesMax"}}</label>
                          <input type="text" name="data.activatedEffect.uses.max" value="{{data.activatedEffect.uses.max}}" data-dtype="Number" />
                      </div>
                      <div>
                          <label class="resource-label">{{localize "DL.ActionLimitedUsesType"}}</label>
                          <select name="data.activatedEffect.uses.type" data-dtype="String">
                              {{#select data.activatedEffect.uses.type}}
                              <option value="">—</option>
                              {{#each config.actionLimitedUsePeriods as |name key|}}
                              <option value="{{key}}">{{localize name}}</option>
                              {{/each}}
                              {{/select}}
                          </select>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      {{!-- Action Texture --}}
      <div class="resource">
          <label class="resource-label">{{localize "DL.ActionTexture"}}</label>
          <div class="modifierblock">
              <div style="display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-end;align-items: center;">
                  <input class="image" type="text" name="data.activatedEffect.texture" placeholder="path/image.png" value="{{data.activatedEffect.texture}}" data-dtype="String">
                  <button type="button" class="file-picker" data-type="imagevideo" data-target="data.activatedEffect.texture" title="Explorar Arquivos" tabindex="-1">
                      <i class="fas fa-file-import fa-fw"></i>
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>
