extends _item-base-layout
block options
  - const hasEffects = true

block attributes
  div.tab.weapons(data-group="primary" data-tab="attributes")
    .item-table
      //- Bonuses (defense, agility, fixed)
      .row
        .col-12
          label {{localize "DL.ArmorBonuses"}}
        +item-input("col-4", "data.defense", "DL.ArmorDefense")
        +item-input("col-4", "data.agility", "DL.ArmorAgility")
        +item-input("col-4", "data.fixed", "DL.ArmorFixed")
      //- Properties, isShield
      .row
        +item-input("col-8", "data.properties", "DL.ArmorProperties")
        .col-4
          label {{localize "DL.ArmorIsShield"}}
          input.single-checkbox(type="checkbox", name="data.isShield", id="multipleoptions", {{checked data.isShield}})
      //- Str min, price, availability
      .row
        +item-input("col-4", "data.strengthmin", "DL.ArmorStrengthMin")
        +item-input("col-4", "data.value", "DL.ItemValue")
        .col-4
          label {{localize "DL.Availability"}}
          +select("data.availability")
            +options-availability
