<form class="{{cssClass}} item-form" autocomplete="off">
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <section class="sheet-content ">
      {{!-- General (Icon, Name, Description, Type) --}}
      <div class="item-general">
        <div class="row">
          <div class="col-xs-2 item-banner"
               style="background: url(systems/demonlord08/assets/ui/sidebar_creature.png)">
            <img class="weapon-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            <div class="template-type">{{item.type}}</div>
          </div>
          <div class="col-xs-10">
            <input name="name" type="text" value="{{item.name}}" placeholder="Language Name"/>
            <label class="description-label">{{localize 'DL.TabsDescription'}}</label>
            {{editor content=data.description target="data.description"
            button=true owner=owner editable=editable
            }}

          </div>
        </div>
      </div>

      <div class="item-tab-header">
        <!--<img src="systems/demonlord08/assets/ui/text_divider.png"/> -->
        <div>{{localize "DL.TabsAttributes"}}</div>
      </div>

      <div class="item-table">
        <div class="row">
          <div class="col-xs-4 inline-input fix">
            <input type="checkbox" name="data.read" id="multipleoptions" {{checked data.read}} />
            <label for="data.read">{{localize "DL.LanguagesKnowledeRead"}}</label>
          </div>
          <div class="col-xs-4 inline-input fix">
            <input type="checkbox" name="data.write" id="multipleoptions" {{checked data.write}} />
            <label for="data.write">{{localize "DL.LanguagesKnowledeWrite"}}</label>
          </div>
          <div class="col-xs-4 inline-input fix">
            <input type="checkbox" name="data.speak" id="multipleoptions" {{checked data.speak}} />
            <label for="data.speak">{{localize "DL.LanguagesKnowledeSpeak"}}</label>
          </div>
        </div>
      </div>
    </section>
  </section>
</form>
