<form class="{{cssClass}} cromethius-item-form" autocomplete="off">
  <!--
  <header class="sheet-header itemsheet-header">
    <img
      class="weapon-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <div class="gridrow">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="{{localize 'DL.WeaponName'}}"
        />
      </div>
    </div>
    <div class="template-type">{{item.type}}</div>
  </header>
  -->
  {{!-- Sheet Tab Navigation --}}

  <nav class="sheet-tabs tabs" data-group="primary" style="display:none">
    <a class="item" data-tab="attributes">{{localize "DL.TabsAttributes"}}</a>
    <a class="item" data-tab="description">{{localize "DL.TabsDescription"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <section class="sheet-content cromethius-item-content">


      {{!-- Attributes Tab --}}
      <div class="tab weapons" data-group="primary" data-tab="attributes">

        {{!-- General (Icon, Name, Description, Type) --}}
        <div class="item-general">
          <div class="row">
            <div class="col-xs-2 item-banner"
                 style="background: url(systems/demonlord08/assets/ui/sidebar_creature.png)">
              <img class="weapon-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
              <div class="template-type">{{item.type}}</div>
            </div>
            <div class="col-xs-10">
              <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'DL.WeaponName'}}"/>
              <label class="description-label">{{localize 'DL.TabsDescription'}}</label>
              {{editor content=data.description target="data.description"
              button=true owner=owner editable=editable}}
            </div>
          </div>
        </div>

        <div class="item-tab-header">
          <img src="systems/demonlord08/assets/ui/text_divider.png"/>
          <div>{{localize "DL.TabsAttributes"}}</div>
        </div>

        <div class="item-table">

          {{!-- Modifier - BO/BA --}}
          <div class="row">
            <div class="col-xs-4">
              <label>{{localize "DL.WeaponAttackModifier"}}</label>
              <select name="data.action.attack" data-dtype="String">
                {{#select data.action.attack}}
                <option value="">—</option>
                <option value="Strength">
                  {{localize "DL.AttributeStrength"}}
                </option>
                <option value="Agility">
                  {{localize "DL.AttributeAgility"}}
                </option>
                <option value="Intellect">
                  {{localize "DL.AttributeIntellect"}}
                </option>
                <option value="Will">
                  {{localize "DL.AttributeWill"}}
                </option>
                <option value="Perception">
                  {{localize "DL.CharPerception"}}
                </option>
                {{/select}}
              </select>
            </div>
            <div class="vs">vs</div>
            <div class="col-xs-4">
              <label>{{localize "DL.WeaponDefenseModifier"}}</label>
              <select name="data.action.against" data-dtype="String">
                {{#select data.action.against}}
                <option value="">—</option>
                <option value="Strength">
                  {{localize "DL.AttributeStrength"}}
                </option>
                <option value="Agility">
                  {{localize "DL.AttributeAgility"}}
                </option>
                <option value="Intellect">
                  {{localize "DL.AttributeIntellect"}}
                </option>
                <option value="Will">
                  {{localize "DL.AttributeWill"}}
                </option>
                <option value="Perception">
                  {{localize "DL.CharPerception"}}
                </option>
                <option value="Defense">
                  {{localize "DL.CharDefense"}}
                </option>
                {{/select}}
              </select>
            </div>
            <div class="col-xs-4">
              <label>{{localize "DL.WeaponBoonsBanes"}}</label>
              <input type="text" name="data.action.boonsbanes" value="{{data.action.boonsbanes}}"/>
            </div>
          </div>
          {{!-- Damage --}}
          <div class="row">
            <div class="col-xs-11">
              <label class="resource-label">{{localize "DL.WeaponDamage"}}</label>
            </div>
            <div class="col-xs-1 item-controls">
              <a class="item-control damagetype-control" title="{{localize 'DL.DamageAddType'}}"
                 data-action="create" style="margin-left: -11px"><i class="fas fa-plus"></i>
              </a>
            </div>

            <div class="col-xs-4">
              <input class="damagevalue" type="text" name="data.action.damage"
                     value="{{data.action.damage}}" placeholder="{{localize 'DL.WeaponDamage'}}"/>
            </div>
            <div class="col-xs-8">
              <input class="damagetype" type="text" name="data.action.damagetype"
                     value="{{data.action.damagetype}}" placeholder="Damage Type"/>
            </div>

            {{#each data.action.damagetypes as |damagetype id|}}
            <div class="col-xs-4" style="margin-top: 2px">
              <input class="damagevalue" type="text" name="altdamage"
                     value="{{damagetype.damage}}" placeholder="{{localize 'DL.WeaponDamage'}}"/>
            </div>
            <div class="col-xs-8" style="margin-top: 2px">
              <input class="damagetype" type="text" name="altdamagetype"
                     value="{{damagetype.damagetype}}" placeholder="{{localize 'DL.DamageType'}}"/>
            </div>
            <a class="item-control damagetype-control damage-delete" title="{{localize 'DL.DamageAddType'}}"
               data-action="delete" data-id="{{id}}"><i class="fas fa-trash"></i></a>

            {{/each}}
          </div>

          {{!-- Properties - Min Strength --}}
          <div class="row">
            <div class="col-xs-8">
              <label class="resource-label">{{localize "DL.WeaponProperties"}}</label>
              <input type="text" name="data.properties" value="{{data.properties}}"/>
            </div>
            <div class="col-xs-4">
              <label class="resource-label">{{localize "DL.ArmorStrengthMin"}}</label>
              <input type="text" name="data.strengthmin" value="{{data.strengthmin}}"/>
            </div>
          </div>
          {{!-- Hands - Availability - Value --}}
          <div class="row">
            <div class="col-xs-4">
              <label>{{localize "DL.WeaponHands"}}</label>
              <select name="data.hands" data-dtype="String">
                {{#select data.hands}}
                <option value="">—</option>
                <option value="One">{{localize "DL.WeaponHandsOne"}}</option>
                <option value="Two">{{localize "DL.WeaponHandsTwo"}}</option>
                <option value="Off">{{localize "DL.WeaponHandsOff"}}</option>
                {{/select}}
              </select>
            </div>
            <div class="col-xs-4">
              <label>{{localize "DL.Availability"}}</label>
              <select name="data.availability" data-dtype="String">
                {{#select data.availability}}
                <option value="C">
                  {{localize "DL.AvailabilityCommon"}}
                </option>
                <option value="U">
                  {{localize "DL.AvailabilityUncommon"}}
                </option>
                <option value="R">{{localize "DL.AvailabilityRare"}}</option>
                <option value="E">
                  {{localize "DL.AvailabilityExotic"}}
                </option>
                {{/select}}
              </select>
            </div>
            <div class="col-xs-4">
              <label>{{localize "DL.ItemValue"}}</label>
              <input type="text" name="data.value" value="{{data.value}}"/>
            </div>
          </div>
        </div>


        {{!-- Enchantment --}}
        <div class="item-tab-header" style="margin-top:16px">
          <img src="systems/demonlord08/assets/ui/text_divider.png"/>
          <div>{{localize "DL.ItemEnchantment"}}</div>
        </div>

        <div class="item-table">
          {{!-- Effect --}}
          <div class="row">
            <div class="col-xs-12">
              <label class="resource-label">{{localize "DL.ItemEnchantedEffect"}}</label>
              <textarea name="data.enchantment.effect">{{data.enchantment.effect}}</textarea>
            </div>
          </div>

          {{!-- Attack Challenge BO/BA --}}
          <div class="row">
            <div class="col-xs-6">
              <label class="resource-label">{{localize "DL.TalentAttackBoonsBanes"}}</label>
              <input type="text" name="data.enchantment.attackbonus" value="{{data.enchantment.attackbonus}}"
                     data-dtype="Number"/>
            </div>
            <div class="col-xs-6">
              <label class="resource-label">{{localize "DL.TalentChallengeBoonsBanes"}}</label>
              <input type="text" name="data.enchantment.challengebonus" value="{{data.enchantment.challengebonus}}"
                     data-dtype="Number"/>
            </div>
          </div>
          {{!-- Damage - Uses - Max --}}
          <div class="row">
            <div class="col-xs-6">
              <label class="resource-label">{{localize "DL.ItemDamage"}}</label>
              <input type="text" name="data.enchantment.damage" value="{{data.enchantment.damage}}"/>
            </div>
            <div class="col-xs-3">
              <label class="resource-label">{{localize "DL.SpellCastingsUses"}}</label>
              <input type="text" name="data.enchantment.uses.value" value="{{data.enchantment.uses.value}}" />
            </div>
            <div class="col-xs-3">
              <label class="resource-label">{{localize "DL.SpellCastingsMax"}}</label>
              <input type="text" name="data.enchantment.uses.max" value="{{data.enchantment.uses.max}}"/>
            </div>
          </div>
          {{!-- MOD Defense - Speed - Perception --}}
          <div class="row">
            <div class="col-xs-12">
              <label class="resource-label">{{localize "DL.ItemDefenseModifier"}}</label>
              <input type="text" name="data.enchantment.defense" value="{{data.enchantment.defense}}"
                     data-dtype="Number"/>
            </div>
            <div class="col-xs-12">
              <label class="resource-label">{{localize "DL.ItemSpeedModifier"}}</label>
              <input type="text" name="data.enchantment.speed" value="{{data.enchantment.speed}}"
                     data-dtype="Number"/>
            </div>
            <div class="col-xs-12">
              <label class="resource-label">{{localize "DL.ItemPerceptionModifier"}}</label>
              <input type="text" name="data.enchantment.perception"value="{{data.enchantment.perception}}"
                data-dtype="Number"/>
            </div>
          </div>
      <!--
      {{!-- Description Tab --}}
      <div class="tab" data-group="primary" data-tab="description">
        <div class="descriptionblock">
          {{editor content=data.description target="data.description"
          button=true owner=owner editable=editable}}
        </div>
      </div>
      -->
    </section>
  </section>
</form>
