<form class="{{cssClass}} item-form dl-item-form" autocomplete="off">
  <header class="sheet-header itemsheet-header">
    <img class="weapon-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <div class="gridrow">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'DL.SpellName'}}"/>
      </div>
    </div>
    <div class="template-type">{{item.type}}</div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "DL.TabsAttributes"}}</a>
    <a class="item" data-tab="description">{{localize "DL.TabsDescription"}}</a>
    {{#if effects}}<a class="item" data-tab="effects">{{localize "DL.TabsEffects"}}</a>{{/if}}
    {{!-- <a class="item" data-tab="activated-effect">{{localize "DL.TabsActivatedEffect"}}</a> --}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <section class="sheet-content">
      <div class="tab attributes" data-group="primary" data-tab="attributes">
        <div class="dl-item-section-header row">
          <div class="col-4">
            <b>{{item.name}}</b>
          </div>
          <div class="col-8 dl-container-right-align">
            <input name="data.tradition" value="{{data.tradition}}" placeholder="{{localize 'DL.MagicTradition'}}"
                   autosize/>
            <select name="data.spelltype" autosize>
              {{#select data.spelltype}}
                <option value="" selected disabled>—</option>
                <option value="Attack">{{localize "DL.SpellTypeAttack"}}</option>
                <option value="Utility">{{localize "DL.SpellTypeUtility"}}</option>
              {{/select}}
            </select>
            <input name="data.rank" type="number" value="{{data.rank}}" placeholder="{{localize 'DL.SpellRank'}}"
                   autosize/>
          </div>
        </div>

        <hr>
        <div class="dl-item-section-section">
          <b>{{localize "DL.SpellAttribute"}}</b>
          {{dlDropdown "data.attribute" data.attribute}}
        </div>
        <hr>

        <div class="dl-item-section-section">
          <div>
            <b>{{localize "DL.SpellAttribute"}}</b>
            <select name="data.attribute" autosize>
              {{#select data.attribute}}
                <option value="" selected disabled>—</option>
                <option value="Intellect">{{localize "DL.AttributeIntellect"}}</option>
                <option value="Will">{{localize "DL.AttributeWill"}}</option>
              {{/select}}
            </select>
          </div>

          <div>
<!--            {{dlRadioBoxes "data.action.attack" data.action.attack}}-->
          </div>
          <div>
            {{dlRadioBoxes "data.action.against" data.action.against}}
          </div>

          <div class="dl-new-project-radio {{checked data.healing.healing}}"
               data-tippy-content="{{localize "DL.TalentHealingOptions"}}">
            <input type="checkbox" name="data.healing.healing" id="healingoptions" {{checked data.healing.healing}}/>
            <i class="dl-icon-healing"></i>
          </div>

          <div class="dl-new-project-2">
            <i class="dl-icon-nothing"></i>
            <span class="sep"></span>
            <span>{{localize "DL.SpellTypeAttack"}}</span>
          </div>

          <div style="margin-top: 8px"></div>
          <div class="dl-new-project-2" data-tippy-content="+1 Boons and banes">
            <i class="dl-icon-d6"></i>
            <span>+1</span>
          </div>


          <div class="dl-new-project-2-dropdown">
            <div>
              <i class="dl-icon-nothing"></i>
              <span class="sep"></span>
              <span>{{localize "DL.SpellTypeAttack"}}</span>
            </div>
            <div>
              <i class="dl-icon-nothing"></i>
              <span class="sep"></span>
              <span>{{localize "DL.SpellTypeAttack"}}</span>
            </div>
            <div>
              <i class="dl-icon-nothing"></i>
              <span class="sep"></span>
              <span>{{localize "DL.SpellTypeAttack"}}</span>
            </div>
            <div>
              <i class="dl-icon-nothing"></i>
              <span class="sep"></span>
              <span>{{localize "DL.SpellTypeAttack"}}</span>
            </div>

          </div>
          <hr>
          {{dlDropdown "data.action.attack" data.action.attack}}

        </div>

        <hr>

        <div class="dl-item-section-section">
          <div>
            <b>{{localize "DL.SpellRequirements"}}</b>
            <textarea name="data.requirements" placeholder="―" autosize>{{data.requirements}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellTarget"}}</b>
            <textarea name="data.target" placeholder="―" autosize>{{data.target}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellArea"}}</b>
            <textarea name="data.area" placeholder="―" autosize>{{data.area}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellDuration"}}</b>
            <textarea name="data.duration" placeholder="―" autosize>{{data.duration}}</textarea>
          </div>
        </div>
        <hr>
        <div class="dl-item-section-section">
          <!-- TODO DESCRIPTION -->
          <!--          <div class="dl-editor-box">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
          </div>-->
          <div>
            <b>{{localize "DL.SpellTriggered"}}</b>
            <textarea name="data.triggered" placeholder="―" autosize>{{data.triggered}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellSacrifice"}}</b>
            <textarea name="data.sacrifice" placeholder="―" autosize>{{data.sacrifice}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellPermanence"}}</b>
            <textarea name="data.permanence" placeholder="―" autosize>{{data.permanence}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellAftereffect"}}</b>
            <textarea name="data.aftereffect" placeholder="―" autosize>{{data.aftereffect}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellSpecial"}}</b>
            <textarea name="data.special" placeholder="―" autosize>{{data.special}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellEffectDice"}}</b>
            <textarea name="data.effectdice" placeholder="―" autosize>{{data.effectdice}}</textarea>
          </div>
        </div>

<!--
-
-
-
-->
        <div class="item-tab-sub-header collapse-title">
          <div>{{localize "DL.SpellCastings"}}</div>
        </div>
        <div class="item-table indent collapse-content">
          <div class="row">
            <div class="col-6">
              <label class="resource-label">{{localize "DL.SpellCastingsUses"}}</label>
              <input type="number" name="data.castings.value" value="{{data.castings.value}}"/>
            </div>
            <div class="col-6">
              <label class="resource-label">{{localize "DL.SpellCastingsMax"}}</label>
              <input type="number" name="data.castings.max" value="{{data.castings.max}}"/>
            </div>
          </div>
        </div>

        <div class="item-tab-sub-header collapse-title">
          <div>{{localize "DL.SpellTypeAttack"}}</div>
        </div>

        <div class="item-table indent collapse-content">
          <div class="row" style="position: relative">
            <div class="col-4">
              <label class="resource-label">{{localize "DL.WeaponAttackModifier"}}</label>
              <!--              <select name="data.action.attack" data-dtype="String">
                {{#select data.action.attack}}
                  <option value="">—</option>
                  <option value="Strength">{{localize "DL.AttributeStrength"}}</option>
                  <option value="Agility">{{localize "DL.AttributeAgility"}}</option>
                  <option value="Intellect">{{localize "DL.AttributeIntellect"}}</option>
                  <option value="Will">{{localize "DL.AttributeWill"}}</option>
                  <option value="Perception">{{localize "DL.AttributePerception"}}</option>
                {{/select}}
              </select>-->
            </div>
            <div class="vs">VS</div>
            <div class="col-4">
              <label class="resource-label">{{localize "DL.WeaponDefenseModifier"}}</label>
              <!--              <select name="data.action.against" data-dtype="String">-->
              <!--                {{#select data.action.against}}-->
              <!--                  <option value="">—</option>-->
              <!--                  <option value="Strength">{{localize "DL.AttributeStrength"}}</option>-->
              <!--                  <option value="Agility">{{localize "DL.AttributeAgility"}}</option>-->
              <!--                  <option value="Intellect">{{localize "DL.AttributeIntellect"}}</option>-->
              <!--                  <option value="Will">{{localize "DL.AttributeWill"}}</option>-->
              <!--                  <option value="Perception">{{localize "DL.AttributePerception"}}</option>-->
              <!--                  <option value="Defense">{{localize "DL.AttributeDefense"}}</option>-->
              <!--                {{/select}}-->
              <!--              </select>-->
            </div>
            <div class="col-4">
              <label class="resource-label">{{localize "DL.WeaponBoonsBanes"}}</label>
              <input type="text" name="data.action.boonsbanes" value="{{data.action.boonsbanes}}"/>
            </div>
          </div>

          {{!-- Damage --}}
          <div class="row">
            <div class="col-11">
              <label class="resource-label">{{localize "DL.WeaponDamage"}}</label>
            </div>
            <div class="col-1 item-controls">
              <a
                class="item-control damagetype-control"
                title="{{localize 'DL.DamageAddType'}}"
                data-action="create"
                style="margin-left: -11px"
              ><i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="row damage-row">
            <div class="col-4">
              <input
                class="damagevalue"
                type="text"
                name="data.action.damage"
                value="{{data.action.damage}}"
                placeholder="{{localize 'DL.WeaponDamage'}}"
              />
            </div>
            <div class="col-8">
              <input
                class="damagetype"
                type="text"
                name="data.action.damagetype"
                value="{{data.action.damagetype}}"
                placeholder="Damage Type"
              />
            </div>
          </div>

          {{#each data.action.damagetypes as |damagetype id|}}
            <div class="row damage-row">
              <div class="col-4" style="margin-top: 2px">
                <input
                  class="damagevalue"
                  type="text"
                  name="altdamage"
                  value="{{damagetype.damage}}"
                  placeholder="{{localize 'DL.WeaponDamage'}}"
                />
              </div>
              <div class="col-8" style="margin-top: 2px">
                <input
                  class="damagetype"
                  type="text"
                  name="altdamagetype"
                  value="{{damagetype.damagetype}}"
                  placeholder="{{localize 'DL.DamageType'}}"
                />
              </div>
              <a
                class="item-control damagetype-control damage-delete"
                title="{{localize 'DL.DamageAddType'}}"
                data-action="delete"
                data-id="{{id}}"
              ><i class="fas fa-times"></i
              ></a>
            </div>
          {{/each}}

          <div class="row">
            <div class="col-12">
              <label class="resource-label">{{localize "DL.WeaponAttack20"}}</label>
              <input type="text" name="data.action.plus20damage" value="{{data.action.plus20damage}}"/>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label class="resource-label">{{localize "DL.WeaponAttack20Text"}}</label>
              <textarea id="data.action.plus20" name="data.action.plus20" rows="4" cols="50">
                {{data.action.plus20}}</textarea
              >
            </div>
          </div>
        </div>

        <div class="item-tab-sub-header collapse-title">
          <div>{{localize "DL.SpellTypeDefense"}}</div>
        </div>

        <div class="item-table indent collapse-content">
          <div class="row">
            <div class="col-4">
              <label class="resource-label">{{localize "DL.ChallengeRoll"}}</label>
              <select name="data.action.defense" data-dtype="String">
                {{#select data.action.defense}}
                  <option value="">—</option>
                  <option value="Strength">{{localize "DL.AttributeStrength"}}</option>
                  <option value="Agility">{{localize "DL.AttributeAgility"}}</option>
                  <option value="Intellect">{{localize "DL.AttributeIntellect"}}</option>
                  <option value="Will">{{localize "DL.AttributeWill"}}</option>
                  <option value="Perception">{{localize "DL.AttributePerception"}}</option>
                {{/select}}
              </select>
            </div>
            <div class="col-8">
              <label class="resource-label">{{localize "DL.WeaponBoonsBanes"}}</label>
              <input type="text" name="data.action.defenseboonsbanes" value="{{data.action.defenseboonsbanes}}"/>
            </div>
          </div>
        </div>



        {{!-- Activated Effects --}}
        <div class="item-tab-sub-header collapse-title">
          <div>{{localize "DL.MeasuredTemplate"}}</div>
        </div>
        <div class="item-table indent collapse-content">
          {{!-- Target --}}
          <div class="row">
            <div class="col-6">
              <label class="resource-label">{{localize "DL.ActionTargetValue"}}</label>
              <input
                type="text"
                name="data.activatedEffect.target.value"
                value="{{data.activatedEffect.target.value}}"
                data-dtype="Number"
              />
            </div>
            <div class="col-6">
              <label class="resource-label">{{localize "DL.ActionTargetType"}}</label>
              <select name="data.activatedEffect.target.type" data-dtype="String">
                {{#select data.activatedEffect.target.type}}
                  <option value="">—</option>
                  {{#each config.actionTargetTypes as |name key|}}
                    <option value="{{key}}">{{localize name}}</option>
                  {{/each}} {{/select}}
              </select>
            </div>
          </div>

          {{!-- Template --}}
          <div class="row">
            <div class="col-11">
              <input
                class="image"
                type="text"
                name="data.activatedEffect.texture"
                placeholder="path/image.webp"
                value="{{data.activatedEffect.texture}}"
                data-dtype="String"
              />
            </div>
            <div class="col-1">
              <button
                type="button"
                class="file-picker"
                data-type="imagevideo"
                data-target="data.activatedEffect.texture"
                title="File"
                tabindex="-1"
                style="height: 21px;width: 21px;font-size: 12px;padding: 0;line-height: 7px;border: none;border-bottom: 1px solid #a17771;"
              >
                <i class="fas fa-file-import fa-fw"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      {{> "systems/demonlord/templates/item/partial/item-description.html"}} {{#if effects}}{{>
    "systems/demonlord/templates/item/partial/item-effects.html"}}{{/if}}
      {{!-- "systems/demonlord/templates/item/partial/item-activation.html" --}}
    </section>
  </section>
</form>
