<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header itemsheet-header">
        <img class="weapon-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <div class="gridrow"><input name="name" type="text" value="{{item.name}}" placeholder="Ammo Name" /></div>
        </div>
        <div class="template-type">{{item.type}}</div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">{{localize "DL.TabsAttributes"}}</a>
        <a class="item" data-tab="description">{{localize "DL.TabsDescription"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <section class="sheet-content">
            <div class="tab weapons" data-group="primary" data-tab="attributes">
                <div class="gridrow">
                    <div class="resource grid grid-2col">
                        <div>
                            <label class="resource-label">{{localize "DL.AmmoAmount"}}</label>
                            <div class="modifierblock">
                                <input type="text" name="data.quantity" value="{{data.quantity}}" />
                            </div>
                        </div>
                        <div>
                            <label class="resource-label">{{localize "DL.ItemValue"}}</label>
                            <div class="modifierblock">
                                <input type="text" name="data.value" value="{{data.value}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- Description Tab --}}
            <div class=" tab" data-group="primary" data-tab="description">
                <div class="descriptionblock">
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
            </div>
        </section>
    </section>
</form>