<div class="tab demonlord-v2-tab scrollable {{cssClass}}" data-group="primary" data-tab="endoftheround">

  <div class="dl-item-section-header">
    <b>{{item.name}}</b>
  </div>
  <hr>

  {{> "systems/demonlord/templates/item/partial/item-attacks.hbs" action=system.action actionId="system.action"}}

  <hr>

  {{> "systems/demonlord/templates/item/partial/item-challenge.hbs" action=system.action actionId="system.action"}}

  <hr>

  {{> "systems/demonlord/templates/item/partial/item-measured-template.hbs"}}
</div>
