<!-- START OF TEMPLATES -->

{{#*inline "dlAttributeInput"}}
  <div class="dl-new-project-2 nohover">
    <i class="dl-icon-{{icon}}"></i>
    <span class="sep"></span>
    <span style="width: 64px; text-align: center; text-overflow: ellipsis">{{localize loc}}</span>
    <span class="sep"></span>
    <span style="text-align: center; margin-left: 4px">{{plusify value}}</span>
  </div>
{{/inline}}

{{#*inline "dlAttributeInputCol1"}}
  <div class="dl-column-flex">
    {{> dlAttributeInput icon=icon  value=value name=name loc=loc}}
  </div>
{{/inline}}

{{#*inline "dlAttributeInputCol1IF"}}
  {{#if value}}
    <div class="dl-column-flex">
      {{> dlAttributeInput icon=icon  value=value name=name loc=loc}}
    </div>
  {{/if}}
{{/inline}}

{{#*inline "dlAttributeSelector"}}
  {{#if value}}
    <div class="dl-column-flex">
      <div class="dl-new-project-2 selectable {{#if selected}}selected{{/if}}">
        <input type="checkbox" name="{{name}}" {{checked selected}} />
        <i class="dl-icon-{{icon}}"></i>
        <span class="sep"></span>
        <span style="width: 64px; text-align: center; text-overflow: ellipsis">{{localize loc}}</span>
        <span class="sep"></span>
        <span style="text-align: center; margin-left: 4px">{{plusify value}}</span>
      </div>
    </div>
  {{/if}}
{{/inline}}

{{#* inline "dlDropZoneView"}}
  <div class="dl-drop-zone-view {{#if col2}}dl-drop-zone-col-2{{/if}}"
       data-group="{{dataGroup}}" data-level="{{dataLevel}}">
    {{#each collection as |item index|}}
      <div class="dl-nested-item" data-item-index="{{index}}" data-item-id="{{item._id}}"
           {{#if item.data.description}}data-tippy-html="{{{enrichHTMLUnrolled item.data.description}}}"{{/if}}>
        <img src="{{item.img}}">
        <span class="edit-nested-item dl-clickable">{{item.name}}</span>
        {{#if ../selectable}}
          <div style="margin-right: 1px;margin-left: auto; align-self: center"
               class="dl-custom-checkbox dl-item-transfer {{#if item.selected}}checked{{/if}}"
               data-tippy-content="{{localize "DL.TransferItem"}}"></div>
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/inline}}

{{#* inline "dlDropZoneEdit"}}
  <div class="dl-drop-zone" data-group="{{dataGroup}}" data-level="{{dataLevel}}">
    {{#each collection as |item index|}}
      <div class="dl-nested-item" data-item-index="{{index}}" data-item-id="{{item._id}}"
           {{#if item.data.description}}data-tippy-html="{{{enrichHTMLUnrolled item.data.description}}}"{{/if}}>
        <img src="{{item.img}}">
        <span class="edit-nested-item dl-clickable">{{item.name}}</span>
        <a class="delete-item" data-tippy-content="{{localize 'DL.ItemDeleteItem'}}" data-type="{{type}}"
           style="align-self: center; margin-left: auto; margin-right: 4px">
          <i class="fas fa-times"></i>
        </a>
      </div>
    {{/each}}
  </div>
{{/inline}}
<!-- END OF TEMPLATES -->


{{#each data.levels as |level index|}}
  <div class="dl-path-level" data-level-index="{{index}}"
       {{#if (ne index ../data.selectedLevelIndex)}}style="display: none"{{/if}}>
    <div name="level.level" value="{{level.level}}" style="display: none"></div>

    <div class="dl-item-section-header row">
      <div class="col-11" style="margin-top: 4px">
        <b>{{localize 'DL.PathsLevelsSubTitle'}} {{level.level}}</b>
      </div>
    </div>
    <hr>
    <div class="grid-2-sep">
      <div class="dl-item-section-section">
        <div class="dl-item-section-section-title">
          <b>{{localize "DL.PathsLevelAttributesSubtitle"}}</b>
        </div>
        <div class="dl-column-flex" style="margin-bottom: 8px">
          <div class="dl-new-project-2 nohover">
              <span style="margin-left: 4px;">
                {{#if (eq level.attributeSelect 'twosets')}}
                  {{localize "DL.PathsLevelAttributesTwosets"}}
                {{else if (eq level.attributeSelect 'choosetwo')}}
                  {{localize "DL.PathsLevelAttributesChoosetwo"}}
                {{else if (eq level.attributeSelect 'choosethree')}}
                  {{localize "DL.PathsLevelAttributesChoosethree"}}
                {{else if (eq level.attributeSelect 'fixed')}}
                  {{localize "DL.PathsLevelAttributesFixed"}}
                {{else}}
                  {{localize "DL.None"}}
                {{/if}}
              </span>
          </div>
        </div>

        {{#if (or level.attributeSelectIsChooseTwo level.attributeSelectIsChooseThree)}}
          {{> dlAttributeSelector icon="strength"   value=level.attributeStrength  name="level.attributeStrengthSelected"  selected=level.attributeStrengthSelected  loc="DL.AttributeStrength"}}
          {{> dlAttributeSelector icon="agility"    value=level.attributeAgility   name="level.attributeAgilitySelected"   selected=level.attributeAgilitySelected   loc="DL.AttributeAgility"}}
          {{> dlAttributeSelector icon="intellect"  value=level.attributeIntellect name="level.attributeIntellectSelected" selected=level.attributeIntellectSelected loc="DL.AttributeIntellect"}}
          {{> dlAttributeSelector icon="will"       value=level.attributeWill      name="level.attributeWillSelected"      selected=level.attributeWillSelected      loc="DL.AttributeWill"}}

        {{else if level.attributeSelectIsFixed}}
          {{> dlAttributeInputCol1 icon="strength"   value=level.attributeStrength  name="level.attributeStrength"  loc="DL.AttributeStrength"}}
          {{> dlAttributeInputCol1 icon="agility"    value=level.attributeAgility   name="level.attributeAgility"   loc="DL.AttributeAgility"}}
          {{> dlAttributeInputCol1 icon="intellect"  value=level.attributeIntellect name="level.attributeIntellect" loc="DL.AttributeIntellect"}}
          {{> dlAttributeInputCol1 icon="will"       value=level.attributeWill      name="level.attributeWill"      loc="DL.AttributeWill"}}

        {{else if level.attributeSelectIsTwoSet}}
          <div class="dl-column-flex">
            {{#if level.attributeSelectTwoSetSelectedValue1}}
              {{dlPathAttributeTwoSetViewSelector level.attributeSelectTwoSet1 true "level.attributeSelectTwoSetSelectedValue1" true index}}
              <div style="align-self: center">{{localize "DL.PathsLevelAttributesSelectOr"}}</div>
              {{dlPathAttributeTwoSetViewSelector level.attributeSelectTwoSet2 false "level.attributeSelectTwoSetSelectedValue1" false index}}
            {{else}}
              {{dlPathAttributeTwoSetViewSelector level.attributeSelectTwoSet1 false "level.attributeSelectTwoSetSelectedValue1" true index}}
              <div style="align-self: center">{{localize "DL.PathsLevelAttributesSelectOr"}}</div>
              {{dlPathAttributeTwoSetViewSelector level.attributeSelectTwoSet2 true "level.attributeSelectTwoSetSelectedValue1" false index}}
            {{/if}}

            <div class="dl-new-project-2 nohover">
              <span style="margin-left: 4px">{{plusify level.attributeSelectTwoSetValue1}}</span>
            </div>
          </div>

          <div class="dl-column-flex">
            {{#if level.attributeSelectTwoSetSelectedValue2}}
              {{dlPathAttributeTwoSetViewSelector level.attributeSelectTwoSet3 true "level.attributeSelectTwoSetSelectedValue2" true index}}
              <div style="align-self: center">{{localize "DL.PathsLevelAttributesSelectOr"}}</div>
              {{dlPathAttributeTwoSetViewSelector level.attributeSelectTwoSet4 false "level.attributeSelectTwoSetSelectedValue2" false index}}
            {{else}}
              {{dlPathAttributeTwoSetViewSelector level.attributeSelectTwoSet3 false "level.attributeSelectTwoSetSelectedValue2" true index}}
              <div style="align-self: center">{{localize "DL.PathsLevelAttributesSelectOr"}}</div>
              {{dlPathAttributeTwoSetViewSelector level.attributeSelectTwoSet4 true "level.attributeSelectTwoSetSelectedValue2" false index}}
            {{/if}}

            <div class="dl-new-project-2 nohover">
              <span style="margin-left: 4px">{{plusify level.attributeSelectTwoSetValue2}}</span>
            </div>
          </div>
        {{/if}}

      </div>
      <span class="grid-sep"></span>
      <div class="dl-item-section-section">
        <div class="dl-item-section-section-title">
          <b>{{localize "DL.PathsLevelCharacteristicsSubtitle"}}</b>
        </div>
        {{> dlAttributeInputCol1IF icon="health"   value=level.characteristicsHealth  name="level.characteristicsHealth"  loc="DL.CharHealth"}}
        {{> dlAttributeInputCol1IF icon="defense"   value=level.characteristicsDefense  name="level.characteristicsDefense"  loc="DL.AttributeDefense"}}
        {{> dlAttributeInputCol1IF icon="perception"   value=level.characteristicsPerception  name="level.characteristicsPerception"  loc="DL.AttributePerception"}}
        {{> dlAttributeInputCol1IF icon="speed"   value=level.characteristicsSpeed  name="level.characteristicsSpeed"  loc="DL.CharSpeed"}}
        {{> dlAttributeInputCol1IF icon="insanity"   value=level.characteristicsInsanity  name="level.characteristicsInsanity"  loc="DL.CharInsanity"}}
        {{> dlAttributeInputCol1IF icon="corruption"   value=level.characteristicsCorruption  name="level.characteristicsCorruption"  loc="DL.CharCorruption"}}
        {{> dlAttributeInputCol1IF icon="power"   value=level.characteristicsPower  name="level.characteristicsPower"  loc="DL.CharPower"}}
      </div>
    </div>
    <hr>

    <div class="dl-item-section-section">
      {{#if level.languagesText}}
        <div class="dl-item-section-section-title">
          <b>{{localize "DL.PathsLevelLanguages"}}</b>
        </div>
        <div class="text-areas">
          <div>{{level.languagesText}}</div>
        </div>
      {{/if}}

      {{#if level.equipmentText}}
        <div class="dl-item-section-section-title">
          <b>{{localize "DL.PathsLevelEquipment"}}</b>
        </div>
        <div class="text-areas">
          <div>{{level.equipmentText}}</div>
        </div>
      {{/if}}

      {{#if level.magicText}}
        <div class="dl-item-section-section-title">
          <b>{{localize "DL.TabsMagic"}}</b>
        </div>
        <div class="text-areas">
          <div>{{level.magicText}}</div>
        </div>
      {{/if}}
    </div>
    {{# if (or level.languagesText level.equipmentText level.magicText)}}
      <hr>
    {{/if}}

    {{#if level.talents.length}}
      <div class="dl-item-section-section">
        <div class="dl-item-section-section-title">
          <b>{{localize "DL.TalentTitle"}}</b>
        </div>
        {{> dlDropZoneView collection=level.talents dataGroup="talents" dataLevel=index col2=true}}
      </div>
    {{/if}}

    {{#if level.talentspick.length}}
      <div class="dl-item-section-section">
        <div class="dl-item-section-section-title">
          <b>{{localize "DL.TalentTitle"}} ({{localize 'DL.PathsLevelTalentChooseOne'}})</b>
        </div>
        {{> dlDropZoneView collection=level.talentspick dataGroup="talentspick" dataLevel=index col2=true selectable=true}}
      </div>
    {{/if}}

    {{#if level.spells.length}}
      <div class="dl-item-section-section">
        <div class="dl-item-section-section-title">
          <b>{{localize "DL.MagicSpellsTitle"}}</b>
        </div>
        {{> dlDropZoneView collection=level.spells dataGroup="spells" dataLevel=index col2=true selectable=true}}
      </div>
    {{/if}}

  </div>
{{/each}}

