<div class="tab demonlord-v2-tab scrollable {{cssClass}}" data-group="primary" data-tab="relic">

  <div class="dl-item-section-header">
    <b>{{item.name}}</b>
  </div>
  <hr>

  <div class="dl-item-section item-properties">
    <b>{{localize "DL.Requirements"}}</b>
    {{DropdownValue "system.requirement.attribute" system.requirement.attribute "system.requirement.minvalue" system.requirement.minvalue }}
  </div>
  <hr>

  {{> "systems/demonlord/templates/item/partial/item-description.hbs" description=system.description enrichedDescription=system.enrichedDescription}}

  {{#if system.contents}}{{>"systems/demonlord/templates/item/partial/item-contents.hbs"}}{{/if}}
</div>
