<form class="{{cssClass}} item-form dl-item-form" autocomplete="off">
  <header class="sheet-header itemsheet-header">
    <img class="weapon-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <div class="gridrow">
        <input name="name" type="text" value="{{item.name}}" placeholder="Language Name"/>
      </div>
    </div>
    <div class="template-type">{{item.type}}</div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "DL.TabsAttributes"}}</a>
    <a class="item" data-tab="description">{{localize "DL.TabsDescription"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <section class="sheet-content">
      <div class="tab weapons" data-group="primary" data-tab="attributes">

        <div class="dl-item-section-header row">
          <div class="col-12" style="margin-top: 4px">
            <b>{{item.name}}</b>
          </div>
        </div>
        <hr>


        <div class="dl-item-section-section margin">
          {{#*inline "dlLangType"}}
            <div class="dl-new-project-2 selectable {{#if selected}}selected{{/if}}">
              <input type="checkbox" name="data.{{name}}" {{checked selected}} />
              <i class="dl-icon-{{name}}"></i>
              <span class="sep"></span>
              <span style="width: 64px; text-align: center; text-overflow: ellipsis">{{localize loc}}</span>
            </div>
          {{/inline}}

          <div class="dl-column-flex" style="padding: 0 15%">
            {{> dlLangType name="speak" selected=data.speak loc="DL.LanguagesSpeak"}}
            {{> dlLangType name="read"  selected=data.read  loc="DL.LanguagesRead"}}
            {{> dlLangType name="write" selected=data.write loc="DL.LanguagesWrite"}}
          </div>
        </div>
        <hr>

        <div class="dl-item-section-description">
          <div><b>{{localize "DL.TabsDescription"}}</b></div>
          <div>
            {{dlEditor content=system.enrichedDescriptionUnrolled target="system.description" button=true owner=owner editable=editable}}
          </div>
        </div>

      </div>
      {{> "systems/demonlord/templates/item/partial/item-description.html"}}
    </section>
  </section>
</form>
