<form class="{{cssClass}} item-form dl-item-form" autocomplete="off">
  <header class="sheet-header itemsheet-header">
    <img class="weapon-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <div class="gridrow">
        <input name="name" type="text" value="{{item.name}}" placeholder="Talent Name"/>
      </div>
    </div>
    <div class="template-type">{{item.type}}</div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "DL.TabsAttributes"}}</a>
    <a class="item" data-tab="description">{{localize "DL.TabsDescription"}}</a>
    {{#if effects}}<a class="item" data-tab="effects">{{localize "DL.TabsEffects"}}</a>{{/if}}
    {{!-- <a class="item" data-tab="activated-effect">{{localize "DL.TabsActivatedEffect"}}</a> --}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <section class="sheet-content">
      <div class="tab weapons" data-group="primary" data-tab="attributes">
        {{!-- Groupname - Uses - Max Uses --}}
        <!-- Header -->
        <div class="dl-item-section-header flex">
          <div>
            <b>{{item.name}}</b>
          </div>
          <input name="system.groupname" value="{{system.groupname}}" placeholder="{{localize 'DL.TalentGroupname'}}"
                 autosize/>
        </div>

        <hr>

        <div class="dl-item-section-section margin">
          <div>
            <b>{{localize "DL.TalentUses"}}</b>
            <div>
              <div class="dl-new-project-2 nohover uses">
                <input type="number" name="system.uses.value" value="{{system.uses.value}}"
                       data-tippy-content="{{localize "DL.TalentUses"}}" placeholder="-" min="0" autosize/>
                <span class="sep"></span>
                <input type="number" name="system.uses.max" value="{{system.uses.max}}"
                       data-tippy-content="{{localize "DL.TalentUsesMax"}}" placeholder="-" min="0" autosize/>
              </div>
            </div>
          </div>
          <div>
            <b>{{localize "DL.ChallengeRollBonus"}}</b>
            <div>
              {{dlCheckboxes "talent-challenge-bonus" '' data}}
              {{dlBOBAButton "system.challenge.boonsbanes" system.challenge.boonsbanes "DL.TalentAddBoonsBanesToAttribute"}}
            </div>
          </div>

          <div>
            <b>{{localize "DL.AttackRollBonuses"}}</b>
            <div>
              {{dlCheckboxes "talent-action-bonus" '' data}}
              {{dlBOBAButton "system.action.boonsbanes" system.action.boonsbanes "DL.TalentAddBoonsBanesBonus"}}
            </div>
          </div>
          <div>
            <b></b>
            <div>
              <div class="dl-new-project-2 nohover"
                   data-tippy-content="{{localize 'DL.TalentAddDamageToYourAttackRoll'}}">
                <i class="dl-icon-d20"></i>
                <span class="sep"></span>
                <input type="text" name="system.action.damage" value="{{system.action.damage}}"
                       data-tippy-content="{{localize "DL.DamageRollText"}} [xdY+z]" placeholder="-" autosize/>
              </div>
            </div>
          </div>
          <div>
            <b></b>
            <div>
              <div class="dl-new-project-2 nohover" data-tippy-content="{{localize "DL.WeaponAttack20"}}">
                <i class="dl-icon-d20-plus"></i>
                <span class="sep"></span>
                <input type="text" name="system.action.plus20damage" value="{{system.action.plus20damage}}"
                       data-tippy-content="{{localize "DL.DamageRollText"}} [xdY+z]" placeholder="-" autosize/>
              </div>
            </div>
          </div>
          <div class="text-areas">
            <b style="min-width: 100px">{{localize "DL.TalentExtraEffect"}}</b>
            <div style="flex-grow: 1">
              <textarea name="system.action.extraeffect" placeholder="―" autosize>{{system.action.extraeffect}}</textarea>
            </div>
          </div>


        </div>

        <hr>

        <div class="dl-item-section-section margin">
          <div>
            <b>{{localize "DL.AttackRoll"}}</b>
            <div>
              {{dlDropdown "system.vs.attribute" system.vs.attribute}}
              <span style="font-size: 11px">VS</span>
              {{dlDropdown "system.vs.against" system.vs.against}}
              {{dlBOBAButton "system.vs.boonsbanes" system.vs.boonsbanes ""}}
            </div>
          </div>
          <div>
            <b style="align-self: flex-start">{{localize "DL.WeaponDamage"}}</b>
            <div class="dl-item-damage-container">
              <div>
                <div class="dl-new-project-2 nohover">
                  <i class="dl-icon-d20"></i>
                  <span class="sep"></span>
                  <input type="text" name="system.vs.damage" value="{{system.vs.damage}}"
                         data-tippy-content="{{localize "DL.DamageRollText"}} [xdY+z]" placeholder="-" autosize/>
                  <span class="sep"></span>
                  <input type="text" name="system.vs.damagetype" value="{{system.vs.damagetype}}"
                         data-tippy-content="{{localize "DL.ActionTargetType"}}" placeholder="-" autosize/>
                </div>
                <a
                  class="dl-clickable vsdamagetype-control"
                  style="align-self: center;"
                  data-tippy-content="{{localize 'DL.DamageAddType'}}"
                  data-action="create"
                ><i class="fas fa-plus"></i>
                </a>
              </div>
              {{#each system.vs.damagetypes as |damagetype id|}}
                <div>
                  <div class="dl-new-project-2 nohover">
                    <i class="dl-icon-d20"></i>
                    <span class="sep"></span>
                    <input type="text" name="altdamage" value="{{damagetype.damage}}"
                           data-tippy-content="{{localize "DL.DamageRollText"}} [xdY+z]" placeholder="-" autosize/>
                    <span class="sep"></span>
                    <input type="text" name="altdamagetype" value="{{damagetype.damagetype}}"
                           data-tippy-content="{{localize "DL.ActionTargetType"}}" placeholder="-" autosize/>
                  </div>
                  <a
                    class="item-control damagetype-control"
                    data-tippy-content="{{localize 'DL.DamageAddType'}}"
                    data-action="delete"
                    data-id="{{id}}"
                  ><i class="fas fa-times"></i>
                  </a>
                </div>
              {{/each}}
            </div>
          </div>
          <div>
            <!-- TODO: implement talent.vs.plus20damage
            <b>{{localize "DL.WeaponAttack20"}}</b>
            <div>
              <div class="dl-new-project-2 nohover">
                <i class="dl-icon-d20"></i>
                <span class="sep"></span>
                <input type="text" name="system.action.plus20damage" value="{{system.action.plus20damage}}"
                       data-tippy-content="{{localize "DL.DamageRollText"}} [xdY+z]" placeholder="-" autosize/>
              </div>
            </div>-->
          </div>
        </div>

        <hr>

        <div class="dl-item-section-section margin">
          <div>
            <b>{{localize "DL.ChallengeRequestRollText"}}</b>
            <div>
              {{dlDropdown "system.action.defense" system.action.defense}}
              {{dlBOBAButton "system.action.defenseboonsbanes" system.action.defenseboonsbanes ""}}
            </div>
          </div>
          <div>
            <b>{{localize "DL.TalentHealingOptions"}}</b>
            <div class="dl-new-project-radio {{checked system.healing.healing}}"
                 data-tippy-content="{{localize "DL.TalentHealingOptions"}}">
              <input type="checkbox" name="system.healing.healing" id="healingoptions" {{checked system.healing.healing}}/>
              <i class="dl-icon-healing"></i>
            </div>
          </div>
        </div>

        <hr>

        <div class="dl-item-section-description">
          <div><b>{{localize "DL.TabsDescription"}}</b></div>
          <div>
            {{dlEditor content=system.enrichedDescriptionUnrolled target="system.description" button=true owner=owner editable=editable}}
          </div>
        </div>

        <hr>

        <div class="dl-item-section-section">
          <div class="dl-item-section-section-title">
            <b style="align-self: center">{{localize "DL.TalentAddBonusesToYourCharacteristics"}}</b>
          </div>
          <div class="dl-column-flex">
            <div class="dl-new-project-2 nohover" data-tippy-content="{{localize "DL.AttributeDefense"}}">
              <i class="dl-icon-defense"></i>
              <span class="sep"></span>
              <input type="number" name="system.bonuses.defense" value="{{system.bonuses.defense}}" placeholder="0" autosize/>
            </div>
            <div class="dl-new-project-2 nohover" data-tippy-content="{{localize "DL.CharHealth"}}">
              <i class="dl-icon-health"></i>
              <span class="sep"></span>
              <input type="number" name="system.bonuses.health" value="{{system.bonuses.health}}" placeholder="0" autosize/>
            </div>
            <div class="dl-new-project-2 nohover" data-tippy-content="{{localize "DL.CharSpeed"}}">
              <i class="dl-icon-speed"></i>
              <span class="sep"></span>
              <input type="number" name="system.bonuses.speed" value="{{system.bonuses.speed}}" placeholder="0" autosize/>
            </div>
            <div class="dl-new-project-2 nohover" data-tippy-content="{{localize "DL.CharPower"}}">
              <i class="dl-icon-power"></i>
              <span class="sep"></span>
              <input type="number" name="system.bonuses.power" value="{{system.bonuses.power}}" placeholder="0" autosize/>
            </div>
          </div>
        </div>

        <hr>

        <div class="dl-item-section-section margin">
          <div>
            <b>{{localize "DL.TalentMakeADamageRoll"}}</b>
            <div>
              <div class="dl-new-project-2 nohover" data-tippy-content="{{localize 'DL.WeaponDamage'}}">
                <i class="dl-icon-d20"></i>
                <span class="sep"></span>
                <input type="text" name="system.damage" value="{{system.damage}}"
                       data-tippy-content="{{localize "DL.DamageRollText"}} [xdY+z]" placeholder="-" autosize/>
                <span class="sep"></span>
                <input type="text" name="system.damagetype" value="{{system.damagetype}}"
                       data-tippy-content="{{localize "DL.ActionTargetType"}}" placeholder="-" autosize/>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{> "systems/demonlord/templates/item/partial/item-description.html"}} {{#if effects}}{{>
    "systems/demonlord/templates/item/partial/item-effects.html"}}{{/if}}
      {{!-- "systems/demonlord/templates/item/partial/item-activation.html" --}}
    </section>
  </section>
</form>
