extends _item-base-layout
block options
  - const hasEffects = true

block attributes
  div.tab.weapons(data-group="primary" data-tab="attributes")
    .item-table
      .row
        +item-input("col-4", "data.quantity", "DL.ItemAmount", "text")
        +item-input("col-4", "data.value", "DL.ItemValue", "value")
        .col-4
          label {{localize "DL.Availability"}}
          +select("data.availability")
            +options-availability
