extends _item-base-layout
block options
  - const hasEffects = true

block attributes
  div.tab.weapons(data-group="primary" data-tab="attributes")
    .item-table
      //- Bonuses (defense, agility, fixed)
      .row
        .col-12
          label {{localize "DL.ArmorBonuses"}}
        +item-input("col-4", "data.defense", "DL.ArmorDefense", "text")
        +item-input("col-4", "data.agility", "DL.ArmorAgility", "text")
        +item-input("col-4", "data.fixed", "DL.ArmorFixed", "text")
      //- Properties, isShield
      .row
        +item-input("col-8", "data.properties", "DL.ArmorProperties", "text")
        .col-4
          label.resource-label {{localize "DL.ArmorIsShield"}}
          input.single-checkbox(type="checkbox", name="data.isShield", id="multipleoptions", {{checked data.isShield}})
      //- Str min, price, availability
      .row
        +item-input("col-4", "data.strengthmin", "DL.ArmorStrengthMin", "text")
        +item-input("col-4", "data.value", "DL.ItemValue", "text")
        .col-4
          label {{localize "DL.Availability"}}
          select(name="data.availability" data-dtype="String")
            | {{#select data.availability}}
            option(value="C") {{localize "DL.AvailabilityCommon"}}
            option(value="U") {{localize "DL.AvailabilityUncommon"}}
            option(value="R") {{localize "DL.AvailabilityRare"}}
            option(value="E") {{localize "DL.AvailabilityExotic"}}
            | {{/select}}
