<form class="{{cssClass}} item-form dl-item-form" autocomplete="off">
  <header class="sheet-header itemsheet-header">
    <img class="weapon-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <div class="gridrow">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'DL.SpellName'}}"/>
      </div>
    </div>
    <div class="template-type">{{item.type}}</div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "DL.TabsAttributes"}}</a>
    <a class="item" data-tab="description">{{localize "DL.TabsDescription"}}</a>
    {{#if effects}}<a class="item" data-tab="effects">{{localize "DL.TabsEffects"}}</a>{{/if}}
    {{!-- <a class="item" data-tab="activated-effect">{{localize "DL.TabsActivatedEffect"}}</a> --}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <section class="sheet-content">
      <div class="tab attributes" data-group="primary" data-tab="attributes">

        <!-- Header -->
        <div class="dl-item-section-header row">
          <div class="col-4" style="margin-top: 4px">
            <b>{{item.name}}</b>
          </div>
          <div class="col-8 dl-container-right-align">
            <input name="data.tradition" value="{{data.tradition}}" placeholder="{{localize 'DL.MagicTradition'}}"
                   autosize/>
            <div class="select-wrapper">
              <select name="data.spelltype" style="height: 25px;" autosize>
                {{#select data.spelltype}}
                  <option value="">—</option>
                  <option value="Attack">{{localize "DL.SpellTypeAttack"}}</option>
                  <option value="Utility">{{localize "DL.SpellTypeUtility"}}</option>
                {{/select}}
              </select>
            </div>
            <input name="data.rank" type="number" value="{{data.rank}}" placeholder="{{localize 'DL.SpellRank'}}"
                   style="padding: 4px"
                   autosize/>
          </div>
        </div>

        <hr>

        <div class="dl-item-section-section margin">
          <div>
            <b>{{localize "DL.SpellAttribute"}}</b>
            <div>
              {{dlDropdown "data.attribute" data.attribute}}
            </div>
          </div>
          <div>
            <b>{{localize "DL.SpellCastings"}}</b>
            <div>
              <div class="dl-new-project-2 nohover">
                <input type="number" name="data.castings.value" value="{{data.castings.value}}"
                       data-tippy-content="{{localize "DL.SpellCastingsUses"}}" placeholder="-" min="0" autosize/>
                <span class="sep"></span>
                <input type="number" name="data.castings.max" value="{{data.castings.max}}"
                       data-tippy-content="{{localize "DL.SpellCastingsMax"}}" placeholder="-" min="0" autosize/>
              </div>
            </div>
          </div>
          <div>
            <b>{{localize "DL.SpellTypeAttack"}}</b>
            <div>
              {{dlDropdown "data.action.attack" data.action.attack}}
              <span style="font-size: 11px">VS</span>
              {{dlDropdown "data.action.against" data.action.against}}
              <div class="dl-new-project-2 nohover" data-tippy-content="{{localize "DL.WeaponBoonsBanes"}}">
                <i class="dl-icon-d6"></i>
                <span class="sep"></span>
                <input type="number" name="data.action.boonsbanes" value="{{defaultValue data.action.boonsbanes 0}}"/>
              </div>
            </div>
          </div>
          <div>
            <b>{{localize "DL.ChallengeRequestRollText"}}</b>
            <div>
              {{dlDropdown "data.action.defense" data.action.defense}}
              <div class="dl-new-project-2 nohover" data-tippy-content="{{localize "DL.WeaponBoonsBanes"}}">
                <i class="dl-icon-d6"></i>
                <span class="sep"></span>
                <input type="number" name="data.defenseboonsbanes" value="{{defaultValue data.defenseboonsbanes 0}}"/>
              </div>
            </div>
          </div>
          <div>
            <b>{{localize "DL.TalentHealingOptions"}}</b>
            <div class="dl-new-project-radio {{checked data.healing.healing}}"
                 data-tippy-content="{{localize "DL.TalentHealingOptions"}}">
              <input type="checkbox" name="data.healing.healing" id="healingoptions" {{checked data.healing.healing}}/>
              <i class="dl-icon-healing"></i>
            </div>
          </div>
        </div>

        <hr>

        <div class="dl-item-section-section dl-column-flex">
          <div>
            <b style="align-self: center">{{localize "DL.WeaponDamage"}}</b>
            <div class="dl-item-damage-container">
              <div>
                <div class="dl-new-project-2 nohover">
                  <i class="dl-icon-d20"></i>
                  <span class="sep"></span>
                  <input type="text" name="data.action.damage" value="{{data.action.damage}}"
                         data-tippy-content="{{localize "DL.DamageRollText"}} [xdY+z]" placeholder="-" autosize/>
                  <span class="sep"></span>
                  <input type="text" name="data.action.damagetype" value="{{data.action.damagetype}}"
                         data-tippy-content="{{localize "DL.ActionTargetType"}}" placeholder="-" autosize/>
                </div>
                <a
                  class="dl-clickable damagetype-control"
                  data-tippy-content="{{localize 'DL.DamageAddType'}}"
                  data-action="create"
                ><i class="fas fa-plus"></i>
                </a>
              </div>
              {{#each data.action.damagetypes as |damagetype id|}}
                <div>
                  <div class="dl-new-project-2 nohover">
                    <i class="dl-icon-d20"></i>
                    <span class="sep"></span>
                    <input type="text" name="altdamage" value="{{damagetype.damage}}"
                           data-tippy-content="{{localize "DL.DamageRollText"}} [xdY+z]" placeholder="-" autosize/>
                    <span class="sep"></span>
                    <input type="text" name="altdamagetype" value="{{damagetype.damagetype}}"
                           data-tippy-content="{{localize "DL.ActionTargetType"}}" placeholder="-" autosize/>
                  </div>
                  <a
                    class="item-control damagetype-control"
                    data-tippy-content="{{localize 'DL.DamageAddType'}}"
                    data-action="delete"
                    data-id="{{id}}"
                  ><i class="fas fa-times"></i>
                  </a>
                </div>
              {{/each}}
            </div>
          </div>
          <div>
            <b>{{localize "DL.WeaponAttack20"}}</b>
            <div>
              <div class="dl-new-project-2 nohover">
                <i class="dl-icon-d20"></i>
                <span class="sep"></span>
                <input type="text" name="data.action.plus20damage" value="{{data.action.plus20damage}}"
                       data-tippy-content="{{localize "DL.DamageRollText"}} [xdY+z]" placeholder="-" autosize/>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="dl-item-section-section text-areas">
          <div>
            <b>{{localize "DL.SpellRequirements"}}</b>
            <textarea name="data.requirements" placeholder="―" autosize>{{data.requirements}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellTarget"}}</b>
            <textarea name="data.target" placeholder="―" autosize>{{data.target}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellArea"}}</b>
            <textarea name="data.area" placeholder="―" autosize>{{data.area}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellDuration"}}</b>
            <textarea name="data.duration" placeholder="―" autosize>{{data.duration}}</textarea>
          </div>
        </div>
        <hr>

        <div class="dl-item-section-description">
          <div><b>{{localize "DL.TabsDescription"}}</b></div>
          <div>
            {{dlEditor content=data.description target="data.description" button=true owner=owner editable=editable}}
          </div>
        </div>

        <div class="dl-item-section-section text-areas">
          <!-- TODO DESCRIPTION -->
          <div style="display: block">
<!--            {{{enrichHTMLUnrolled data.description}}}-->
          </div>
          <!--          <div class="dl-editor-box">
            {{dlEditor content=data.description target="data.description" button=true owner=owner editable=editable}}
          </div>-->
          <div>
            <b>{{localize "DL.SpellTriggered"}}</b>
            <textarea name="data.triggered" placeholder="―" autosize>{{data.triggered}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellSacrifice"}}</b>
            <textarea name="data.sacrifice" placeholder="―" autosize>{{data.sacrifice}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellPermanence"}}</b>
            <textarea name="data.permanence" placeholder="―" autosize>{{data.permanence}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellAftereffect"}}</b>
            <textarea name="data.aftereffect" placeholder="―" autosize>{{data.aftereffect}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellSpecial"}}</b>
            <textarea name="data.special" placeholder="―" autosize>{{data.special}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellEffectDice"}}</b>
            <textarea name="data.effectdice" placeholder="―" autosize>{{data.effectdice}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.WeaponAttack20Text"}}</b>
            <textarea name="data.action.plus20" placeholder="―" autosize>{{data.action.plus20}}</textarea>
          </div>
        </div>


        {{!-- Activated Effects --}}
        <!--
        <div class="item-tab-sub-header collapse-title">
          <div>{{localize "DL.MeasuredTemplate"}}</div>
        </div>
        <div class="item-table indent collapse-content">
          {{!-- Target --}}
          <div class="row">
            <div class="col-6">
              <label class="resource-label">{{localize "DL.ActionTargetValue"}}</label>
              <input
                type="text"
                name="data.activatedEffect.target.value"
                value="{{data.activatedEffect.target.value}}"
                data-dtype="Number"
              />
            </div>
            <div class="col-6">
              <label class="resource-label">{{localize "DL.ActionTargetType"}}</label>
              <select name="data.activatedEffect.target.type" data-dtype="String">
                {{#select data.activatedEffect.target.type}}
                  <option value="">—</option>
                  {{#each config.actionTargetTypes as |name key|}}
                    <option value="{{key}}">{{localize name}}</option>
                  {{/each}} {{/select}}
              </select>
            </div>
          </div>

          {{!-- Template --}}
          <div class="row">
            <div class="col-11">
              <input
                class="image"
                type="text"
                name="data.activatedEffect.texture"
                placeholder="path/image.webp"
                value="{{data.activatedEffect.texture}}"
                data-dtype="String"
              />
            </div>
            <div class="col-1">
              <button
                type="button"
                class="file-picker"
                data-type="imagevideo"
                data-target="data.activatedEffect.texture"
                title="File"
                tabindex="-1"
                style="height: 21px;width: 21px;font-size: 12px;padding: 0;line-height: 7px;border: none;border-bottom: 1px solid #a17771;"
              >
                <i class="fas fa-file-import fa-fw"></i>
              </button>
            </div>
          </div>
        </div>
        -->
      </div>

      {{> "systems/demonlord/templates/item/partial/item-description.html"}} {{#if effects}}{{>
    "systems/demonlord/templates/item/partial/item-effects.html"}}{{/if}}
      {{!-- "systems/demonlord/templates/item/partial/item-activation.html" --}}
    </section>
  </section>
</form>
