<form class="{{cssClass}} item-form" autocomplete="off">
  <header class="sheet-header itemsheet-header">
    <img class="weapon-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <div class="gridrow">
        <input name="name" type="text" value="{{item.name}}" placeholder="Ammo Name"/>
      </div>
    </div>
    <div class="template-type">{{item.type}}</div>
    {{#if isGM}}
      <div class="togglegm">
        <label class="switchBig">
          <input type="checkbox" id="data.editPath" name="data.editPath" {{checked data.editPath}} />
          <div class="slider round"><span class="on">Edit</span><span class="off">View</span></div>
        </label>
      </div>
    {{/if}}
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "DL.TabsPathSetup"}}</a>
    <a class="item" data-tab="description">{{localize "DL.TabsPathDescription"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <section class="sheet-content" style="padding-top: 0">
      <div
              class="tab paths"
              data-group="primary"
              data-tab="attributes"
              style="padding: 0 !important; padding-bottom: 8px"
      >
        {{!-- EDIT --}} {{#if data.editPath}}

        <div class="item-table fixed-path">
          <div class="row">
            <div class="col-8 inline-input">
              <label>{{localize "DL.PathsPathType"}}</label>
              <select name="data.type" data-dtype="String">
                {{#select data.type}}
                  <option value="">—</option>
                  <option value="novice">{{localize "DL.CharPathNovice"}}</option>
                  <option value="expert">{{localize "DL.CharPathExpert"}}</option>
                  <option value="master">{{localize "DL.CharPathMaster"}}</option>
                {{/select}}
              </select>
            </div>
            <div class="col-4 inline-input">
              <label>{{localize "DL.PathsLevelsTitle"}}</label>
              <span class="item-controls" style="margin-left: 5px; top: 1px; position: relative">
                <a class="item-control add-level" title="{{localize 'DL.PathsAddLevel'}}" data-type="weapon"
                ><i class="fas fa-plus"></i
                ></a>
              </span>
            </div>
          </div>
        </div>

        {{#each data.levels as |level id|}}
          <div class="path-level" id="path-level-{{id}}">
            <div class="item-tab-header">
              <img src="systems/demonlord/assets/ui/dl-divider.webp"/>
              <div>
                <span>{{localize 'DL.PathsLevelsSubTitle'}}</span>
                <span
                ><input
                        type="number"
                        name="level.level"
                        value="{{level.level}}"
                        data-dtype="Number"
                        style="font-family: 'IM Fell English SC', serif !important"
                /></span>
                <span style="font-size: 14px; bottom: 3px; margin-left: 4px">
                <a class="item-control delete-level" title="{{localize 'DL.PathsDeleteLevel'}}">
                  <i class="fas fa-trash"></i>
                </a>
              </span>
              </div>
            </div>

            <div class="item-tab-sub-header">
              <div>{{localize 'DL.PathsLevelAttributesSubtitle'}}</div>
            </div>

            <div class="item-table indent">
              <div class="row">
                <div class="col-12">
                  <select name="level.attributeSelect" data-dtype="String">
                    {{#select level.attributeSelect}}
                      <option value="-">{{localize "DL.PathsLevelAttributesNone"}}</option>
                      <option value="choosetwo">{{localize "DL.PathsLevelAttributesChooseTwo"}}</option>
                      <option value="choosethree">{{localize "DL.PathsLevelAttributesChooseThree"}}</option>
                      <option value="fixed">{{localize "DL.PathsLevelAttributesFixed"}}</option>
                      <option value="twosets">{{localize "DL.PathsLevelAttributesTwoSets"}}</option>
                    {{/select}}
                  </select>
                </div>
              </div>
              {{#if (or level.attributeSelectIsChooseTwo level.attributeSelectIsChooseThree level.attributeSelectIsFixed)
              }}
                <div class="row">
                  <div class="col-6 inline-input">
                    <input
                            type="number"
                            name="level.attributeStrength"
                            value="{{level.attributeStrength}}"
                            data-dtype="Number"
                    />
                    <label>{{localize 'DL.AttributeStrength'}}</label>
                  </div>
                  <div class="col-6 inline-input">
                    <input
                            type="number"
                            name="level.attributeAgility"
                            value="{{level.attributeAgility}}"
                            data-dtype="Number"
                    />
                    <label>{{localize 'DL.AttributeAgility'}}</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 inline-input">
                    <input
                            type="number"
                            name="level.attributeIntellect"
                            value="{{level.attributeIntellect}}"
                            data-dtype="Number"
                    />
                    <label>{{localize 'DL.AttributeIntellect'}}</label>
                  </div>
                  <div class="col-6 inline-input">
                    <input type="number" name="level.attributeWill" value="{{level.attributeWill}}"
                           data-dtype="Number"/>
                    <label>{{localize 'DL.AttributeWill'}}</label>
                  </div>
                </div>
              {{/if}} {{#if level.attributeSelectIsTwoSet}}
              <div class="row">
                <div class="col-5">
                  <select name="level.attributeSelectTwoSet1" data-dtype="String">
                    {{#select level.attributeSelectTwoSet1}}
                      <option value="strength">{{localize "DL.AttributeStrength"}}</option>
                      <option value="agility">{{localize "DL.AttributeAgility"}}</option>
                      <option value="intellect">{{localize "DL.AttributeIntellect"}}</option>
                      <option value="will">{{localize "DL.AttributeWill"}}</option>
                    {{/select}}
                  </select>
                </div>
                <div style="text-align: center">
                  <label>{{localize 'DL.PathsLevelAttributesSelectOr'}}</label>
                </div>
                <div class="col-5">
                  <select name="level.attributeSelectTwoSet2" data-dtype="String">
                    {{#select level.attributeSelectTwoSet2}}
                      <option value="strength">{{localize "DL.AttributeStrength"}}</option>
                      <option value="agility">{{localize "DL.AttributeAgility"}}</option>
                      <option value="intellect">{{localize "DL.AttributeIntellect"}}</option>
                      <option value="will">{{localize "DL.AttributeWill"}}</option>
                    {{/select}}
                  </select>
                </div>
                <div class="col-1">
                  <input
                          type="number"
                          name="level.attributeSelectTwoSetValue1"
                          value="{{level.attributeSelectTwoSetValue1}}"
                          data-dtype="Number"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <select name="level.attributeSelectTwoSet3" data-dtype="String">
                    {{#select level.attributeSelectTwoSet3}}
                      <option value="strength">{{localize "DL.AttributeStrength"}}</option>
                      <option value="agility">{{localize "DL.AttributeAgility"}}</option>
                      <option value="intellect">{{localize "DL.AttributeIntellect"}}</option>
                      <option value="will">{{localize "DL.AttributeWill"}}</option>
                    {{/select}}
                  </select>
                </div>
                <div style="text-align: center">
                  <label>{{localize 'DL.PathsLevelAttributesSelectOr'}}</label>
                </div>
                <div class="col-5">
                  <select name="level.attributeSelectTwoSet4" data-dtype="String">
                    {{#select level.attributeSelectTwoSet4}}
                      <option value="strength">{{localize "DL.AttributeStrength"}}</option>
                      <option value="agility">{{localize "DL.AttributeAgility"}}</option>
                      <option value="intellect">{{localize "DL.AttributeIntellect"}}</option>
                      <option value="will">{{localize "DL.AttributeWill"}}</option>
                    {{/select}}
                  </select>
                </div>
                <div class="col-1">
                  <input
                          type="number"
                          name="level.attributeSelectTwoSetValue2"
                          value="{{level.attributeSelectTwoSetValue2}}"
                          data-dtype="Number"
                  />
                </div>
              </div>
            {{/if}}
            </div>

            <div class="item-tab-sub-header">
              <div>{{localize 'DL.PathsLevelCharacteristicsSubtitle'}}</div>
            </div>
            <div class="item-table indent">
              <div class="row">
                <div class="col-4 inline-input">
                  <input
                          type="number"
                          name="level.characteristicsHealth"
                          value="{{level.characteristicsHealth}}"
                          data-dtype="Number"
                  />
                  <label>{{localize 'DL.CharHealth'}}</label>
                </div>
                <div class="col-4 inline-input">
                  <input
                          type="number"
                          name="level.characteristicsPower"
                          value="{{level.characteristicsPower}}"
                          data-dtype="Number"
                  />
                  <label>{{localize 'DL.CharPower'}}</label>
                </div>
                <div class="col-4 inline-input">
                  <input
                          type="number"
                          name="level.characteristicsPerception"
                          value="{{level.characteristicsPerception}}"
                          data-dtype="Number"
                  />
                  <label>{{localize 'DL.CharPerception'}}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-4 inline-input">
                  <input
                          type="number"
                          name="level.characteristicsSpeed"
                          value="{{level.characteristicsSpeed}}"
                          data-dtype="Number"
                  />
                  <label>{{localize 'DL.CharSpeed'}}</label>
                </div>
                <div class="col-4 inline-input">
                  <input
                          type="number"
                          name="level.characteristicsDefense"
                          value="{{level.characteristicsDefense}}"
                          data-dtype="Number"
                  />
                  <label>{{localize 'DL.CharDefense'}}</label>
                </div>
                <div class="col-4 inline-input">
                  <input
                          type="number"
                          name="level.characteristicsInsanity"
                          value="{{level.characteristicsInsanity}}"
                          data-dtype="Number"
                  />
                  <label>{{localize 'DL.CharInsanity'}}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-4 inline-input">
                  <input
                          type="number"
                          name="level.characteristicsCorruption"
                          value="{{level.characteristicsCorruption}}"
                          data-dtype="Number"
                  />
                  <label>{{localize 'DL.CharCorruption'}}</label>
                </div>
                <div class="col-4 inline-input"></div>
                <div class="col-4 inline-input"></div>
              </div>
            </div>

            <div class="item-table">
              <div class="row">
                <div class="col-12">
                  <label>{{localize 'DL.PathsLevelLanguages'}}</label>
                  <textarea name="level.languagesText">{{level.languagesText}}</textarea>
                </div>
                <div class="col-6">
                  <label>{{localize 'DL.PathsLevelEquipment'}}</label>
                  <textarea name="level.equipmentText">{{level.equipmentText}}</textarea>
                </div>
                <div class="col-6">
                  <label>{{localize 'DL.TabsMagic'}}</label>
                  <textarea name="level.magicText">{{level.magicText}}</textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <label>{{localize 'DL.TabsTalents'}}</label>
                  <div class="item-container drop-area" data-group="talent" data-level="{{id}}">
                    <ul class="tags">
                      {{#each level.talents as |talent id|}}
                        <li class="tag" data-item-id="{{id}}">
                          {{talent.name}}
                          <span class="remove-tag delete-item" role="button" data-action="delete"></span>
                        </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
                <div class="col-6">
                  <label>{{localize 'DL.TabsTalents'}}: ({{localize 'DL.PathsLevelTalentChooseOne'}})</label>
                  <div class="item-container drop-area" data-group="talentpick" data-level="{{id}}">
                    <ul class="tags">
                      {{#each level.talentspick as |talent id|}}
                        <li class="tag" data-item-id="{{id}}">
                          {{talent.name}}
                          <span class="remove-tag delete-item" role="button" data-action="delete"></span>
                        </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label>{{localize 'DL.MagicSpellsTitle'}}</label>
                  <div class="item-container drop-area" data-group="spell" data-level="{{id}}">
                    <ul class="tags">
                      {{#each level.spells as |spell id|}}
                        <li class="tag" data-item-id="{{id}}">
                          {{spell.name}}
                          <span class="remove-tag delete-item" role="button" data-action="delete"></span>
                        </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <br/><br/>
          </div>
        {{/each}} {{!-- - VIEW - --}} {{else}} {{#each data.levels as |level id|}}
        <div class="path-level" id="path-level-{{id}}" style="padding-top: 16px">
          <div class="item-tab-header">
            <img src="systems/demonlord/assets/ui/dl-divider.webp"/>
            <div>
              <span>{{localize 'DL.PathsLevelsSubTitle'}}</span>
              <span>{{level.level}}</span>
            </div>
          </div>
          <input type="hidden" name="level.level" value="{{level.level}}"/>

          {{#if level.attributeSelectIsChooseTwo}}
            <div class="item-tab-sub-header">
              <div>{{localize 'DL.PathsLevelAttributesSubtitle'}}: ({{localize 'DL.PathsLevelAttributesChooseTwo'}})
              </div>
            </div>
          {{/if}} {{#if level.attributeSelectIsChooseThree}}
          <div class="item-tab-sub-header">
            <div>
              {{localize 'DL.PathsLevelAttributesSubtitle'}}: ({{localize 'DL.PathsLevelAttributesChooseThree'}})
            </div>
          </div>
        {{/if}} {{#if level.attributeSelectIsFixed}}
          <div class="item-tab-sub-header">
            <div>{{localize 'DL.PathsLevelAttributesSubtitle'}}: ({{localize 'DL.PathsLevelAttributesFixed'}})</div>
          </div>
        {{/if}} {{#if level.attributeSelectIsTwoSet}}
          <div class="item-tab-sub-header">
            <div>{{localize 'DL.PathsLevelAttributesSubtitle'}}: ({{localize 'DL.PathsLevelAttributesTwoSets'}})</div>
          </div>
        {{/if}} {{#if (or level.attributeSelectIsChooseTwo level.attributeSelectIsChooseThree)}}
          <div class="item-table indent">
            <div class="row">
              <div class="col-3">
                <label for="level.attributeStrengthSelected{{id}}" style="text-align: center">
                  {{localize 'DL.AttributeStrength'}} +{{level.attributeStrength}}</label
                >
                <input
                        type="checkbox"
                        name="level.attributeStrengthSelected"
                        class="single-checkbox"
                        id="level.attributeStrengthSelected{{id}}"
                  {{checked
                          level.attributeStrengthSelected}}
                />
              </div>
              <div class="col-3">
                <label for="level.attributeAgilitySelected{{id}}" style="text-align: center">
                  {{localize 'DL.AttributeAgility'}} +{{level.attributeAgility}}</label
                >
                <input
                        type="checkbox"
                        name="level.attributeAgilitySelected"
                        class="single-checkbox"
                        id="level.attributeAgilitySelected{{id}}"
                  {{checked
                          level.attributeAgilitySelected}}
                />
              </div>
              <div class="col-3">
                <label for="level.attributeIntellectSelected{{id}}" style="text-align: center">
                  {{localize 'DL.AttributeIntellect'}} +{{level.attributeIntellect}}</label
                >
                <input
                        type="checkbox"
                        name="level.attributeIntellectSelected"
                        class="single-checkbox"
                        id="level.attributeIntellectSelected{{id}}"
                  {{checked
                          level.attributeIntellectSelected}}
                />
              </div>
              <div class="col-3">
                <label for="level.attributeWillSelected{{id}}" style="text-align: center">
                  {{localize 'DL.AttributeWill'}} +{{level.attributeWill}}</label
                >
                <input
                        type="checkbox"
                        name="level.attributeWillSelected"
                        class="single-checkbox"
                        id="level.attributeWillSelected{{id}}"
                  {{checked
                          level.attributeWillSelected}}
                />
              </div>
            </div>
          </div>
        {{/if}} {{#if level.attributeSelectIsFixed}}
          <div class="item-table indent">
            <div class="row">
              {{#if (ne level.attributeStrength 0)}}
                <div class="col-xs">
                  <label
                  >{{localize 'DL.AttributeStrength'}}
                    <span>+{{level.attributeStrength}}</span>
                  </label>
                </div>
              {{/if}} {{#if (ne level.attributeAgility 0)}}
              <div class="col-xs">
                <label
                >{{localize 'DL.AttributeAgility'}}
                  <span>+{{level.attributeAgility}}</span>
                </label>
              </div>
            {{/if}} {{#if (ne level.attributeIntellect 0)}}
              <div class="col-xs">
                <label
                >{{localize 'DL.AttributeIntellect'}}
                  <span>+{{level.attributeIntellect}}</span>
                </label>
              </div>
            {{/if}} {{#if (ne level.attributeWill 0)}}
              <div class="col-xs">
                <label
                >{{localize 'DL.AttributeWill'}}
                  <span>+{{level.attributeWill}}</span>
                </label>
              </div>
            {{/if}}
            </div>
          </div>
        {{/if}} {{#if level.attributeSelectIsTwoSet}}
          <div class="item-table indent">
            <div class="row">
              {{#if level.attributeSelectTwoSetSelectedValue1}}
                <div class="col-4" style="text-align: right">
                  <label for="level.attributeSelectTwoSetSelectedValue1.true{{id}}">
                    {{level.attributeSelectTwoSet1Label}} +{{level.attributeSelectTwoSetValue1}}</label
                  >
                </div>
                <div class="col-1">
                  <input
                          type="radio"
                          name="level.attributeSelectTwoSetSelectedValue1"
                          id="level.attributeSelectTwoSetSelectedValue1.true{{id}}"
                          value="true"
                    {{checked}}
                  />
                </div>
                <div class="col-2" style="text-align: center">
                  <label>{{localize 'DL.PathsLevelAttributesSelectOr'}}</label>
                </div>
                <div class="col-1">
                  <input
                          type="radio"
                          name="level.attributeSelectTwoSetSelectedValue1"
                          id="level.attributeSelectTwoSetSelectedValue1.false{{id}}"
                          value="false"
                  />
                </div>
                <div class="col-4">
                  <label for="level.attributeSelectTwoSetSelectedValue1.false{{id}}">
                    {{level.attributeSelectTwoSet2Label}} +{{level.attributeSelectTwoSetValue1}}</label
                  >
                </div>
              {{else}}
                <div class="col-4" style="text-align: right">
                  <label for="level.attributeSelectTwoSetSelectedValue1.true{{id}}">
                    {{level.attributeSelectTwoSet1Label}} +{{level.attributeSelectTwoSetValue1}}</label
                  >
                </div>
                <div class="col-1">
                  <input
                          type="radio"
                          name="level.attributeSelectTwoSetSelectedValue1"
                          id="level.attributeSelectTwoSetSelectedValue1.true{{id}}"
                          value="true"
                  />
                </div>
                <div class="col-2" style="text-align: center">
                  <label>{{localize 'DL.PathsLevelAttributesSelectOr'}}</label>
                </div>
                <div class="col-1">
                  <input
                          type="radio"
                          name="level.attributeSelectTwoSetSelectedValue1"
                          id="level.attributeSelectTwoSetSelectedValue1.false{{id}}"
                          value="false"
                    {{checked}}
                  />
                </div>
                <div class="col-4">
                  <label for="level.attributeSelectTwoSetSelectedValue1.false{{id}}">
                    {{level.attributeSelectTwoSet2Label}} +{{level.attributeSelectTwoSetValue1}}</label
                  >
                </div>
              {{/if}}
            </div>

            <div class="row">
              {{#if level.attributeSelectTwoSetSelectedValue2}}
                <div class="col-4" style="text-align: right">
                  <label for="level.attributeSelectTwoSetSelectedValue2.true{{id}}">
                    {{level.attributeSelectTwoSet3Label}} +{{level.attributeSelectTwoSetValue2}}</label
                  >
                </div>
                <div class="col-1">
                  <input
                          type="radio"
                          name="level.attributeSelectTwoSetSelectedValue2"
                          id="level.attributeSelectTwoSetSelectedValue2.true{{id}}"
                          value="true"
                    {{checked}}
                  />
                </div>
                <div class="col-2" style="text-align: center">
                  <label>{{localize 'DL.PathsLevelAttributesSelectOr'}}</label>
                </div>
                <div class="col-1">
                  <input
                          type="radio"
                          name="level.attributeSelectTwoSetSelectedValue2"
                          id="level.attributeSelectTwoSetSelectedValue2.false{{id}}"
                          value="false"
                  />
                </div>
                <div class="col-4">
                  <label for="level.attributeSelectTwoSetSelectedValue2.false{{id}}">
                    {{level.attributeSelectTwoSet4Label}} +{{level.attributeSelectTwoSetValue2}}</label
                  >
                </div>
              {{else}}
                <div class="col-4" style="text-align: right">
                  <label for="level.attributeSelectTwoSetSelectedValue2.true">
                    {{level.attributeSelectTwoSet3Label}} +{{level.attributeSelectTwoSetValue2}}</label
                  >
                </div>
                <div class="col-1">
                  <input
                          type="radio"
                          name="level.attributeSelectTwoSetSelectedValue2"
                          id="level.attributeSelectTwoSetSelectedValue2.true"
                          value="true"
                  />
                </div>
                <div class="col-2" style="text-align: center">
                  <label>{{localize 'DL.PathsLevelAttributesSelectOr'}}</label>
                </div>
                <div class="col-1">
                  <input
                          type="radio"
                          name="level.attributeSelectTwoSetSelectedValue2"
                          id="level.attributeSelectTwoSetSelectedValue2.false{{id}}"
                          value="false"
                    {{checked}}
                  />
                </div>
                <div class="col-4">
                  <label for="level.attributeSelectTwoSetSelectedValue2.false{{id}}">
                    {{level.attributeSelectTwoSet4Label}} +{{level.attributeSelectTwoSetValue2}}</label
                  >
                </div>
              {{/if}}
            </div>
          </div>
        {{/if}} {{#if (hasCharacteristics level)}}
          <div class="item-tab-sub-header">
            <div>{{localize 'DL.PathsLevelCharacteristicsSubtitle'}}</div>
          </div>

          <div class="item-table indent">
            <div class="row">
              {{#if (ne level.characteristicsHealth 0)}}
                <div class="col-6 inline-input input-round">
                  <input type="text" value="+{{level.characteristicsHealth}}" readonly/>
                  <label>{{localize 'DL.CharHealth'}}</label>
                </div>
              {{/if}} {{#if (ne level.characteristicsPower 0)}}
              <div class="col-6 inline-input">
                <input type="text" value="+{{level.characteristicsPower}}" readonly/>
                <label>{{localize 'DL.CharPower'}}</label>
              </div>
            {{/if}} {{#if (ne level.characteristicsPerception 0)}}
              <div class="col-6 inline-input">
                <input type="text" value="+{{level.characteristicsPerception}}" readonly/>
                <label>{{localize 'DL.CharPerception'}}</label>
              </div>
            {{/if}} {{#if (ne level.characteristicsSpeed 0)}}
              <div class="col-6 inline-input">
                <input type="text" value="+{{level.characteristicsSpeed}}" readonly/>
                <label>{{localize 'DL.CharSpeed'}}</label>
              </div>
            {{/if}} {{#if (ne level.characteristicsDefense 0)}}
              <div class="col-6 inline-input">
                <input type="text" value="+{{level.characteristicsDefense}}" readonly/>
                <label>{{localize 'DL.CharDefense'}}</label>
              </div>
            {{/if}} {{#if (ne level.characteristicsInsanity 0)}}
              <div class="col-6 inline-input">
                <input type="text" value="+{{level.characteristicsInsanity}}" readonly/>
                <label>{{localize 'DL.CharInsanity'}}</label>
              </div>
            {{/if}} {{#if (ne level.characteristicsCorruption 0)}}
              <div class="col-6 inline-input">
                <input type="text" value="+{{level.characteristicsCorruption}}" readonly/>
                <label>{{localize 'DL.CharCorruption'}}</label>
              </div>
            {{/if}}
            </div>
          </div>
        {{/if}}

          <div class="item-table">
            {{#if level.languagesText}}
              <div class="row">
                <div class="col-12">
                  <label>{{localize 'DL.PathsLevelLanguages'}}</label>
                  <div>{{level.languagesText}}</div>
                </div>
              </div>
            {{/if}} {{#if level.equipmentText}}
            <div class="row">
              <div class="col-12">
                <label>{{localize 'DL.PathsLevelEquipment'}}</label>
                <div>{{level.equipmentText}}</div>
              </div>
            </div>
          {{/if}} {{#if level.magicText}}
            <div class="row">
              <div class="col-12">
                <label>{{localize 'DL.TabsMagic'}}</label>
                <div>{{level.magicText}}</div>
              </div>
            </div>
          {{/if}} {{#if level.talents}}
            <div class="row">
              <div class="col-12">
                <label>{{localize 'DL.TabsTalents'}}</label>
                <div class="item-container select-area">
                  <ul class="tags">
                    {{#each level.talents as |talent id|}}
                      <li class="tagcleantooltip" data-item-id="{{id}}">
                        {{#if talent.description}}
                          <span data-tipfy="{{{talent.description}}}">{{talent.name}}</span>
                        {{else}} {{talent.name}} {{/if}}
                      </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          {{/if}} {{#if level.talentspick}}
            <div class="row">
              <div class="col-12">
                <label>{{localize 'DL.TabsTalents'}}: ({{localize 'DL.PathsLevelTalentChooseOne'}})</label>
                <div class="info">{{localize 'DL.PathsTransfer'}}</div>
                <div class="item-container select-area" data-group="talent" data-level="{{id}}">
                  <ul class="tags">
                    {{#each level.talentspick as |talent id|}}
                      <li class="tagcleantooltip select-item transfer-talentpick" data-item-id="{{id}}">
                        {{#if talent.description}}
                          <span data-tipfy="{{{talent.description}}}">{{talent.name}}</span>
                        {{else}} {{talent.name}} {{/if}}
                      </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          {{/if}} {{#if level.spells}}
            <div class="row">
              <div class="col-12">
                <label>{{localize 'DL.MagicSpellsTitle'}}</label>
                <div class="item-container select-area" data-group="spell" data-level="{{id}}">
                  <ul class="tags">
                    {{#each level.spells as |spell id|}}
                      <li class="tagcleantooltip" data-item-id="{{id}}">
                        {{#if spell.description}}
                          <span data-tipfy="{{{spell.description}}}">{{spell.name}}</span>
                        {{else}} {{spell.name}} {{/if}}
                      </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          {{/if}}
          </div>
        </div>
      {{/each}} {{/if}}
      </div>

      {{> "systems/demonlord/templates/item/partial/item-description.html"}}
    </section>
  </section>
  <script>
    new Tipfy('[data-tipfy]')
  </script>
</form>
