<form class="{{cssClass}} cromethius-item-form" autocomplete="off">
  <!--
  <header class="sheet-header itemsheet-header">
    <img class="weapon-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <div class="gridrow"><input name="name" type="text" value="{{item.name}}" placeholder="Armor Name"/>
      </div>
    </div>
    <div class="template-type">{{item.type}}</div>
    {{#if isGM}}
    <div class="togglegm">
      <label class="switchBig">
        <input type="checkbox" id="data.editAncestry" name="data.editAncestry" {{checked data.editAncestry}}>
        <div class="slider round">
          <span class="on">Edit</span><span class="off">View</span>
        </div>
      </label>
    </div>
    {{else}}
    {{#if useDemonlordMode}}
    <div class="togglegm">
      <label class="switchBig">
        <input type="checkbox" id="data.editAncestry" name="data.editAncestry" {{checked data.editAncestry}}>
        <div class="slider round">
          <span class="on">Edit</span><span class="off">View</span>
        </div>
      </label>
    </div>
    {{/if}}
    {{/if}}
  </header>
  -->
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary" style="display: none">
    <a class="item" data-tab="attributes">{{localize "DL.TabsAttributes"}}</a>
    <a class="item" data-tab="description">{{localize "DL.TabsDescription"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <section class="sheet-content cromethius-item-content">
      {{!-- Attributes Tab --}}
      <div class="tab paths" data-group="primary" data-tab="attributes">

        {{!-- General (Icon, Name, Description, Type, Edit) --}}
        <div class="item-general">
          <div class="row">
            <div class="col-xs-2 item-banner"
                 style="background: url(systems/demonlord08/assets/ui/sidebar_creature.png)">
              <img class="weapon-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
              <div class="template-type">{{item.type}}</div>
              {{#if isGM}}
              <div class="togglegm">
                <label class="switchBig">
                  <input type="checkbox" id="data.editAncestry" name="data.editAncestry" {{checked
                         data.editAncestry}}>
                  <div class="slider round">
                    <span class="on">Edit</span><span class="off">View</span>
                  </div>
                </label>
              </div>
              {{else}}
              {{#if useDemonlordMode}}
              <div class="togglegm">
                <label class="switchBig">
                  <input type="checkbox" id="data.editAncestry" name="data.editAncestry" {{checked
                         data.editAncestry}}>
                  <div class="slider round">
                    <span class="on">Edit</span><span class="off">View</span>
                  </div>
                </label>
              </div>
              {{/if}}
              {{/if}}
            </div>
            <div class="col-xs-10">
              <input name="name" type="text" value="{{item.name}}" placeholder="Ammo Name"/>
              <label class="description-label">{{localize 'DL.TabsDescription'}}</label>
              {{editor content=data.description target="data.description"
              button=true owner=owner editable=editable}}
            </div>
          </div>
        </div>

        {{!-- Starting Attributes --}}
        {{#unless useDemonlordMode}}
        <div class="item-tab-header">
          <img src="systems/demonlord08/assets/ui/text_divider.png"/>
          <div>{{localize "DL.AncestryStartingAttributes"}}</div>
        </div>
        <div class="item-table">
          <div class="row">
            <div class="col-xs-3 inline-input">
              <input type="number" name="data.attributes.strength.value"
                     value="{{data.attributes.strength.value}}" data-dtype="Number" placeholder="10"
                     {{notreadonly data.editAncestry}}/>
              <label class="bold">{{localize 'DL.AttributeStrength'}}</label>
            </div>
            <div class="col-xs-3 inline-input">
              <input type="number" name="data.attributes.agility.value"
                     value="{{data.attributes.agility.value}}" data-dtype="Number" placeholder="10"
                     {{notreadonly data.editAncestry}}/>
              <label class="bold">{{localize 'DL.AttributeAgility'}}</label>
            </div>
            <div class="col-xs-3 inline-input">
              <input type="number" name="data.attributes.intellect.value"
                     value="{{data.attributes.intellect.value}}" data-dtype="Number" placeholder="10"
                     {{notreadonly data.editAncestry}}/>
              <label class="bold">{{localize 'DL.AttributeIntellect'}} </label>
            </div>
            <div class="col-xs-3 inline-input">
              <input type="number" name="data.attributes.will.value" value="{{data.attributes.will.value}}"
                     data-dtype="Number" placeholder="10" {{notreadonly data.editAncestry}}/>
              <label class="bold">{{localize 'DL.AttributeWill'}}</label>
            </div>
          </div>
        </div>
        {{/unless}}

        {{!-- Characteristics --}}
        <div class="item-tab-header" style="margin-top: 12px">
          <!--<img src="systems/demonlord08/assets/ui/text_divider.png"/> -->
          <div>{{localize "DL.Characteristics"}}</div>
        </div>
        <div class="item-table">

          {{!-- Power - Size - Speed --}}
          <div class="row">
            <div class="col-xs-4 inline-input">
              <input type="number" name="data.characteristics.power"
                     value="{{data.characteristics.power}}" {{notreadonly data.editAncestry}}/>
              <label class="resource-label">{{localize "DL.CharPower"}}</label>
            </div>
            <div class="col-xs-4 inline-input">
              <input type="text" name="data.characteristics.size"
                     value="{{data.characteristics.size}}" {{notreadonly data.editAncestry}}/>
              <label class="resource-label">{{localize "DL.CharSize"}}</label>
            </div>
            <div class="col-xs-4 inline-input">
              <input type="text" name="data.characteristics.speed"
                     value="{{data.characteristics.speed}}" {{notreadonly data.editAncestry}}/>
              <label class="resource-label">{{localize "DL.CharSpeed"}}</label>
            </div>
          </div>

          {{!-- Perception - Defense --}}
          <div class="row">
            <div class="col-xs-6 inline-input">
              <input type="number" name="data.characteristics.perceptionmodifier"
                     value="{{data.characteristics.perceptionmodifier}}" {{notreadonly data.editAncestry}}/>
              <label class="resource-label">{{localize "DL.AncestryPerceptionModifier"}}</label>
            </div>
            <div class="col-xs-6 inline-input">
              <input type="number" name="data.characteristics.defensemodifier"
                     value="{{data.characteristics.defensemodifier}}" {{notreadonly data.editAncestry}}/>
              <label class="resource-label">{{localize "DL.AncestryDefenseModifier"}}</label>
            </div>
          </div>

          {{!-- Health - Healing --}}
          <div class="row">
            <div class="col-xs-6 inline-input">
              <input type="number" name="data.characteristics.healthmodifier"
                     value="{{data.characteristics.healthmodifier}}" {{notreadonly data.editAncestry}}/>
              <label class="resource-label">{{localize "DL.AncestryHealthModifier"}}</label>
            </div>
            <div class="col-xs-6 inline-input">
              <input type="number" name="data.characteristics.healingratemodifier"
                     value="{{data.characteristics.healingratemodifier}}" {{notreadonly data.editAncestry}}/>
              <label class="resource-label">{{localize "DL.AncestryHealingRateModifier"}}</label>
            </div>
          </div>

          {{!-- Insanity - Corruption --}}
          <div class="row">
            <div class="col-xs-6 inline-input">
              <input type="text" name="data.characteristics.insanity"
                     value="{{data.characteristics.insanity}}" {{notreadonly data.editAncestry}}/>
              <label class="resource-label" title="{{localize 'DL.AncestryNotTransferred'}}"
                     style="cursor: help">{{localize "DL.CharInsanity"}}¹</label>

            </div>
            <div class="col-xs-6 inline-input">
              <input type="text" name="data.characteristics.corruption"
                     value="{{data.characteristics.corruption}}" {{notreadonly data.editAncestry}}/>
              <label class="resource-label" title="{{localize 'DL.AncestryNotTransferred'}}"
                     style="cursor: help">{{localize "DL.CharCorruption"}}¹</label>
            </div>
          </div>

          {{!-- Languages and Professions --}}
          <div class="row">
            <div class="col-xs-12">
              <label>{{localize 'DL.PathsLevelLanguages'}}</label>
              {{#if data.editAncestry}}
              <textarea name="data.languages">{{data.languages}}</textarea>
              {{else}} {{#if data.languages}}
              <div>{{data.languages}}</div>
              {{/if}}{{/if}}
            </div>
          </div>

          {{!-- Languages - Talents --}}
          {{#if data.editAncestry}}
          <div class="row">
            <div class="col-xs-12">
              <label>{{localize 'DL.LanguagesTitle'}}</label>
              <div class=" item-container drop-area" data-group="language" data-level="{{id}}">
                <ul class="tags">
                  {{#each data.languagelist as |language id|}}
                  <li class="tag" data-item-id="{{id}}">{{language.name}}<span
                    class="remove-tag delete-ancestryitem" role="button"
                    data-action="delete"></span>
                  </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label>{{localize 'DL.CreatureTraits'}}</label>
              <div class=" item-container drop-area" data-group="talent" data-level="{{id}}">
                <ul class="tags">
                  {{#each data.talents as |talent id|}}
                  <li class="tag" data-item-id="{{id}}">{{talent.name}}<span
                    class="remove-tag delete-ancestryitem" role="button"
                    data-action="delete"></span>
                  </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
          {{else}}
          {{#if data.languagelist}}
          <div class="row">
            <div class="col-xs-12">
              <label>{{localize 'DL.LanguagesTitle'}}</label>
              <div class="item-container select-area" data-level="{{id}}">
                <ul class="tags">
                  {{#each data.languagelist as |language id|}}
                  <li class="tagcleantooltip" data-item-id="{{id}}">
                    {{#if language.description}}
                    <span data-tipfy="{{{language.description}}}">{{language.name}}</span>
                    {{else}}
                    {{language.name}}
                    {{/if}}
                  </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
          {{/if}}
          {{#if data.talents}}
          <div class="row">
            <div class="col-xs-12">
              <label>{{localize 'DL.CreatureTraits'}}</label>
              <div class="item-container select-area" data-level="{{id}}">
                <ul class="tags">
                  {{#each data.talents as |talent id|}}
                  <li class="tagcleantooltip" data-item-id="{{id}}">
                    {{#if talent.description}}
                    <span data-tipfy="{{{talent.description}}}">{{talent.name}}</span>
                    {{else}}
                    {{talent.name}}
                    {{/if}}
                  </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
          {{/if}}
          {{/if}}
        </div>


        {{!-- Level 4 --}}
        <div class="item-tab-header" style="margin-top: 12px">
          <img src="systems/demonlord08/assets/ui/text_divider.png"/>
          <div>{{localize "DL.AncestryLevel4"}}</div>
        </div>

        <div class="item-table">
          {{!-- Health bonus--}}
          <div class="row">
            <div class="col-xs-12 inline-input">
              <input type="text" name="data.level4.healthbonus" value="{{data.level4.healthbonus}}"
                     {{notreadonly data.editAncestry}}/>
              <label>{{localize "DL.CharHealth"}}</label>
            </div>
          </div>
          {{!-- Options (radios) --}}
          <div class="row">
            <div class="col-xs-12">
              <label>{{localize "DL.AncestryOptionTitle"}}</label>
            </div>
            {{#if data.level4.option1}}
            <div class="col-xs-5 inline-input">
              <input type="radio" name="data.level4.options" id="data.level4.option.true" checked/>
              <label style="vertical-align: super">{{localize "DL.AncestryLearnSpell"}}</label>
            </div>
            <div class="col-xs-5 inline-input">
              <input type="radio" name="data.level4.options" id="data.level4.option.false"/>
              <label style="vertical-align: super">{{localize "DL.AncestryLearnTalent"}}</label>
            </div>
            {{else}}
            <div class="col-xs-5 inline-input">
              <input type="radio" name="data.level4.options" id="data.level4.option.true"/>
              <label style="vertical-align: super">{{localize "DL.AncestryLearnSpell"}}</label>
            </div>
            <div class="col-xs-5 inline-input">
              <input type="radio" name="data.level4.options" id="data.level4.option.false" checked/>
              <label style="vertical-align: super">{{localize "DL.AncestryLearnTalent"}}</label>
            </div>
            {{/if}}
          </div>

          {{!-- Traits--}}
          {{#if data.editAncestry}}
          <div class="row">
            <div class="col-xs-12">
              <label>{{localize 'DL.CreatureTraits'}}</label>
            </div>
            <div class="col-xs-12">
              <div class=" item-container drop-area" data-group="talent4" data-level="{{id}}">
                <ul class="tags">
                  {{#each data.level4.talent as |talent id|}}
                  <li class="tag" data-item-id="{{id}}">{{talent.name}}<span
                    class="remove-tag delete-ancestryitem"
                    role="button" data-action="delete"></span>
                  </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
          {{else}} {{#if data.level4.talent}}
          <div class="row">
            <div class="col-xs-12">
              <label>{{localize 'DL.CreatureTraits'}}</label>
            </div>
            <div class="col-xs-8">
              <div class="item-container select-area" data-level="{{id}}">
                <ul class="tags">
                  {{#each data.level4.talent as |talent id|}}
                  <li class="tagcleantooltip" data-item-id="{{id}}">
                    {{#if talent.description}}
                    <span data-tipfy="{{{talent.description}}}">{{talent.name}}</span>
                    {{else}}
                    {{talent.name}}
                    {{/if}}
                  </li>
                  {{/each}}
                </ul>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="info"><a class="item-control transfer-talents" data-group="talent4"
                                   title="{{localize 'DL.PathsTraitTransfers'}}">{{localize
                'DL.PathsTraitTransfers'}}</a></div>
            </div>
          </div>
          {{/if}} {{/if}}
        </div>

        <!--
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
          <div class="descriptionblock">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
          </div>
        </div>
        -->
      </div>
    </section>
  </section>
  <script>
    new Tipfy('[data-tipfy]');
  </script>
</form>
