<form class="{{cssClass}} item-form" autocomplete="off">
  <header class="sheet-header itemsheet-header">
    <img class="weapon-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <div class="gridrow">
        <input name="name" type="text" value="{{item.name}}" placeholder="Profession Name"/>
      </div>
    </div>
    <div class="template-type">{{item.type}}</div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "DL.TabsDescription"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <section class="sheet-content">{{> "systems/demonlord/templates/item/partial/item-description.html"}}</section>
  </section>
</form>
