<form class="{{cssClass}} item-form dl-item-form" autocomplete="off">
  <header class="sheet-header itemsheet-header">
    <img class="weapon-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <div class="gridrow">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'DL.WeaponName'}}"/>
      </div>
    </div>
    <div class="template-type">{{item.type}}</div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "DL.TabsAttributes"}}</a>
    <a class="item" data-tab="description">{{localize "DL.TabsDescription"}}</a>
    {{#if effects}}<a class="item" data-tab="effects">{{localize "DL.TabsEffects"}}</a>{{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <section class="sheet-content">
      {{!-- Attributes Tab --}}
      <div class="tab" data-group="primary" data-tab="attributes">

        <div class="dl-item-section-header row">
          <div class="col-12" style="margin-top: 4px">
            <b>{{item.name}}</b>
          </div>
        </div>
        <hr>

        <div class="dl-item-section-section margin">
          <div>
            <b>{{localize "DL.AttackRoll"}}</b>
            <div>
              {{dlDropdown "data.action.attack" data.action.attack}}
              <span style="font-size: 11px">VS</span>
              {{dlDropdown "data.action.against" data.action.against}}
              <div class="dl-new-project-2 nohover" data-tippy-content="{{localize "DL.WeaponBoonsBanes"}}">
                <i class="dl-icon-d6"></i>
                <span class="sep"></span>
                <input type="number" name="data.action.boonsbanes" value="{{defaultValue data.action.boonsbanes 0}}"/>
              </div>
            </div>
          </div>

          <div>
            <b style="align-self: center">{{localize "DL.WeaponDamage"}}</b>
            <div class="dl-item-damage-container">
              <div>
                <div class="dl-new-project-2 nohover">
                  <i class="dl-icon-d20"></i>
                  <span class="sep"></span>
                  <input type="text" name="data.action.damage" value="{{data.action.damage}}"
                         data-tippy-content="{{localize "DL.DamageRollText"}} [xdY+z]" placeholder="-" autosize/>
                  <span class="sep"></span>
                  <input type="text" name="data.action.damagetype" value="{{data.action.damagetype}}"
                         data-tippy-content="{{localize "DL.ActionTargetType"}}" placeholder="-" autosize/>
                </div>
                <a
                  class="dl-clickable damagetype-control"
                  style="align-self: center;"
                  data-tippy-content="{{localize 'DL.DamageAddType'}}"
                  data-action="create"
                ><i class="fas fa-plus"></i>
                </a>
              </div>
              {{#each data.action.damagetypes as |damagetype id|}}
                <div>
                  <div class="dl-new-project-2 nohover">
                    <i class="dl-icon-d20"></i>
                    <span class="sep"></span>
                    <input type="text" name="altdamage" value="{{damagetype.damage}}"
                           data-tippy-content="{{localize "DL.DamageRollText"}} [xdY+z]" placeholder="-" autosize/>
                    <span class="sep"></span>
                    <input type="text" name="altdamagetype" value="{{damagetype.damagetype}}"
                           data-tippy-content="{{localize "DL.ActionTargetType"}}" placeholder="-" autosize/>
                  </div>
                  <a
                    class="item-control damagetype-control"
                    data-tippy-content="{{localize 'DL.DamageAddType'}}"
                    data-action="delete"
                    data-id="{{id}}"
                  ><i class="fas fa-times"></i>
                  </a>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
        <hr>

        <div class="dl-item-section-section margin">
          <div>
            <b>{{localize "DL.SpellRequirements"}}</b>
            <div>
              <div class="dl-new-project-2" data-tippy-content="{{localize "DL.ArmorStrengthRequiremet"}}">
                <i class="dl-icon-strength"></i>
                <span class="sep"></span>
                <span>{{localize "DL.AttributeStrength"}}</span>
                <span class="sep"></span>
                <input type="number" name="data.strengthmin" value="{{data.strengthmin}}" placeholder="-" autosize/>
              </div>
            </div>
          </div>

          <div>
            <b>{{localize "DL.WeaponHands"}}</b>
            <div>
              <div class="dl-new-project-2 dropdown" name="data.hands" value="{{data.hands}}">
                <span>
                  {{#if (eq data.hands "One")}}
                    {{localize "DL.WeaponHandsOne"}}
                  {{else if (eq data.hands "Two")}}
                    {{localize "DL.WeaponHandsTwo"}}
                  {{else if (eq data.hands "Off")}}
                    {{localize "DL.WeaponHandsOff"}}
                  {{else}}
                    -
                  {{/if}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="dl-item-section-section text-areas">
          <div>
            <b>{{localize "DL.WeaponProperties"}}</b>
            <textarea name="data.properties" placeholder="―" autosize>{{data.properties}}</textarea>
          </div>
        </div>
        <hr>

        <div class="dl-item-section-description">
          <div><b>{{localize "DL.TabsDescription"}}</b></div>
          <div>
            {{{enrichHTMLUnrolled data.description}}}
          </div>
        </div>
        <hr>

        <div class="dl-item-section-section margin">
          <div>
            <b>{{localize "DL.Availability"}}</b>
            <div>
              {{dlAvailabilityDropdown "data.availability" data.availability}}
              <div class="dl-new-project-2" data-tippy-content="{{localize "DL.ItemValue"}}">
                <i class="dl-icon-price"></i>
                <span class="sep"></span>
                <input type="text" name="data.value" value="{{data.value}}" autosize/>
              </div>
            </div>
          </div>
        </div>

      </div>
      {{> "systems/demonlord/templates/item/partial/item-description.html"}} {{#if effects}}{{>
    "systems/demonlord/templates/item/partial/item-effects.html"}}{{/if}}
    </section>
  </section>
</form>
