$tipfyBackground: rgba(0, 0, 0, 0.8);
$tipfyColor: #fff;
$tipfyArrow: 5px;
$tipfyAnimation: 0.2s;

@keyframes tipfyLeftTop {
  from {
    transform: translate(0, $tipfyArrow * 2);
  }
  to {
    transform: translate(0, $tipfyArrow);
  }
}

@keyframes tipfyLeftBottom {
  from {
    transform: translate(0, $tipfyArrow * -2);
  }
  to {
    transform: translate(0, $tipfyArrow * -1);
  }
}

@keyframes tipfyRightTop {
  from {
    transform: translate($tipfyArrow, $tipfyArrow * 2);
  }
  to {
    transform: translate($tipfyArrow, $tipfyArrow);
  }
}

@keyframes tipfyRightBottom {
  from {
    transform: translate($tipfyArrow, $tipfyArrow * -2);
  }
  to {
    transform: translate($tipfyArrow, $tipfyArrow * -1);
  }
}

@keyframes tipfyTop {
  from {
    transform: translateY($tipfyArrow * -2);
  }
  to {
    transform: translateY($tipfyArrow * -1);
  }
}

@keyframes tipfyBottom {
  from {
    transform: translateY($tipfyArrow * 2);
  }
  to {
    transform: translateY($tipfyArrow);
  }
}

@keyframes tipfyLeft {
  from {
    transform: translateX($tipfyArrow * -2);
  }
  to {
    transform: translateX($tipfyArrow * -1);
  }
}

@keyframes tipfyRight {
  from {
    transform: translateX($tipfyArrow * 2);
  }
  to {
    transform: translateX($tipfyArrow);
  }
}

.tipfy {
  position: absolute;
  padding: 10px;
  max-width: 300px;
  border-radius: 3px;
  background-color: $tipfyBackground;
  color: $tipfyColor;
  z-index: 200;
  font-size: 12px;

  &:before {
    content: '';
    position: absolute;
    border: $tipfyArrow solid transparent;
  }

  &--top {
    &:before {
      bottom: 100%;
      border-bottom-color: $tipfyBackground;
      border-top-style: none;
    }
  }

  &--bottom {
    &:before {
      top: 100%;
      border-top-color: $tipfyBackground;
      border-bottom-style: none;
    }
  }

  &--left {
    &.tipfy--top {
      animation: tipfyLeftTop $tipfyAnimation forwards;

      &:before {
        left: $tipfyArrow;
      }
    }

    &.tipfy--bottom {
      animation: tipfyLeftBottom $tipfyAnimation forwards;

      &:before {
        left: $tipfyArrow;
      }
    }
  }

  &--right {
    &.tipfy--top {
      animation: tipfyRightTop $tipfyAnimation forwards;

      &:before {
        right: $tipfyArrow;
      }
    }

    &.tipfy--bottom {
      animation: tipfyRightBottom $tipfyAnimation forwards;

      &:before {
        right: $tipfyArrow;
      }
    }
  }

  &--side {
    &-right {
      animation: tipfyRight $tipfyAnimation forwards;

      &:before {
        right: 100%;
        border-right-color: $tipfyBackground;
        border-left-style: none;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-left {
      animation: tipfyLeft $tipfyAnimation forwards;

      &:before {
        left: 100%;
        border-left-color: $tipfyBackground;
        border-right-style: none;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-top {
      animation: tipfyTop $tipfyAnimation forwards;

      &:before {
        left: 50%;
        border-top-color: $tipfyBackground;
        border-bottom-style: none;
        top: 100%;
        transform: translateX(-50%);
      }
    }

    &-bottom {
      animation: tipfyBottom $tipfyAnimation forwards;

      &:before {
        left: 50%;
        border-bottom-color: $tipfyBackground;
        border-top-style: none;
        bottom: 100%;
        transform: translateX(-50%);
      }
    }

    &-auto {
      &:before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
