.dl-item-section-header {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  font-family: 'Linux Libertine Capitals', 'IM Fell English SC', serif;
  font-size: 14px;
}

.dl-item-section {
  &.expandable {
    height: auto;
    align-items: flex-start;
  }

  &.split {
    display: flex;
  }

  b {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    line-height: 22px;
  }

  .dl-item-section-group {
    display: flex;
    max-width: 70%;
  }

  .dl-item-section-row {
    display: flex;
    justify-content: space-between;
  }

  .dl-item-section-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

.level-selector {
  padding-bottom: 10px;
}

.sidebar-content-container {
  display: flex;
  align-items: stretch;
  height: 100%;
  width: 100%;

  .level-sidebar {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    width: 128px;

    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;

    .dl-clickable {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      margin: 5px;
    }
  }

  .level-content {
    width: 100%;

    .path-level-control {
      .path-level-input {
        width: 50px;
        text-align: center;
        margin: 4px;
        height: 100%;
      }
    }
  }
}

.item-properties {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 22px;
  margin: 5px 0;

  .item-properties-textbox {
    margin-left: 10px;
    margin-right: 4px;
    height: 100%;

    &.spell {
      width: 80%;
    }
  }
}

.language-checkboxes {
  justify-content: space-evenly;
}

.half-panel {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.attribute-select-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.attribute-set-container {
  display: flex;
  margin: 2px;
}

.attributes-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.role-attributes-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.characteristics-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.text-inputs-container {
  margin-right: 4px;
}

.drop-zones-container {
  margin-right: 4px;
}

textarea.languages-textarea {
  padding: 4px;
}

.path-textbox {
  margin: 0 4px;
}

.drop-zone,
.drop-zone-view {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 64px;
  background: rgba(126, 126, 126, 0.05);
  outline: 2px dashed rgba(51, 51, 51, 0.2);
  border-radius: 2px;
  gap: 4px;
  padding: 4px;

  .nested-item {
    background: rgba(0, 0, 0, 0.05);
    width: 100%;
    display: flex;
    gap: 4px;
    padding: 2px;

    img {
      width: 16px;
      height: 16px;
      border: none;
      border-radius: 2px;
    }
  }
}

.drop-zone-view {
  outline: none;
  padding-bottom: 4px;
  min-height: 0;

  .nested-item {
    width: 50%;
  }

  &:hover {
    cursor: default;
  }
}
