<form class="{{cssClass}} flexcol" autocomplete="off">
    <aside>
        <div class="sidebar" data-group="dashboard" data-tab="sidebar">
            <div class="frame">
                <img class="profile-img" alt="{{actor.name}}" src="{{actor.img}}" title="{{actor.name}}"
                    data-edit="img" />
            </div>
            <div class="injuredbox">
                <div class="injured">
                    <input type="checkbox" name="data.characteristics.health.injured"
                        id="data.characteristics.health.injured" class="checkbox"
                        {{checked data.characteristics.health.injured}} /><label
                        for="data.characteristics.health.injured" />
                </div>
                <div class="injuredtext">{{localize "DL.CharHealthInjured"}}</div>
            </div>
            <div class="healingratebox">
                <div class="healingrate">{{data.characteristics.health.healingrate}}</div>
                <div class="healingratetext">{{localize "DL.CharHealthHealingRating"}}</div>
            </div>
            <div class="health">
                <div class="addDamage">{{localize "DL.TalentDamage"}}</div>
                <div class="healthbar">
                    <span class="healthbar-fill"></span>
                </div>
                <div class="healtmax">{{data.characteristics.health.max}}</div>
                <div class="damage">{{data.characteristics.health.value}}</div>
            </div>
            <div class="insanity">
                <div class="addInsanity">{{localize "DL.CharInsanity"}}</div>
                <div class="healthbar">
                    <span class="insanity-fill"></span>
                </div>
                <div class="insanitymax">{{data.characteristics.insanity.max}}</div>
                <div class="insanityvalue">{{data.characteristics.insanity.value}}</div>
            </div>
            <div class="corruption">
                <div class="addCorruption">{{localize "DL.CharCorruption"}}</div>
                <div class="healthbar">
                    <span class="corruption-fill"></span>
                </div>
                <div class="corruptionmax">20</div>
                <div class="corruptionvalue">{{data.characteristics.corruption}}</div>
            </div>
            <div class="chars grid grid-2col">
                <div class="defensebox">
                    <div class="defensetext">{{localize "DL.CharDefense"}}</div>
                    <div class="defense">{{data.characteristics.defense}}</div>
                </div>
                <div class="powerbox">
                    <div class="powertext">{{localize "DL.CharPower"}}</div>
                    <div class="power">
                        <input name="data.characteristics.power" type="text" value="{{data.characteristics.power}}"
                            data-dtype="{{attribute.dtype}}" placeholder="" />
                    </div>
                </div>
            </div>
            <div class="chars grid grid-2col">
                <div class="speedbox">
                    <div class="speedtext">{{localize "DL.CharSize"}}</div>
                    <div class="speed">{{data.characteristics.size}}</div>
                </div>
                <div class="speedbox">
                    <div class="speedtext">{{localize "DL.CharSpeed"}}</div>
                    <div class="speed">{{data.characteristics.speed}}</div>
                </div>
            </div>
        </div>
    </aside>
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-fields gridrow">
            <h1 class="char-name">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'DL.CharName'}}" />
            </h1>
            <div class="leveltext">Level</div>
            <div class="level"><input name="data.level" type="text" value="{{data.level}}"
                    data-dtype="{{attribute.dtype}}" placeholder="" /></div>
        </div>
        <div class="attributes grid grid-5col">
            <div class="attributebox">
                <div class="attribute">
                    <input name="data.attributes.strength.value" type="text" value="{{data.attributes.strength.value}}"
                        data-dtype="{{data.attributes.strength.dtype}}" placeholder="" />
                </div>
                <div class="attributemod">
                    <label for="data.attributes.strength.modifier"
                        class="mod">{{numberFormat data.attributes.strength.modifier decimals=0 sign=true}}</label>
                </div>
                <div class="attributetext attribute-roll" data-key="strength"><label
                        for="data.attributes.strength.value">{{data.attributes.strength.label}}</label></div>
            </div>
            <div class="attributebox">
                <div class="attribute">
                    <input name="data.attributes.agility.value" type="text" value="{{data.attributes.agility.value}}"
                        data-dtype="{{data.attributes.agility.dtype}}" placeholder="" />
                </div>
                <div class="attributemod">
                    <label for="data.attributes.agility.modifier"
                        class="mod">{{numberFormat data.attributes.agility.modifier decimals=0 sign=true}}</label>
                </div>
                <div class="attributetext attribute-roll" data-key="agility"><label
                        for="data.attributes.agility.value">{{data.attributes.agility.label}}</label></div>
            </div>
            <div class="attributebox">
                <div class="attribute">
                    <input name="data.attributes.intellect.value" type="text"
                        value="{{data.attributes.intellect.value}}" data-dtype="{{data.attributes.intellect.dtype}}"
                        placeholder="" />
                </div>
                <div class="attributemod">
                    <label for="data.attributes.intellect.modifier"
                        class="mod">{{numberFormat data.attributes.intellect.modifier decimals=0 sign=true}}</label>
                </div>
                <div class="attributetext attribute-roll" data-key="intellect"><label
                        for="data.attributes.intellect.value">{{data.attributes.intellect.label}}</label></div>
            </div>
            <div class="attributebox">
                <div class="attribute">
                    <input name="data.attributes.will.value" type="text" value="{{data.attributes.will.value}}"
                        data-dtype="{{data.attributes.will.dtype}}" placeholder="" />
                </div>
                <div class="attributemod">
                    <label for="data.attributes.will.modifier"
                        class="mod">{{numberFormat data.attributes.will.modifier decimals=0 sign=true}}</label>
                </div>
                <div class="attributetext attribute-roll" data-key="will"><label
                        for="data.attributes.will.value">{{data.attributes.will.label}}</label></div>
            </div>
            <div class="attributebox">
                <div class="attributeper">
                    <label for="data.attributes.perception.value">{{data.attributes.perception.value}}</label>
                </div>
                <div class="attributemodper">
                    <label for="data.attributes.perception.modifier"
                        class="mod">{{numberFormat data.attributes.perception.modifier decimals=0 sign=true}}</label>
                </div>
                <div class="attributetextper attribute-roll" data-key="perception"><label
                        for="data.attributes.perception.value">{{data.attributes.perception.label}}</label></div>
            </div>
        </div>
    </header>
    <nav class="sheet-navigation" data-group="primary">
        <a class="item" data-tab="character">{{localize "DL.TabsCharacter"}}</a>
        <a class="item" data-tab="combat">{{localize "DL.TabsCombat"}}</a>
        <a class="item" data-tab="talents">{{localize "DL.TabsTalents"}}</a>
        <a class="item" data-tab="magic">{{localize "DL.TabsMagic"}}</a>
        <a class="item" data-tab="items">{{localize "DL.TabsInventory"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <section class="sheet-content">
            {{!-- Character Tab --}}
            <div class="tab character" data-group="primary" data-tab="character">
                {{> systems/demonlord/templates/tabs/character.html}}
            </div>
            {{!-- Combat Tab --}}
            <div class="tab combat" data-group="primary" data-tab="combat">
                {{> systems/demonlord/templates/tabs/combat.html}}
            </div>

            {{!-- Talents Tab --}}
            <div class="tab talents" data-group="primary" data-tab="talents">
                {{> systems/demonlord/templates/tabs/talents.html}}
            </div>

            {{!-- Magic Tab --}}
            <div class="tab spells" data-group="primary" data-tab="magic">
                {{> systems/demonlord/templates/tabs/magic.html}}
            </div>

            {{!-- Items Tab --}}
            <div class="tab items" data-group="primary" data-tab="items">
                {{> systems/demonlord/templates/tabs/item.html}}
            </div>

            {{!-- Background Tab --}}
            <div class="tab biography" data-group="primary" data-tab="background">
                {{> systems/demonlord/templates/tabs/background.html}}
            </div>
        </section>
    </section>
</form>