.resource {
  padding: 5px;

  .resource-label {
    font-weight: bold;
    font-size: 12px;
  }

  textarea {
    font-family: $font-primary;
    font-size: 11px;
    border: 1px solid #7a7971;
    background: rgba(0, 0, 0, 0.05);
    resize: vertical;

    &:focus,
    &:active {
      box-shadow: 0 0 5px red;
      border: 1px solid #7a7971;
      outline: 0;
    }
  }

  .item-controls {
    float: right;
    margin-top: -15px;
  }

  .item-controls-line {
    float: right;
    margin-top: -21px;
  }
}
