// Character sheet tag display.
.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.tag {
  position: relative;
  padding: 3px 20px 3px 6px;
  background: $c-light;
  margin: 2px 5px 2px 2px;
  border-radius: 4px;
  text-transform: capitalize;
  list-style-type: none;
}

.tagclean {
  position: relative;
  padding: 3px 6px 3px 6px;
  background: $c-light;
  margin: 2px 5px 2px 2px;
  border-radius: 4px;
  text-transform: capitalize;
  list-style-type: none;

  &:hover {
    color: #fff;
    background: var(--demonlord-red);
  }
}

.tagcleantooltip {
  position: relative;
  padding: 3px 6px 3px 6px;
  background: $c-light;
  margin: 2px 5px 2px 2px;
  border-radius: 4px;
  list-style-type: none;

  .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: left;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    top: 0;
    left: 0;
    transform: translate(-8%, calc(-100% - 10px));
  }

  &:hover {
    color: #fff;
    background: var(--demonlord-red);
  }

  &:hover .tooltiptext {
    visibility: visible;
  }
}

.tagcleanselect {
  color: #fff;
  background: var(--demonlord-red);

  &:hover {
    color: #000;
    background-color: $c-navy-up;
  }
}

.creaturetooltip {
  position: relative;

  .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: left;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    top: 10px;
    right: 0;
  }

  &:hover .tooltiptext {
    visibility: visible;
  }
}

// Tagging widget.
.tagging {
  padding: 5px 10px 8px;

  .tag {
    background-color: $c-navy-up;
    padding: 4px 22px 4px 6px;

    .tag-i {
      color: $c-white;

      &:hover,
      &:focus {
        color: $c-navy;
      }
    }

    > span {
      display: none;
    }
  }

  .tag-input {
    &:hover,
    &:focus {
      box-shadow: 0 1px 0 $c-navy-up;
    }
  }
}

.remove-tag {
  position: absolute;
  right: 2px;
  width: 15px;
  height: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: all ease-in-out 0.25s;
  border-radius: 50px;

  &:hover {
    color: #fff;
    background: var(--demonlord-red);
  }

  &::before {
    display: block;
    content: '\00D7';
  }
}

.awesomplete {
  > ul {
    background-color: $c-navy-up;

    &::before {
      background-color: $c-navy-up;
    }
  }
}

.help-text {
  color: #999;
  font-size: 12px;
}
