{{!--
  Variables:
    - hasAreaTarget
    - uuid (item.uuid)
--}}

{{#if hasAreaTarget }}
<div class="combatactions place-template dl-clickable" data-item-uuid="{{uuid}}">
  <div class="header">
    <img src="systems/demonlord/assets/ui/icons/pentagram.webp" width="15" height="15" />
    <div>{{localize "DL.ActionPlaceTemplate"}}</div>
  </div>
</div>
{{/if}}