<div class="demonlord" {{#if actor.id}}data-actor-id="{{actor.id}}" {{/if}}
  {{#if item.id}}data-item-id="{{item.id}}" {{/if}} {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}>
  <div class="showlessinfo">{{data.actorInfo}}</div>
  <header class="card-headersmall tooltip">
    <div class="attackbox">
      <div class="header">{{data.damagetype}} {{localize "DL.DamageRollText"}}: {{data.damageTotal}}</div>
      {{#if data.isCreature}}
        <div class="gmonly">
                    <span class="tooltiptext">
                      {{#each diceData.dice}}
                        <div class="{{#if this.dice}}dice{{else}}modifier{{/if}}">
                            <label style="color:{{this.color}};">
                              {{this.result}}
                            </label>
                          {{#if this.img}}
                            <img src='{{this.img}}'/>
                          {{/if}}
                        </div>
                      {{/each}}
                    </span>
        </div>
      {{else}}
        <span class="tooltiptext">
          {{#each diceData.dice}}
            <div class="{{#if this.dice}}dice{{else}}modifier{{/if}}">
                        <label style="color:{{this.color}};">
                          {{this.result}}
                        </label>
              {{#if this.img}}
                <img src='{{this.img}}'/>
              {{/if}}
                    </div>
          {{/each}}
        </span>
      {{/if}}
    </div>
  </header>
  <div class="gmonly">
    <div class="damageaction apply-damage">
      <div class="header" data-damage="{{data.damageTotal}}">
        <div class="fas fa-tint blood"></div>
        <div>{{localize "DL.DialogTalentApplyDamage"}} ({{data.damageTotal}})</div>
      </div>
    </div>
    <div class="damageaction apply-damage">
      <div class="header" data-damage="{{data.damageDouble}}">
        <div class="fas fa-tint blood"></div>
        <div>{{localize "DL.DialogTalentApplyDoubleDamage"}} ({{data.damageDouble}})</div>
      </div>
    </div>
    <div class="damageaction apply-damage">
      <div class="header" data-damage="{{data.damageHalf}}">
        <div class="fas fa-tint blood"></div>
        <div>{{localize "DL.DialogTalentApplyHalfDamage"}} ({{data.damageHalf}})</div>
      </div>
    </div>
  </div>
</div>
