<div class="demonlord" {{#if actor.id}}data-actor-id="{{actor.id}}" {{/if}}
  {{#if item.id}}data-item-id="{{item.id}}" {{/if}} {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}>
  <div class="showlessinfo">{{data.actorInfo}}</div>
  {{#if data.roll}}
    <header class="card-header">
      <div class="token-img"><img class="profile-img" src="{{item.img}}" data-edit="img"
                                  title="{{item.name}}" height="40" width="40"/></div>
      <div class="attackbox">
        <div class="boxline">
          <div class="header">
            {{#if data.isCreature}}
              {{localize "DL.AttackSpecialRollText"}}
            {{else}}
              {{localize "DL.TalentRollTitle"}}
            {{/if}}
          </div>
          <div class="headertext">{{item.name}}</div>
        </div>
        <div class="boxline">
          <div class="header">{{localize "DL.TargetRollText"}}</div>
          <div class="targetname">{{data.targetname}}</div>
        </div>
      </div>
    </header>
  {{else}}
    <header class="card-header">
      <div class="token-img"><img class="profile-img" src="{{item.img}}" data-edit="img"
                                  title="{{item.name}}" height="40" width="40"/></div>
      <div class="attackbox">
        <div class="header">
          {{#if data.against}}
            {{localize "DL.AttackRollText"}}
          {{else}}
            {{localize "DL.TalentRollTitle"}}
          {{/if}}
        </div>
        <div class="headertext">{{item.name}}</div>
      </div>
    </header>
  {{/if}}
  {{#if data.uses}}
    {{#if data.isCreature}}
      <div class="gmonly">
        <div class="chat-uses">{{data.uses}}</div>
      </div>
    {{else}}
      <div class="chat-uses">{{data.uses}}</div>
    {{/if}}
  {{/if}}
  {{#if data.roll}}
    <div class="result">
      <div class="box {{data.resultBoxClass}}">
        <div class="valuetext">
          {{#if data.against}}
            {{data.attack}}
          {{else}}
            {{localize "DL.TalentRollText"}}
          {{/if}}
        </div>
        <div class="boxborder tooltip">
          <div class="value">
            <div class="gmremove">{{data.diceTotal}}</div>
            <div class="gmonlyzero">{{data.diceTotalGM}}</div>
          </div>
          {{#if data.isCreature}}
            <div class="gmonly">
                    <span class="tooltiptext">
                      {{#each diceData.dice}}
                        <div class="{{#if this.dice}}dice{{else}}modifier{{/if}}">
                            <label style="color:{{this.color}};">
                              {{this.result}}
                            </label>
                          {{#if this.img}}
                            <img src='{{this.img}}'/>
                          {{/if}}
                        </div>
                      {{/each}}
                    </span>
            </div>
          {{else}}
            {{#if data.ifBlindedRoll }}
            <div class="gmonly">
            {{/if}}
            <span class="tooltiptext">
              {{#each diceData.dice}}
                <div class="{{#if this.dice}}dice{{else}}modifier{{/if}}">
                        <label style="color:{{this.color}};">
                          {{this.result}}
                        </label>
                  {{#if this.img}}
                    <img src='{{this.img}}'/>
                  {{/if}}
                    </div>
              {{/each}}
            </span>
            {{#if data.ifBlindedRoll }}
            </div>
            {{/if}}
          {{/if}}
        </div>
      </div>
      {{#if data.against}}
        <div class="boxvs">
          <div class="vs">{{localize "DL.ChallengeVS"}}</div>
        </div>
        <div class="box {{data.resultBoxClass}}">
          <div class="valuetext">{{data.against}}</div>
          <div class="boxborderTarget">
            <div class="value">
              <div class="gmremove">{{data.againstNumber}}</div>
              <div class="gmonlyzero">{{data.againstNumberGM}}</div>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  {{/if}}
  {{#if data.attackEffects}}
    {{#if data.isCreature}}
      <div class="gmonly">
        <div class="description">
          <div class="header">{{localize "DL.AttackRollBonuses"}}</div>
          <div class="body">{{{data.attackEffects}}}
            <hr>
          </div>
        </div>
      </div>
    {{else}}
      <div class="description">
        <div class="header">{{localize "DL.AttackRollBonuses"}}</div>
        <div class="body">{{{data.attackEffects}}}
          <hr>
        </div>
      </div>
    {{/if}}
  {{/if}}
  {{#if data.description}}
    {{#if data.isCreature}}
      <div class="gmonly">
        <div class="description">
          <div class="header">{{localize "DL.AttackRollDescription"}}</div>
          <div class="body">{{{data.description}}}</div>
        </div>
      </div>
    {{else}}
      <div class="description">
        <div class="header">{{localize "DL.AttackRollDescription"}}</div>
        <div class="body">{{{data.description}}}</div>
      </div>
    {{/if}}
  {{/if}}
  {{#if data.talentEffects}}
    {{#if data.isCreature}}
      <div class="gmonly">
        <div class="description">
          <div class="header">{{localize "DL.TalentRollEffects"}}</div>
          <div class="body">{{{data.talentEffects}}}
            <hr>
          </div>
        </div>
      </div>
    {{else}}
      <div class="description">
        <div class="header">{{localize "DL.TalentRollEffects"}}</div>
        <div class="body">{{{data.talentEffects}}}
          <hr>
        </div>
      </div>
    {{/if}}
  {{/if}}
  {{#if item.data.action.extraeffect}}
    {{#if data.isCreature}}
      <div class="gmonly">
        <div class="description">
          <div class="header">{{localize "DL.TalentExtraEffect"}}</div>
          <div class="body">{{{item.data.action.extraeffect}}}</div>
        </div>
      </div>
    {{else}}
      <div class="description">
        <div class="header">{{localize "DL.TalentExtraEffect"}}</div>
        <div class="body">{{{item.data.action.extraeffect}}}</div>
      </div>
    {{/if}}
  {{/if}}
  {{#if data.healing}}
    <div class="talentactions roll-healing">
      <div class="header" data-item-id="{{data.id}}" data-healing="1">
        <img src=" systems/demonlord/assets/ui/icons/health.webp" width="15" height="15"/>
        <div>{{localize "DL.DialogTalentApplyHealing"}}</div>
      </div>
    </div>
    <div class="talentactions roll-healing">
      <div class="header" data-item-id="{{data.id}}" data-healing="2">
        <img src=" systems/demonlord/assets/ui/icons/health.webp" width="15" height="15"/>
        <div>{{localize "DL.DialogTalentApplyHalfHealing"}}</div>
      </div>
    </div>
  {{/if}}
  {{#if data.isCreature}}
    <div class="gmonly">
      {{#if data.damageFormular}}
        <div class="combatactions roll-damage">
          <div class="header" data-item-id="{{data.id}}" data-damage="{{data.damageFormular}}"
               data-damagetype="{{data.damageType}}">
            <img src="systems/demonlord/assets/ui/items/damage.webp" width="15" height="15"/>
            <div>{{data.damageType}} {{localize "DL.WeaponDamage"}} ({{data.damageFormular}})</div>
          </div>
        </div>
      {{/if}}
      {{#each data.damageTypes as |damagetype id|}}
        <div class="combatactions roll-damage">
          <div class="header" data-item-id="{{data.id}}" data-damage="{{damagetype.damage}}"
               data-damagetype="{{damagetype.damagetype}}">
            <img src="systems/demonlord/assets/ui/items/damage.webp" width="15" height="15"/>
            <div>{{damagetype.damagetype}} {{localize "DL.WeaponDamage"}} ({{damagetype.damage}})</div>
          </div>
        </div>
      {{/each}}
      {{#if data.pureDamage}}
        <div class="combatactions roll-damage">
          <div class="header" data-item-id="{{data.id}}" data-damage="{{data.pureDamage}}"
               data-damagetype="{{data.pureDamageType}}">
            <img src="systems/demonlord/assets/ui/items/damage.webp" width="15" height="15"/>
            <div>{{data.pureDamageType}} {{localize "DL.WeaponDamage"}} ({{data.pureDamage}})</div>
          </div>
        </div>
      {{/if}}
      {{#if data.damageExtra20plusFormular}}
        <div class="combatactions roll-damage">
          <div class="header" data-item-id="{{data.id}}" data-damage="{{data.damageExtra20plusFormular}}">
            <img src="systems/demonlord/assets/ui/items/damage.webp" width="15" height="15"/>
            <div>{{localize "DL.TalentExtraDamage20plus"}} ({{data.damageExtra20plusFormular}})</div>
          </div>
        </div>
      {{/if}}
    </div>
  {{else}}
    {{#if data.ifBlindedRoll }}
    <div class="gmonly">
    {{/if}}
    {{#if data.hasAreaTarget }}
      <div class="combatactions place-template" data-item-uuid="{{item.uuid}}">
        <div class="header">
          <img src="systems/demonlord/assets/ui/icons/pentagram.webp" width="15" height="15"/>
          <div>{{localize "DL.ActionPlaceTemplate"}}</div>
        </div>
      </div>
    {{/if}}
    {{#if data.damageFormular}}
      <div class="combatactions roll-damage">
        <div class="header" data-item-id="{{data.id}}" data-damage="{{data.damageFormular}}"
             data-damagetype="{{data.damageType}}">
          <img src="systems/demonlord/assets/ui/items/damage.webp" width="15" height="15"/>
          <div>{{data.damageType}} {{localize "DL.WeaponDamage"}} ({{data.damageFormular}})</div>
        </div>
      </div>
    {{/if}}
    {{#each data.damageTypes as |damagetype id|}}
      <div class="combatactions roll-damage">
        <div class="header" data-item-id="{{data.id}}" data-damage="{{damagetype.damage}}"
             data-damagetype="{{damagetype.damagetype}}">
          <img src="systems/demonlord/assets/ui/items/damage.webp" width="15" height="15"/>
          <div>{{damagetype.damagetype}} {{localize "DL.WeaponDamage"}} ({{damagetype.damage}})</div>
        </div>
      </div>
    {{/each}}
    {{#if data.pureDamage}}
      <div class="combatactions roll-damage">
        <div class="header" data-item-id="{{data.id}}" data-damage="{{data.pureDamage}}"
             data-damagetype="{{data.pureDamageType}}">
          <img src="systems/demonlord/assets/ui/items/damage.webp" width="15" height="15"/>
          <div>{{data.pureDamageType}} {{localize "DL.WeaponDamage"}} ({{data.pureDamage}})</div>
        </div>
      </div>
    {{/if}}
    {{#if data.damageExtra20plusFormular}}
      <div class="combatactions roll-damage">
        <div class="header" data-item-id="{{data.id}}" data-damage="{{data.damageExtra20plusFormular}}">
          <img src="systems/demonlord/assets/ui/items/damage.webp" width="15" height="15"/>
          <div>{{localize "DL.TalentExtraDamage20plus"}} ({{data.damageExtra20plusFormular}})</div>
        </div>
      </div>
    {{/if}}
    {{#each data.itemEffects as |effect|}}
      <div class="combatactions apply-effect" data-effect-uuid="{{effect.uuid}}">
        <div class="header">
          <img src="{{effect.data.icon}}" width="15" height="15"/>
          <div>{{effect.data.label}}</div>
        </div>
      </div>
    {{/each}}
    {{#if data.ifBlindedRoll }}
    </div>
    {{/if}}
  {{/if}}
</div>
