{{!--
  Variables:
    - action (e.g. system.action)
    - defense
    - defenseboonsbanes
    - action.id (e.g. "system.action")
--}}

<div class="dl-item-section item-properties">
  <b>{{localize "DL.ChallengeRequestRollText"}}</b>
  <div class="dl-item-section-group">
    {{Dropdown (concat actionId ".defense") action.defense "DL.AttributeDefense"}}
    {{BOBAButton (concat actionId ".defenseboonsbanes") action.defenseboonsbanes ""}}
  </div>
</div>