{{!--
  Variables:
    - healing (e.g. system.healing.healing)
    - healingId (e.g. system.healing.healing)
--}}

<div class="dl-item-section item-properties">
  <b>{{localize "DL.TalentHealingOptions"}}</b>
  <div class="item-group-checkbox checkable" data-action="toggleHealing" data-tippy-content="{{localize "DL.TalentHealingOptions"}}">
    <input type="checkbox" name="{{healingId}}" id="healingoptions" {{checked healing}} />
    <i class="icon-healing themed-icon"></i>
  </div>
</div>