<section class="character-details">
    <div class="demonlord" {{#if actor._id}}data-actor-id="{{actor._id}}" {{/if}}
        {{#if item._id}}data-item-id="{{item._id}}" {{/if}} {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}>
        <header class="card-header">
            <div class="attack-img"></div>
            <div class="attackbox">
                <div class="header">{{localize "DL.AttackRollText"}}</div>
                <div class="headertext">{{item.name}}</div>
            </div>
            <div class="targetbox">
                <div class="header">{{localize "DL.TargetRollText"}}</div>
                <div class="targetname">{{data.targetname.value}}</div>
            </div>
        </header>

        <div class="result">
            <div class="box {{data.resultText.value}}">
                <div class="valuetext">{{data.attack.value}}</div>
                <div class="boxborder tooltip">
                    <div class="value">{{data.diceTotal.value}}</div>
                    <span class="tooltiptext">{{data.diceResult.value}}</span>
                </div>
            </div>
            {{#if data.against.value}}
            <div class="boxvs">
                <div class="vs">{{localize "DL.ChallengeVS"}}</div>
            </div>
            <div class="box {{data.resultText.value}}">
                <div class="valuetext">{{data.against.value}}</div>
                <div class="boxborderTarget">
                    <div class="value">
                        {{data.againstNumber.value}}
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
        {{#if data.effects.value}}
        <div class="description">
            <div class="header">{{localize "DL.TalentRollEffects"}}</div>
            <div class="body">{{{data.effects.value}}}</div>
        </div>
        {{/if}}
        {{#if data.description.value}}
        {{#if data.isCreature.value}}
        <div class="description" style="visibility : hidden; height: 0;">
            {{else}}
            <div class="description">
                {{/if}}
                <div class="header">{{localize "DL.AttackRollDescription"}}</div>
                <div class="body">{{{data.description.value}}}</div>
            </div>
            {{/if}}
            {{#if data.didHit.value}}
            <div class="combatactions roll-damage">
                <div class="header" data-item-id="{{data.id.value}}" data-damage="{{data.damageFormular.value}}">
                    <img src="systems/demonlord/css/items/damage.png" width="15" height="15" />
                    <div>{{localize "DL.DialogTalentRollDamage"}} ({{data.damageFormular.value}})</div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</section>