<section class="character-details">
    <div class="demonlord" {{#if actor._id}}data-actor-id="{{actor._id}}" {{/if}}
        {{#if item._id}}data-item-id="{{item._id}}" {{/if}} {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}>
        <div class="showinfo"></div>
        <div class="showlessinfo"></div>
        <header class="card-header">
            <div class="token-img"><img class="profile-img" src="{{item.data.img}}" data-edit="img"
                    title="{{item.data.name}}" height="40" width="40" /></div>
            <div class="attackbox">
                <div class="header">{{localize "DL.AttackRollText"}}</div>
                <div class="headertext">{{item.name}}</div>
            </div>
            <div class="targetbox">
                <div class="header">{{localize "DL.TargetRollText"}}</div>
                <div class="targetname">{{data.targetname.value}}</div>
            </div>
        </header>
        {{#if data.attack.value}}
        <div class="result">
            <div class="box {{data.resultText.value}}">
                <div class="valuetext">{{data.attack.value}}</div>
                <div class="boxborder tooltip">
                    <div class="value">
                        <div class="gmremove">{{data.diceTotal.value}}</div>
                        <div class="gmonlyzero">{{data.diceTotalGM.value}}</div>
                    </div>
                    {{#if data.isCreature.value}}
                    <div class="gmonly">
                        <span class="tooltiptext">
                            {{#each diceData.dice}}
                            <div class="{{#if this.dice}}dice{{else}}modifier{{/if}}">
                                <label style="color:{{this.color}};">
                                    {{this.result}}
                                </label>
                                {{#if this.img}}
                                <img src='{{this.img}}' />
                                {{/if}}
                            </div>
                            {{/each}}
                        </span>
                    </div>
                    {{else}}
                    <span class="tooltiptext">
                        {{#each diceData.dice}}
                        <div class="{{#if this.dice}}dice{{else}}modifier{{/if}}">
                            <label style="color:{{this.color}};">
                                {{this.result}}
                            </label>
                            {{#if this.img}}
                            <img src='{{this.img}}' />
                            {{/if}}
                        </div>
                        {{/each}}
                    </span>
                    {{/if}}
                </div>
            </div>
            {{#if data.against.value}}
            <div class="boxvs">
                <div class="vs">{{localize "DL.ChallengeVS"}}</div>
            </div>
            <div class="box {{data.resultText.value}}">
                <div class="valuetext">{{data.against.value}}</div>
                <div class="boxborderTarget">
                    <div class="value">
                        <div class="gmremove">{{data.againstNumber.value}}</div>
                        <div class="gmonlyzero">{{data.againstNumberGM.value}}</div>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
        {{/if}}
        {{#if data.effects.value}}
        {{#if data.isCreature.value}}
        <div class="gmonly">
            <div class="description">
                <div class="header">{{localize "DL.TalentRollEffects"}}</div>
                <div class="body">{{{data.effects.value}}}</div>
            </div>
        </div>
        {{else}}
        <div class="description">
            <div class="header">{{localize "DL.TalentRollEffects"}}</div>
            <div class="body">{{{data.effects.value}}}</div>
        </div>
        {{/if}}
        {{/if}}
        {{#if data.armorEffects.value}}
        <div class="description">
            <div class="header">{{localize "DL.AttackArmorRequirments"}}</div>
            <div class="body">{{{data.armorEffects.value}}}</div>
        </div>
        {{/if}}
        {{#if data.description.value}}
        {{#if data.isCreature.value}}
        <div class="gmonly">
            <div class="description">
                <div class="header">{{localize "DL.AttackRollDescription"}}</div>
                <div class="body">{{{data.description.value}}}</div>
            </div>
        </div>
        {{else}}
        <div class="description">
            <div class="header">{{localize "DL.AttackRollDescription"}}</div>
            <div class="body">{{{data.description.value}}}</div>
        </div>
        {{/if}}
        {{/if}}
        {{#if data.isCreature.value}}
        <div class="gmonly">
            {{#if data.damageFormular.value}}
            <div class="combatactions roll-damage">
                <div class="header" data-item-id="{{data.id.value}}" data-damage="{{data.damageFormular.value}}">
                    <img src="systems/demonlord/css/items/damage.png" width="15" height="15" />
                    <div>{{data.damageType.value}} {{localize "DL.WeaponDamage"}} ({{data.damageFormular.value}})</div>
                </div>
            </div>
            {{/if}}
            {{#each data.damageTypes.value as |damagetype id|}}
            <div class="combatactions roll-damage">
                <div class="header" data-item-id="{{data.id.value}}" data-damage="{{damagetype.damage}}"
                    data-damagetype="{{damagetype.damagetype}}">
                    <img src="systems/demonlord/css/items/damage.png" width="15" height="15" />
                    <div>{{damagetype.damagetype}} {{localize "DL.WeaponDamage"}} ({{damagetype.damage}})</div>
                </div>
            </div>
            {{/each}}
            {{#if data.damageExtra20plusFormular.value}}
            <div class="combatactions roll-damage">
                <div class="header" data-item-id="{{data.id.value}}"
                    data-damage="{{data.damageExtra20plusFormular.value}}">
                    <img src="systems/demonlord/css/items/damage.png" width="15" height="15" />
                    <div>{{localize "DL.TalentExtraDamage20plus"}} ({{data.damageExtra20plusFormular.value}})</div>
                </div>
            </div>
            {{/if}}
        </div>
        {{else}}
        {{#if data.damageFormular.value}}
        <div class="combatactions roll-damage">
            <div class="header" data-item-id="{{data.id.value}}" data-damage="{{data.damageFormular.value}}" data-damagetype="{{data.damageType.value}}">
                <img src="systems/demonlord/css/items/damage.png" width="15" height="15" />
                <div>{{data.damageType.value}} {{localize "DL.WeaponDamage"}} ({{data.damageFormular.value}})</div>
            </div>
        </div>
        {{/if}}
        {{#each data.damageTypes.value as |damagetype id|}}
        <div class="combatactions roll-damage">
            <div class="header" data-item-id="{{data.id.value}}" data-damage="{{damagetype.damage}}"
                data-damagetype="{{damagetype.damagetype}}">
                <img src="systems/demonlord/css/items/damage.png" width="15" height="15" />
                <div>{{damagetype.damagetype}} {{localize "DL.WeaponDamage"}} ({{damagetype.damage}})</div>
            </div>
        </div>
        {{/each}}
        {{#if data.damageExtra20plusFormular.value}}
        <div class="combatactions roll-damage">
            <div class="header" data-item-id="{{data.id.value}}" data-damage="{{data.damageExtra20plusFormular.value}}">
                <img src="systems/demonlord/css/items/damage.png" width="15" height="15" />
                <div>{{localize "DL.TalentExtraDamage20plus"}} ({{data.damageExtra20plusFormular.value}})</div>
            </div>
        </div>
        {{/if}}
        {{/if}}
    </div>
    </div>
</section>