<div class="demonlord" {{#if actor._id}}data-actor-id="{{actor._id}}" {{/if}}
    {{#if item._id}}data-item-id="{{item._id}}" {{/if}} {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}>
    <header class="init-header">
        <div class="token-img"><img class="profile-img" src="{{token.img}}" data-edit="img" title="{{actor.name}}"
                height="40" width="40" /></div>
        <div class="inittext">
            {{localize "DL.DialogInitiativeTurn"}}<b>{{data.turn.value}}</b>{{localize "DL.DialogInitiativeTurnEnd"}}
        </div>
    </header>
</div>