<div class="demonlord" {{#if actor._id}}data-actor-id="{{actor._id}}" {{/if}}
    {{#if item._id}}data-item-id="{{item._id}}" {{/if}} {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}>
    <header class="card-headersmall">
        <div class="init-img"></div>
        <div class="attackbox">
            <div class="header">{{localize "DL.DialogRollInitiative"}}</div>
            <div class="headertext"></div>
        </div>
    </header>

    <div class="damageaction make-initroll">
        <div class="header">
            <div class="init-img"></div>
            <div>{{localize "DL.DialogRequestInitiative"}}</div>
        </div>
    </div>
</div>