<div class="demonlord" {{#if actor._id}}data-actor-id="{{actor._id}}" {{/if}}
    {{#if item._id}}data-item-id="{{item._id}}" {{/if}} {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}>
    <div class="showinfo"></div>
    <div class="showlessinfo"></div>
    {{#if data.attack.value}}
    <header class="card-header">
        <div class="token-img"><img class="profile-img" src="{{item.data.img}}" data-edit="img"
                title="{{item.data.name}}" height="40" width="40" /></div>
        <div class="attackbox">
            <div class="header">{{localize "DL.SpellRollText"}}</div>
            <div class="headertext">{{item.name}}</div>
        </div>
        <div class="targetbox">
            <div class="header">{{localize "DL.TargetRollText"}}</div>
            <div class="targetname">{{data.tagetname.value}}</div>
        </div>
    </header>
    {{else}}
    <header class="card-header">
        <div class="token-img"><img class="profile-img" src="{{item.data.img}}" data-edit="img"
                title="{{item.data.name}}" height="40" width="40" /></div>
        <div class="attackbox">
            <div class="header">{{localize "DL.SpellRollText"}}</div>
            <div class="headertext">{{item.name}}</div>
        </div>
    </header>
    {{/if}}
    {{#if data.uses.value}}
    {{#if data.isCreature.value}}
    <div class="gmonly">
        <div class="chat-uses">{{data.uses.value}}</div>
    </div>
    {{else}}
    <div class="chat-uses">{{data.uses.value}}</div>
    {{/if}}
    {{/if}}
    {{#if data.attack.value}}
    <div class="result">
        <div class="box {{data.resultText.value}}">
            <div class="valuetext">{{data.attack.value}}</div>
            <div class="boxborder tooltip">
                <div class="value">
                    <div class="gmremove">{{data.diceTotal.value}}</div>
                    <div class="gmonlyzero">{{data.diceTotalGM.value}}</div>
                </div>
                {{#if data.isCreature.value}}
                <div class="gmonly">
                    <span class="tooltiptext">
                        {{#each diceData.dice}}
                        <div class="{{#if this.dice}}dice{{else}}modifier{{/if}}">
                            <label style="color:{{this.color}};">
                                {{this.result}}
                            </label>
                            {{#if this.img}}
                            <img src='{{this.img}}' />
                            {{/if}}
                        </div>
                        {{/each}}
                    </span>
                </div>
                {{else}}
                <span class="tooltiptext">
                    {{#each diceData.dice}}
                    <div class="{{#if this.dice}}dice{{else}}modifier{{/if}}">
                        <label style="color:{{this.color}};">
                            {{this.result}}
                        </label>
                        {{#if this.img}}
                        <img src='{{this.img}}' />
                        {{/if}}
                    </div>
                    {{/each}}
                </span>
                {{/if}}
            </div>
        </div>
        <div class="boxvs">
            <div class="vs">{{localize "DL.ChallengeVS"}}</div>
        </div>
        <div class="box {{data.resultText.value}}">
            <div class="valuetext">{{data.against.value}}</div>
            <div class="boxborderTarget">
                <div class="value">
                    <div class="gmremove">{{data.againstNumber.value}}</div>
                    <div class="gmonlyzero">{{data.againstNumberGM.value}}</div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{#if data.description.value}}
    {{#if data.isCreature.value}}
    <div class="gmonly">
        <div class="description">
            <div class="header">{{localize "DL.SpellRollDescription"}}</div>
            <div class="body">{{{data.description.value}}}</div>
        </div>
    </div>
    {{else}}
    <div class="description">
        <div class="header">{{localize "DL.SpellRollDescription"}}</div>
        <div class="body">{{{data.description.value}}}</div>
    </div>
    {{/if}}
    {{/if}}
    {{#if data.defense.value}}
    <div class="roll20">
        <div class="header">{{localize "DL.SpellTypeDefense"}}</div>
        <div class="body">{{localize "DL.ChallengeRoll"}}: {{data.defense.value}}
            {{#if data.defenseboonsbanes.value}}({{data.defenseboonsbanes.value}}){{/if}}
        </div>
    </div>
    {{/if}}
    {{#if data.healing.value}}
    <div class="talentactions roll-healing">
        <div class="header" data-item-id="{{data.id.value}}" data-healing="1">
            <img src=" systems/demonlord/css/icons/health.png" width="15" height="15" />
            <div>{{localize "DL.DialogTalentApplyHealing"}}</div>
        </div>
    </div>
    <div class="talentactions roll-healing">
        <div class="header" data-item-id="{{data.id.value}}" data-healing="2">
            <img src=" systems/demonlord/css/icons/health.png" width="15" height="15" />
            <div>{{localize "DL.DialogTalentApplyHalfHealing"}}</div>
        </div>
    </div>
    {{/if}}
    {{#if data.effectdice.value}}
    <div class="roll20">
        <div class="header">{{localize "DL.SpellEffectDice"}}</div>
        <div class="body">{{localize "DL.SpellEffectDiceResult"}} {{data.effectdice.value}}</div>
    </div>
    {{/if}}
    {{#if data.plus20text.value}}
    <div class="roll20">
        <div class="header">{{localize "DL.SpellRollPlus20"}}</div>
        <div class="body">{{data.plus20text.value}}</div>
    </div>
    {{/if}}
    {{#if data.spelltarget.value}}
    <div class="roll20">
        <div class="header">{{localize "DL.SpellRollTarget"}}</div>
        <div class="body">{{data.spelltarget.value}}</div>
    </div>
    {{/if}}
    {{#if data.spellarea.value}}
    <div class="roll20">
        <div class="header">{{localize "DL.SpellRollArea"}}</div>
        <div class="body">{{data.spellarea.value}}</div>
    </div>
    {{/if}}
    {{#if data.spellduration.value}}
    <div class="roll20">
        <div class="header">{{localize "DL.SpellRollDuration"}}</div>
        <div class="body">{{data.spellduration.value}}</div>
    </div>
    {{/if}}
    {{#if data.spellrequirements.value}}
    <div class="roll20">
        <div class="header">{{localize "DL.SpellRollRequirements"}}</div>
        <div class="body">{{data.spellrequirements.value}}</div>
    </div>
    {{/if}}
    {{#if data.spellsacrifice.value}}
    <div class="roll20">
        <div class="header">{{localize "DL.SpellRollSacrifice"}}</div>
        <div class="body">{{data.spellsacrifice.value}}</div>
    </div>
    {{/if}}
    {{#if data.spellpermanence.value}}
    <div class="roll20">
        <div class="header">{{localize "DL.SpellRollPermanence"}}</div>
        <div class="body">{{data.spellpermanence.value}}</div>
    </div>
    {{/if}}
    {{#if data.spellspecial.value}}
    <div class="roll20">
        <div class="header">{{localize "DL.SpellRollSpecial"}}</div>
        <div class="body">{{data.spellspecial.value}}</div>
    </div>
    {{/if}}
    {{#if data.spelltriggered.value}}
    <div class="roll20">
        <div class="header">{{localize "DL.SpellRollTriggered"}}</div>
        <div class="body">{{data.spelltriggered.value}}</div>
    </div>
    {{/if}}
    <div class="gmonly">
        {{#if data.challStrength.value}}
        <div class="challengeaction request-challengeroll">
            <div class="header" data-attribute="Strength"
                data-boba="{{data.defenseboonsbanes.value}}">
                <div class="challenge-img"></div>
                <div>{{localize "DL.ChallengeRoll"}}: {{localize "DL.AttributeStrength"}}
                    {{#if data.defenseboonsbanes.value}}({{data.defenseboonsbanes.value}}){{/if}}
                </div>
            </div>
        </div>
        {{/if}}
        {{#if data.challAgility.value}}
        <div class="challengeaction request-challengeroll">
            <div class="header" data-attribute="Agility"
                data-boba="{{data.defenseboonsbanes.value}}">
                <div class="challenge-img"></div>
                <div>{{localize "DL.ChallengeRoll"}}: {{localize "DL.AttributeAgility"}}
                    {{#if data.defenseboonsbanes.value}}({{data.defenseboonsbanes.value}}){{/if}}
                </div>
            </div>
        </div>
        {{/if}}
        {{#if data.challIntellect.value}}
        <div class="challengeaction request-challengeroll">
            <div class="header" data-attribute="Intellect"
                data-boba="{{data.defenseboonsbanes.value}}">
                <div class="challenge-img"></div>
                <div>{{localize "DL.ChallengeRoll"}}: {{localize "DL.AttributeIntellect"}}
                    {{#if data.defenseboonsbanes.value}}({{data.defenseboonsbanes.value}}){{/if}}
                </div>
            </div>
        </div>
        {{/if}}
        {{#if data.challWill.value}}
        <div class="challengeaction request-challengeroll">
            <div class="header" data-attribute="Will"
                data-boba="{{data.defenseboonsbanes.value}}">
                <div class="challenge-img"></div>
                <div>{{localize "DL.ChallengeRoll"}}: {{localize "DL.AttributeWill"}}
                    {{#if data.defenseboonsbanes.value}}({{data.defenseboonsbanes.value}}){{/if}}
                </div>
            </div>
        </div>
        {{/if}}
        {{#if data.challPerception.value}}
        <div class="challengeaction request-challengeroll">
            <div class="header" data-attribute="Perception"
                data-boba="{{data.defenseboonsbanes.value}}">
                <div class="challenge-img"></div>
                <div>{{localize "DL.ChallengeRoll"}}: {{localize "DL.CharPerception"}}
                    {{#if data.defenseboonsbanes.value}}({{data.defenseboonsbanes.value}}){{/if}}
                </div>
            </div>
        </div>
        {{/if}}
    </div>
    {{#if data.damageFormular.value}}
    <div class="combatactions roll-damage">
        <div class="header" data-item-id="{{data.id.value}}" data-damage="{{data.damageFormular.value}}"
            data-damagetype="{{data.damageType.value}}">
            <img src="systems/demonlord/css/items/damage.png" width="15" height="15" />
            <div>{{data.damageType.value}} {{localize "DL.WeaponDamage"}} ({{data.damageFormular.value}})</div>
        </div>
    </div>
    {{/if}}
    {{#each data.damageTypes.value as |damagetype id|}}
    <div class="combatactions roll-damage">
        <div class="header" data-item-id="{{data.id.value}}" data-damage="{{damagetype.damage}}"
            data-damagetype="{{damagetype.damagetype}}">
            <img src="systems/demonlord/css/items/damage.png" width="15" height="15" />
            <div>{{damagetype.damagetype}} {{localize "DL.WeaponDamage"}} ({{damagetype.damage}})</div>
        </div>
    </div>
    {{/each}}
    {{#if data.damageExtra20plusFormular.value}}
    <div class="combatactions roll-damage">
        <div class="header" data-item-id="{{data.id.value}}" data-damage="{{data.damageExtra20plusFormular.value}}">
            <img src="systems/demonlord/css/items/damage.png" width="15" height="15" />
            <div>{{localize "DL.TalentExtraDamage20plus"}} ({{data.damageExtra20plusFormular.value}})</div>
        </div>
    </div>
    {{/if}}
</div>