@import 'global/ui';

.window-content {
  // background: url(../assets/ui/paper.webp);

  .form-block {
    font-size: 11px;

    .items-list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .creature-list {
      margin: 0 0 0 0;
      padding: 0;

      .creature-entry {
        list-style: none;
        overflow-y: auto;
        padding-bottom: 5px;
        margin-bottom: 10px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        background: rgba(0, 0, 0, 0.1);

        .header {
          width: 100%;
          padding: 5px;

          h4 {
            font-family: 'IM Fell English SC', serif;
            font-size: 14px;
            color: var(--demonlord-color-text-primary);
            text-shadow: none;
          }

          .headerbody {
            margin-top: -10px;
          }
        }

        .toggleEffectInfo {
          height: 13px;
          width: 200px;
          margin-left: 60px;
        }

        .effectInfo {
          margin-bottom: 10px;
          margin-left: 73px;
        }

        .effects {
          list-style: none;
          padding: 0;

          .effect {
            .effectname {
              font-weight: bold;
            }
          }
        }
      }

      .token-image {
        float: left;
        border: none;
        height: 48px;
        width: 48px;
        margin-right: 10px;
      }
    }
  }
}

.challengedialog {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 0 5px 0;

  input {
    margin-top: -5px;
    width: 40px;
    margin-left: 5px;
    text-align: center;
    height: 20px;
    font-size: 12px;
  }
}

.restdialog {
  padding: 2px 0 5px 0;

  .inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.affliction {
  height: 18px;

  input {
    float: left;
    height: 16px;
    width: 16px;
  }

  label {
    float: left;
    margin-top: 5px;
  }

  .fas {
    margin-top: 5px;
    margin-left: 5px;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 260px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: left;
    border-radius: 3px;
    padding: 5px;
    top: 40px;
    right: 20px;
    position: absolute;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
}

.form-line {
  width: 100%;
  height: 22px;

  .bold {
    font-weight: bold;
  }

  .disable {
    float: left;
    width: 150px;
    height: 16px;
    margin: -2px 0 0 0;
  }

  .form-fields {
    float: left;
    margin-top: -3px;
    padding-top: 2px;

    div {
      float: left;
      margin-left: 5px;
    }

    select,
    input {
      margin-top: 2px;
      font-size: 11px;
      height: 16px;
    }

    input[type='checkbox'] {
      width: 15px;
      margin-top: -1px;
    }

    .number {
      input {
        width: 30px;
        text-align: right;
      }
    }
  }

  .item-controls {
    float: right;
    width: 15px;
    margin-top: 2px;
  }
}

.tooltipEffect {
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: help;
}

.tooltipEffect .tooltiptextEffect {
  visibility: hidden;
  width: 270px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-radius: 3px;
  padding: 5px;
  margin-top: 20px;
  position: absolute;
  left: 10px;
  z-index: 1;
  font-size: 11px;
}

.tooltipEffect:hover .tooltiptextEffect {
  visibility: visible;
}

.stat-editor {
  button {
    border: 1px groove var(--color-border-dark-5);
  }

  input[type='number'] {
    font-size: 50px;
    height: 60px;
    text-align: center;
  }

  input[type='text'] {
    font-size: 13px;
    margin-bottom: 0;
    margin-right: 2px;
    height: 32px;
  }
}

.frightening-horrifying-editor {
  display: flex;
  flex-direction: column;
}
