.form-block {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 4px 5px;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.1);
    font-size: 11px;

    .items-list {
        margin-bottom: 0;

        .affliction {
            height: 18px;

            input {
                float: left;
            }

            label {
                float: left;
                margin-top: 5px;
            }
        }

        .grid {
            gap: 0;
            margin-top: 0;
        }
    }

    .form-header {
        height: 20px;
        padding-top: 2px;
        padding-right: 5px;
        font-weight: bold;
        font-size: 12px;
    }

    .form-headermods {
        float: left;
        height: 20px;
        padding-top: 2px;
        padding-right: 5px;
        font-weight: bold;
        font-size: 12px;
    }

    .form-line {
        width: 100%;
        height: 22px;

        .form-fieldheader {
            float: left;
            padding-top: 2px;
            padding-right: 5px;
        }

        .bold {
            font-weight: bold;
        }

        .enablemod {
            float: left;
            width: 20px;
            height: 16px;
            margin: -2px 5px 0 -8px;
        }

        .disable {
            float: left;
            width: 150px;
            height: 16px;
            margin: -2px 0 0 0;
        }

        .form-fields {
            float: left;
            margin-top: -3px;
            padding-top: 2px;

            div {
                float: left;
                margin-left: 5px;
            }

            select,
            input {
                margin-top: 2px;
                font-size: 11px;
                height: 16px;
            }

            input[type="checkbox"] {
                width: 15px;
                margin-top: -1px;
            }

            .number {
                input {
                    width: 30px;
                    text-align: right;
                }
            }

            .numbermid {
                input {
                    width: 50px;
                    text-align: right;
                }
            }

            .radioblock,
            .radioblockfast {
                padding-right: 15px;
                margin-left: 0px;

                input[type="radio"] {
                    width: 15px;
                    margin-top: -1px;
                }
            }
        }

        .item-controls {
            float: right;
            width: 15px;
            margin-top: 2px;
        }
    }

    .form-modline {
        width: 100%;
        height: 12px;

        .form-fields {
            float: left;
            margin-top: -3px;
            padding-top: 2px;

            .modname {
                width: 130px;
                padding-left: 17px;
            }

            .modeffects {
                width: 93px;
            }

            .modmodifier {
                width: 36px;
            }

            .modrounds {
                width: 48px;
            }
        }
    }

}

.sectionblock {
    border: 1px solid #666;
    padding: 8px;
    margin-bottom: 10px;
}
.talentactions, .combatactions, .damageaction {
    margin-top: 5px;
    padding: 5px;
    background: #BBB;
    border: 1px solid #666;
    border-radius: 3px;
    font-size: 12px;
    height: 27px;

    img {
        float: left;
        margin: 0 0 0 -5px;
        border: 0;
    }

    div {
        float: left;
        padding-left: 5px;
    }

    .blood {
        margin-left: -8px;
        margin-top: 1px;
    }

    .challenge-img {
        float: left;
        height: 22px;
        width: 22px;
        margin-top: -3px;
        margin-left: -5px;
        background: url("icons/back-forth2.png") no-repeat;
    }

    .init-img {
        float: left;
        height: 22px;
        width: 22px;
        margin-top: -3px;
        margin-left: -5px;
        background: url("icons/pentagram.png") no-repeat;
    }

    .talent-img {
        float: left;
        height: 22px;
        width: 22px;
        margin-top: -3px;
        margin-left: -5px;
        background: url("icons/barbed-sun2.png") no-repeat;
    }
}

.sheet-footer {}
