.features {
    margin-top: -6px;
}

.items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    margin-top: 5px;
    margin-bottom: 15px;

    .item-header {
        height: 16px;
        border-bottom: 1px solid #BBB;
        font-size: 11px;
        font-weight: bold;

        .item-controls {
            height: 0;
        }

        .weaponnameheader {
            float: left;
            width: 230px;
        }

        .damageheader {
            float: left;
            width: 65px;
            margin-right: 10px;
        }

        .bonesbanesheader {
            float: left;
            width: 50px;
            margin-right: 10px;
        }

        .spelltypeheader {
            float: left;
            width: 50px;
        }

        .spellcastingsheader {
            float: left;
            width: 50px;
        }

        .propertiesheader {
            float: left;
            width: 230px;
        }

        .defenseheader {
            float: left;
            width: 100px;
            margin-right: 10px;
        }

        .spellnameheader {
            float: left;
            width: 350px;
        }
    }

    .item {
        padding: 3px 0;
        border-bottom: 1px solid #BBB;
        font-size: 11px;
        overflow-y: auto;

        .item-image {
            float: left;
            margin-right: 5px;
            width: 30px;
        }

        img {
            display: block;
        }

        .weaponname {
            float: left;
            width: 185px;
            margin-right: 10px;
        }

        .damage {
            float: left;
            width: 65px;
            margin-right: 10px;
        }

        .defense {
            float: left;
            width: 280px;
            margin-right: 10px;
        }

        .bonesbanes {
            float: left;
            width: 50px;
            margin-right: 10px;
            padding-left: 2px;
        }

        .properties {
            float: left;
            width: 350px;
        }

        .tradition {
            .traditiontitle {
                float: left;
            }

            .traditionname {
                float: left;
                margin-left: 5px;
                width: 200px;

                input {
                    width: 180px;
                }

                .tradition-edit {
                    float: left;
                    width: 200px;
                    font-weight: bold;
                }

                .tradition-focus {
                    float: left;
                    width: 200px;
                }
            }
        }

        .itemname {
            float: left;
            width: 145px;
            margin-right: 10px;
        }
    }

    .feature {
        font-size: 11px;
        margin-top: 10px;

        .featurename {
            height: 14px;
            font-weight: bold;
        }

        .featurediscription {
            width: 100%;
            height: auto;
        }

        .item-controls {
            float: right;
        }
    }

    .spell {
        .spellname {
            float: left;
            width: 305px;
            margin-right: 10px;
        }

        .spelltype {
            float: left;
            width: 50px;
        }

        .spellcastings {
            float: left;
            width: 50px;
        }

        .spellinfo {
            float: left;
            margin-top: 10px;
        }

        .toggleInfo {
            float: left;
            width: 400px;
        }
    }

    .item-align {
        width: 100%
    }

    .item-name {
        margin: 0;
        font-size: 12px;
        font-weight: bold;

        input {
            width: 200px;
        }
    }

    .item-controls {
        flex: 0 0 40px;
        text-align: right;
        font-size: 12px;
        height: 20px;

        .item-control {
            padding-left: 1px;
        }

        .item-wearoff {
            color: #999;
        }
    }

    .talent {
        height: auto;
        width: 100%;
        padding: 0 0 1px 0;
        border: 1px solid #BBB;
        border-radius: 2px;

        .talentheader {
            background-color: #999;
            line-height: 20px;
            padding: 0 3px;
            margin-bottom: 2px;
        }

        .talentname {
            float: left;
            flex: 0 0 220px;
            height: 20px;
            font-weight: bold;
        }

        .talent-uses {
            float: right;
            flex: 0 0 25px;
            height: 17px;
            line-height: 17px;
            padding-right: 3px;
        }

        .talentmod {
            flex: 0 0 140px;
            height: 20px;
        }

        .option {
            float: left;
            min-width: 160px;
            height: 17px;
            line-height: 17px;
            padding: 0px 1px 0 4px;
            text-align: left;
        }

        .bonesbanes {
            float: left;
            width: 100%;
            height: 17px;
            line-height: 17px;
            padding: 0 1px;
            text-align: left;
        }

        input[type="checkbox"] {
            float: left;
            height: 12px;
            margin: 2px 0 0 -3px;
        }
    }
}