.item-form {
  background: white; // Override background

  header,
  nav {
    background-size: auto 96px;
    background: url(../assets/ui/sidebar_background.webp) repeat-x local;
  }

  nav.sheet-tabs.tabs {
    margin: 0;
    border-top: none;
    height: 30px;

    .item {
      line-height: 1.8;
      font-size: 13px;
      font-family: 'IM Fell English SC', serif;
      padding: 0;
    }

    .item.active {
      text-decoration: none;
      border-bottom: 3px solid #a22223;
      text-shadow: 0 0 6px #a22223;
    }
  }

  .sheet-body {
    background: url(../assets/ui/paper.webp);
    background-size: cover;
  }

  .sheet-content {
    font-family: 'IM Fell English SC', serif;
    padding-bottom: 8px !important;
    height: inherit;

    .item-general {
      .row {
        padding: 8px 0;
        margin: 0;
        min-height: 106px;

        .col-10 {
          margin-bottom: 26px;
          min-height: 86px;
        }
      }

      input[name='name'] {
        color: black;
        font-size: 20px;
        font-weight: bold;
        height: 28px !important;
        width: 100% !important;
      }

      div.template-type {
        position: relative;
        left: 0;
        top: 0;
        color: #b5b5b5;
        font-size: 16px;
        text-transform: capitalize;
        text-align: center;
      }

      .item-banner {
        // must be set in the html element for some reason
        // background: url(systems/demonlord/assets/ui/sidebar_creature.webp);
        background-size: cover !important;
        margin-top: -10px;
        background-position: right 0 bottom 40% !important;
        padding-top: 10px;
        height: 155px;
        min-width: 90px;
        max-width: 90px;
      }

      .description-label {
        font-size: 16px;
        font-weight: bold;
      }

      .togglegm {
        position: relative;
        top: 0;
        right: 0;
      }
    }

    .tab,
    .sheet-content {
      padding-top: 12px !important;
    }

    .item-tab-header {
      margin: 0 0 8px 0;
      //height: 42px;

      img {
        width: 250px;
        border: none;
        display: block;
        margin: auto;
        margin-bottom: 6px;
      }

      div {
        margin-top: -8px;
        font-size: 24px;
        text-align: center;
        font-weight: bold;
      }

      input {
        color: #191813 !important;
        font-weight: bold;
        height: 28px !important;
        width: 28px !important;
        padding-left: 2px;
        max-width: 30px;
        background: rgba(111, 108, 102, 0.08);
        border: none;
        border-bottom: 1px solid #191813;

        &:hover,
        &:focus {
          padding-left: 2px !important;
          color: #191813 !important;
          box-shadow: 0 0 5px #8d3b3c;
        }
      }

      span {
        display: inline-block !important;
      }
    }

    .item-tab-sub-header {
      margin-left: 16px;
      margin-right: 16px;
      font-weight: bold;
      font-size: 18px;
    }

    .item-table {
      margin: 0 16px;
      font-size: 14px;

      &.indent {
        padding-left: 8px;
        padding-right: 8px;
        margin-bottom: 10px;
        border-left: 2px solid #404040;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 2px;
        border-bottom: 1px solid #5f5f5f;
        border-bottom-right-radius: 4px;
      }

      .row {
        padding: 4px 0;

        span {
          display: inline-block !important;
        }
      }

      textarea,
      select,
      input {
        height: 20px;
        width: 100%;
        //appearance: none;
        font-size: 12px;
        font-weight: normal;
        text-align: center;
        text-align-last: center;
        text-overflow: ellipsis;
        white-space: normal;
        padding: 0;
        border-radius: 3px;
        border: none;
        border-bottom: 1px rgba(#8d3b3c, 0.5) solid !important;
        //border-bottom: 1px #4f4f4f solid !important;
        background: rgb(111 108 102 / 8%) !important;
        color: black !important;
        margin-top: 0 !important;

        &:placeholder-shown {
          border-bottom: 1px #7a797159 solid !important;
        }
      }

      select {
        cursor: pointer;

        &:hover {
          //box-shadow: 0 0 5px #8d3b3c !important;
        }
      }

      input {
        height: 20px !important;
        width: 100% !important;
      }

      input:hover,
      input:focus {
        padding-left: 0 !important;
        //box-shadow: 0 0 5px #8d3b3c !important;
      }

      input[readonly] {
        cursor: default;
      }

      input[type='radio'],
      input[type='checkbox'] {
        width: 20px !important;
        height: 20px !important;
        cursor: pointer;
        //border: 1px solid #8d3b3c !important;
        border: 1px solid #404040 !important;
        border-radius: 13px;
        margin: auto;
        display: block;
        appearance: none;
      }

      .single-checkbox {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }

      input[type='radio']:checked,
      input[type='checkbox']:checked {
        border: 1px solid #8d3b3c !important;
        -webkit-filter: none !important;
        filter: none !important;
        box-shadow: inset 0 0 0 6px #afaba0;
        background: #8d3b3c !important;
        // background: url(../assets/ui/icons/pentragram.webp) !important;
        // background: url(../assets/ui/icons/logo.webp) !important;
        // background-position: center;
        // background-size: 40px !important;
        // background-position-x: -9px !important;
        // background-position-y: -9px !important;
      }

      textarea {
        min-width: 100%;
        max-width: 100%;
        font-family: inherit;
        text-align: left;
        text-align-last: left;
        padding: 4px 8px;
      }

      .vs {
        position: absolute;
        font-size: 10px;
        left: 31.6%;
        top: 26px;
      }

      .damage-row {
        position: relative;
        padding: 0;
      }

      a.damage-delete {
        // Note: must be inside position: relative; parent
        position: absolute;
        right: 4px;
        top: 4px;
      }

      label {
        display: block;
        width: 100%;
        font-size: 15px;
        font-weight: bold;
      }

      .inline-input {
        label {
          display: inline-block;
          width: auto;
          margin-left: 8px;
        }

        &.fix label {
          vertical-align: super;
        }

        input {
          display: inline-block;
          font-size: 14px;
          /* font-weight: 600; */
          border: 1px solid #333333 !important;
          margin: 0 !important;
        }

        input[type='text'],
        input[type='number'] {
          width: 28px !important;
          height: 28px !important;
          border-radius: 19px !important;
        }

        input[type='radio'] {
          margin: 0;
          top: 0;
        }

        select {
          width: auto;
          margin-left: 8px;
          margin-right: 8px;
        }
      }

      .drop-area {
        position: relative;
        margin-top: 2px;
        padding: 10px;
        border: 4px dashed rgba(0, 0, 0, 0.25);
        text-align: center;
        width: 100%;
        min-height: 50px;
        padding-bottom: 30px;
      }

      a.item-control.transfer-talents {
        border: 1px solid #343434;
        padding: 4px 6px;
        color: white;
        border-radius: 4px;
        background-color: #8d3b3c;
      }

      .item-controls {
        text-align: right;
      }

      .center {
        text-align: center;
      }
    }

    .fixed-path {
      margin-bottom: 12px;
      border-bottom: 1px solid #404040;
      border-top: 1px solid #404040;
      border-left: 2px solid #404040;
      border-right: 2px solid #404040;
      border-radius: 5px;
      margin-top: 12px;
      padding: 2px 8px;

      .row {
        label,
        input,
        select {
          font-size: 18px;
          height: 24px !important;
        }
      }
    }
  }

  .max-castings-control.readonly {
    cursor: default;
  }
}
