<form class="{{cssClass}}" autocomplete="off">
    <div class="itemclass">
        <header class="sheet-header">
            <div class="header-fields">
                <div class="gridrow"><input name="name" type="text" value="{{item.name}}" placeholder="Armor Name" />
                </div>
            </div>
        </header>

        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="attributes">Ancestry</a>
            <a class="item" data-tab="description">Description</a>
        </nav>

        {{!-- Sheet Body --}}
        <section class="sheet-body">
            <section class="sheet-content">
                {{!-- Attributes Tab --}}
                <div class="tab weapons" data-group="primary" data-tab="attributes">
                    <div class="gridrow">
                        <div class="resource">
                            <label class="resource-label">{{localize "DL.Characteristics"}}</label>
                            <div class="modifierblock">
                                <label class="resource-label">{{localize "DL.AncestryPerceptionModifier"}}</label>
                                <input type="text" name="data.characteristics.perceptionmodifier"
                                    value="{{data.characteristics.perceptionmodifier}}" />
                                <label class="resource-label">{{localize "DL.AncestryDefenseModifier"}}</label>
                                <input type="text" name="data.characteristics.defensemodifier"
                                    value="{{data.characteristics.defensemodifier}}" />
                                <label class="resource-label">{{localize "DL.AncestryHealthModifier"}}</label>
                                <input type="text" name="data.characteristics.healthmodifier"
                                    value="{{data.characteristics.healthmodifier}}" />
                                <label class="resource-label">{{localize "DL.CharSize"}}</label>
                                <input type="text" name="data.characteristics.size"
                                    value="{{data.characteristics.size}}" />
                                <label class="resource-label">{{localize "DL.CharSpeed"}}</label>
                                <input type="text" name="data.characteristics.speed"
                                    value="{{data.characteristics.speed}}" />
                            </div>
                        </div>
                        <div class="resource">
                            <label class="resource-label">{{localize "DL.AncestryLevel4"}}</label>
                            <div class="modifierblock">
                                <label class="resource-label">{{localize "DL.CharHealth"}}</label>
                                <input type="text" name="data.level4.healthbonus" value="{{data.level4.healthbonus}}" />
                                {{#if data.level4.option1}}
                                <div class="radiotrue">
                                    <input type="radio" name="data.level4.options" id="data.level4.option.true"
                                        {{checked}} />
                                    <label for="data.level4.option1">{{localize "DL.AncestryLearnSpell"}}</label>
                                </div>
                                <div class="radiofalse">
                                    <input type="radio" name="data.level4.options" id="data.level4.option.false" />
                                    <label for="data.level4.option1">{{localize "DL.AncestryLearnTalent"}}</label>
                                </div>
                                {{else}}
                                <div class="radiotrue">
                                    <input type="radio" name="data.level4.options" id="data.level4.option.true" />
                                    <label for="data.level4.option1">{{localize "DL.AncestryLearnSpell"}}</label>
                                </div>
                                <div class="radiofalse">
                                    <input type="radio" name="data.level4.options" id="data.level4.option.false"
                                        {{checked}} />
                                    <label for="data.level4.option1">{{localize "DL.AncestryLearnTalent"}}</label>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- Description Tab --}}
                <div class="tab" data-group="primary" data-tab="description">
                    <div class="descriptionblock">
                        <textarea name="data.description">{{data.description}}</textarea>
                    </div>
                </div>
            </section>
        </section>
    </div>
</form>