<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header itemsheet-header">
        <img class="weapon-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <div class="gridrow">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'DL.ItemName'}}" />
            </div>
        </div>
        <div class="template-type">{{item.type}}</div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">{{localize "DL.TabsAttributes"}}</a>
        <a class="item" data-tab="description">{{localize "DL.TabsDescription"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <section class="sheet-content">
            {{!-- Attributes Tab --}}
            <div class="tab attributes" data-group="primary" data-tab="attributes">
                <div class="gridrow">
                    <div class="resource grid grid-3col">
                        <div>
                            <label class="resource-label">{{localize "DL.ItemAmount"}}</label>
                            <div class="modifierblock">
                                <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" />
                            </div>
                        </div>
                        <div>
                            <label class="resource-label">{{localize "DL.Availability"}}</label>
                            <div class="modifierblock">
                                <select name="data.availability" data-dtype="String">
                                    {{#select data.availability}}
                                    <option value="C">{{localize "DL.AvailabilityCommon"}}
                                    </option>
                                    <option value="U">{{localize "DL.AvailabilityUncommon"}}
                                    </option>
                                    <option value="R">{{localize "DL.AvailabilityRare"}}
                                    </option>
                                    <option value="E">{{localize "DL.AvailabilityExotic"}}
                                    </option>
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                        <div>
                            <label class="resource-label">{{localize "DL.ItemValue"}}</label>
                            <div class="modifierblock">
                                <input type="text" name="data.value" value="{{data.value}}" />
                            </div>
                        </div>
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "DL.ItemEnchantment"}}</label>
                        <div class="modifierblock">
                            <label class="resource-label">{{localize "DL.TalentAttackBoonsBanes"}}</label>
                            <input type="text" name="data.enchantment.attackbonus"
                                value="{{data.enchantment.attackbonus}}" data-dtype="Number" />
                            <label class="resource-label">{{localize "DL.TalentChallengeBoonsBanes"}}</label>
                            <input type="text" name="data.enchantment.challengebonus"
                                value="{{data.enchantment.challengebonus}}" data-dtype="Number" />
                            <label class="resource-label">{{localize "DL.ItemDamage"}}</label>
                            <input type="text" name="data.enchantment.damage" value="{{data.enchantment.damage}}" />
                            <label class="resource-label">{{localize "DL.ItemDefenseModifier"}}</label>
                            <input type="text" name="data.enchantment.defense" value="{{data.enchantment.defense}}"
                                data-dtype="Number" />
                            <label class="resource-label">{{localize "DL.ItemSpeedModifier"}}</label>
                            <input type="text" name="data.enchantment.speed" value="{{data.enchantment.speed}}"
                                data-dtype="Number" />
                            <label class="resource-label">{{localize "DL.ItemPerceptionModifier"}}</label>
                            <input type="text" name="data.enchantment.perception"
                                value="{{data.enchantment.perception}}" data-dtype="Number" />
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Description Tab --}}
            <div class="tab" data-group="primary" data-tab="description">
                <div class="descriptionblock">
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
            </div>
        </section>
    </section>
</form>