<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header itemsheet-header">
        <img class="weapon-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <div class="gridrow">
                <div class="title">{{pathtype}}: {{item.name}}</div>
            </div>
        </div>
        <div class="template-type">{{item.type}}</div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">{{localize "DL.TabsPath"}}</a>
        <a class="item" data-tab="description">{{localize "DL.TabsDescription"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <section class="sheet-content">
            <div class="tab paths" data-group="primary" data-tab="attributes">
                <div class="gridrow">
                    <div class="resource">
                        <ol class="items-list">
                            {{#each item.levels as |level id|}}
                            <li class="level" data-item-id="{{id}}">
                                <input type="hidden" name="level" value="{{id}}"/>
                                <div class="levelheader">
                                    <label>{{localize 'DL.PathsLevelsSubTitle'}}</label>
                                    <span>{{level.level}}</span>
                                </div>
                                <div class="attributes">
                                    {{#if level.attributeSelectIsChooseTwo}}
                                    <div class="option">
                                        <label>{{localize 'DL.PathsLevelAttributesSubtitle'}}{{#if level.attributeSelectIsChooseTwo}}: ({{localize 'DL.PathsLevelAttributesChooseTwo'}}){{/if}}{{#if level.PathsLevelAttributesChooseThree}}: ({{localize 'DL.PathsLevelAttributesChooseThree'}}){{/if}}</label>
                                    </div>
                                    <div class="attributesselect">
                                        <div class="grid grid-4col">
                                            <div>
                                                <input type="checkbox" name="level.attributeStrengthSelected"
                            id="level.attributeStrengthSelected{{id}}" {{checked level.attributeStrengthSelected}} />
                                                <label for="level.attributeStrengthSelected{{id}}">{{localize 'DL.AttributeStrength'}}</label>
                                                <span>+{{level.attributeStrength}}</span>
                                            </div>
                                            <div>
                                                <input type="checkbox" name="level.attributeAgilitySelected"
                            id="level.attributeAgilitySelected{{id}}" {{checked level.attributeAgilitySelected}} />
                                                <label for="level.attributeAgilitySelected{{id}}">{{localize 'DL.AttributeAgility'}}</label>
                                                <span>+{{level.attributeAgility}}</span>
                                            </div>
                                            <div>
                                                <input type="checkbox" name="level.attributeIntellectSelected"
                            id="level.attributeIntellectSelected{{id}}" {{checked level.attributeIntellectSelected}} />
                                                <label for="level.attributeIntellectSelected{{id}}">{{localize 'DL.AttributeIntellect'}}</label>
                                                <span>+{{level.attributeIntellect}}</span>
                                            </div>
                                            <div>
                                                <input type="checkbox" name="level.attributeWillSelected"
                            id="level.attributeWillSelected{{id}}" {{checked level.attributeWillSelected}} />
                                                <label for="level.attributeWillSelected{{id}}">{{localize 'DL.AttributeWill'}}</label>
                                                <span>+{{level.attributeWill}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    {{/if}}
                                    {{#if level.attributeSelectIsChooseThree}}
                                    <div class="option">
                                        <label>{{localize 'DL.PathsLevelAttributesSubtitle'}}{{#if level.attributeSelectIsChooseTwo}}: ({{localize 'DL.PathsLevelAttributesChooseTwo'}}){{/if}}{{#if level.PathsLevelAttributesChooseThree}}: ({{localize 'DL.PathsLevelAttributesChooseThree'}}){{/if}}</label>
                                    </div>
                                    <div class="attributesselect">
                                        <div class="grid grid-4col">
                                            <div>
                                                <input type="checkbox" name="level.attributeStrengthSelected"
                            id="level.attributeStrengthSelected{{id}}" {{checked level.attributeStrengthSelected}} />
                                                <label for="level.attributeStrengthSelected{{id}}">{{localize 'DL.AttributeStrength'}}</label>
                                                <span>+{{level.attributeStrength}}</span>
                                            </div>
                                            <div>
                                                <input type="checkbox" name="level.attributeAgilitySelected"
                            id="level.attributeAgilitySelected{{id}}" {{checked level.attributeAgilitySelected}} />
                                                <label for="level.attributeAgilitySelected{{id}}">{{localize 'DL.AttributeAgility'}}</label>
                                                <span>+{{level.attributeAgility}}</span>
                                            </div>
                                            <div>
                                                <input type="checkbox" name="level.attributeIntellectSelected"
                            id="level.attributeIntellectSelected{{id}}" {{checked level.attributeIntellectSelected}} />
                                                <label for="level.attributeIntellectSelected{{id}}">{{localize 'DL.AttributeIntellect'}}</label>
                                                <span>+{{level.attributeIntellect}}</span>
                                            </div>
                                            <div>
                                                <input type="checkbox" name="level.attributeWillSelected"
                            id="level.attributeWillSelected{{id}}" {{checked level.attributeWillSelected}} />
                                                <label for="level.attributeWillSelected{{id}}">{{localize 'DL.AttributeWill'}}</label>
                                                <span>+{{level.attributeWill}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    {{/if}}
                                    {{#if level.attributeSelectIsFixed}}
                                    <div class="option">
                                        <label>{{localize 'DL.PathsLevelAttributesSubtitle'}}{{#if level.attributeSelectIsChooseTwo}}: ({{localize 'DL.PathsLevelAttributesChooseTwo'}}){{/if}}{{#if level.PathsLevelAttributesChooseThree}}: ({{localize 'DL.PathsLevelAttributesChooseThree'}}){{/if}}</label>
                                    </div>
                                    <div class="attributesselect">
                                        <div class="grid grid-4col">
                                            {{#if level.attributeStrength}}
                                            <div>
                                                <label>{{localize 'DL.AttributeStrength'}}</label>
                                                <span>+{{level.attributeStrength}}</span>
                                            </div>
                                            {{/if}}
                                            {{#if level.attributeAgility}}
                                            <div>
                                                <label>{{localize 'DL.AttributeAgility'}}</label>
                                                <span>+{{level.attributeAgility}}</span>
                                            </div>
                                            {{/if}}
                                            {{#if level.attributeIntellect}}
                                            <div>
                                                <label>{{localize 'DL.AttributeIntellect'}}</label>
                                                <span>+{{level.attributeIntellect}}</span>
                                            </div>
                                            {{/if}}
                                            {{#if level.attributeWill}}
                                            <div>
                                                <label>{{localize 'DL.AttributeWill'}}</label>
                                                <span>+{{level.attributeWill}}</span>
                                            </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                    {{/if}}
                                    {{#if level.attributeSelectIsTwoSet}}
                                    <div class="option">
                                        <label>{{localize 'DL.PathsLevelAttributesSubtitle'}}</label>
                                    </div>
                                    <div class="attributesselect twoset">
                                        <div class="grid grid-2col">
                                            <div>
                                                {{#if level.attributeSelectTwoSetSelectedValue1}}
                                                <div class="twosetradio">
                                                    <input type="radio" name="level.attributeSelectTwoSetSelectedValue1" id="level.attributeSelectTwoSetSelectedValue1.true" value="true" {{checked}} />
                                                    <label for="level.attributeSelectTwoSetSelectedValue1.true">{{level.attributeSelectTwoSet1Label}}</label>
                                                    <span class="twosetvalue">+{{level.attributeSelectTwoSetValue1}}</span>
                                                </div>
                                                <label>{{localize 'DL.PathsLevelAttributesSelectOr'}}</label>
                                                <div class="twosetradio">
                                                    <input type="radio" name="level.attributeSelectTwoSetSelectedValue1" id="level.attributeSelectTwoSetSelectedValue1.false" value="false" />
                                                    <label for="level.attributeSelectTwoSetSelectedValue1.false">{{level.attributeSelectTwoSet2Label}}</label>
                                                    <span class="twosetvalue">+{{level.attributeSelectTwoSetValue1}}</span>
                                                </div>
                                                {{else}}
                                                <div class="twosetradio">
                                                    <input type="radio" name="level.attributeSelectTwoSetSelectedValue1" id="level.attributeSelectTwoSetSelectedValue1.true" value="true" />
                                                    <label for="level.attributeSelectTwoSetSelectedValue1.true">{{level.attributeSelectTwoSet1Label}}</label>
                                                    <span class="twosetvalue">+{{level.attributeSelectTwoSetValue1}}</span>
                                                </div>
                                                <label>{{localize 'DL.PathsLevelAttributesSelectOr'}}</label>
                                                <div class="twosetradio">
                                                    <input type="radio" name="level.attributeSelectTwoSetSelectedValue1" id="level.attributeSelectTwoSetSelectedValue1.false" value="false" {{checked}} />
                                                    <label for="level.attributeSelectTwoSetSelectedValue1.false">{{level.attributeSelectTwoSet2Label}}</label>
                                                    <span class="twosetvalue">+{{level.attributeSelectTwoSetValue1}}</span>
                                                </div>
                                                {{/if}}
                                            </div>
                                            <div>
                                                {{#if level.attributeSelectTwoSetSelectedValue2}}
                                                <div class="twosetradio">
                                                    <input type="radio" name="level.attributeSelectTwoSetSelectedValue2"
                                                        id="level.attributeSelectTwoSetSelectedValue2.true" value="true" {{checked}} />
                                                    <label for="level.attributeSelectTwoSetSelectedValue2.true">{{level.attributeSelectTwoSet3Label}}</label>
                                                    <span class="twosetvalue">+{{level.attributeSelectTwoSetValue2}}</span>
                                                </div>
                                                <label>{{localize 'DL.PathsLevelAttributesSelectOr'}}</label>
                                                <div class="twosetradio">
                                                    <input type="radio" name="level.attributeSelectTwoSetSelectedValue2"
                                                        id="level.attributeSelectTwoSetSelectedValue2.false" value="false" />
                                                    <label for="level.attributeSelectTwoSetSelectedValue2.false">{{level.attributeSelectTwoSet4Label}}</label>
                                                    <span class="twosetvalue">+{{level.attributeSelectTwoSetValue2}}</span>
                                                </div>
                                                {{else}}
                                                <div class="twosetradio">
                                                    <input type="radio" name="level.attributeSelectTwoSetSelectedValue2"
                                                        id="level.attributeSelectTwoSetSelectedValue2.true" value="true" />
                                                    <label for="level.attributeSelectTwoSetSelectedValue2.true">{{level.attributeSelectTwoSet3Label}}</label>
                                                    <span class="twosetvalue">+{{level.attributeSelectTwoSetValue2}}</span>
                                                </div>
                                                <label>{{localize 'DL.PathsLevelAttributesSelectOr'}}</label>
                                                <div class="twosetradio">
                                                    <input type="radio" name="level.attributeSelectTwoSetSelectedValue2"
                                                        id="level.attributeSelectTwoSetSelectedValue2.false" value="false" {{checked}} />
                                                    <label for="level.attributeSelectTwoSetSelectedValue2.false">{{level.attributeSelectTwoSet4Label}}</label>
                                                    <span class="twosetvalue">+{{level.attributeSelectTwoSetValue2}}</span>
                                                </div>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                    {{/if}}
                                </div>
                                <div class="characteristics">
                                    <div class="option">
                                        <label>{{localize 'DL.PathsLevelCharacteristicsSubtitle'}}</label>
                                    </div>
                                    <div class="characteristicsselect">
                                        <div class="grid grid-6col">
                                            {{#if level.characteristicsHealth}}
                                            <div>
                                                <label>{{localize 'DL.CharHealth'}}</label>
                                                <span>+{{level.characteristicsHealth}}</span>
                                            </div>
                                            {{/if}}
                                            {{#if level.characteristicsPower}}
                                            <div>
                                                <label>{{localize 'DL.CharPower'}}</label>
                                                <span>+{{level.characteristicsPower}}</span>
                                            </div>
                                            {{/if}}
                                            {{#if level.characteristicsPerception}}
                                            <div>
                                                <label>{{localize 'DL.CharPerception'}}</label>
                                                <span>+{{level.characteristicsPerception}}</span>
                                            </div>
                                            {{/if}}
                                            {{#if level.characteristicsSpeed}}
                                            <div>
                                                <label>{{localize 'DL.CharSpeed'}}</label>
                                                <span>+{{level.characteristicsSpeed}}</span>
                                            </div>
                                            {{/if}}
                                            {{#if level.characteristicsDefense}}
                                            <div>
                                                <label>{{localize 'DL.CharDefense'}}</label>
                                                <span>+{{level.characteristicsDefense}}</span>
                                            </div>
                                            {{/if}}
                                            {{#if level.characteristicsCorruption}}
                                            <div>
                                                <label>{{localize 'DL.CharCorruption'}}</label>
                                                <span>+{{level.characteristicsCorruption}}</span>
                                            </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                {{#if level.languagesText}}
                                <div class="language">
                                    <div class="option">
                                        <label>{{localize 'DL.PathsLevelLanguages'}}</label>
                                    </div>
                                    <div>{{level.languagesText}}</div>
                                </div>
                                {{/if}}
                                {{#if level.equipmentText}}
                                <div class="equipment">
                                    <div class="option">
                                        <label>{{localize 'DL.PathsLevelEquipment'}}</label>
                                    </div>
                                    <div>{{level.equipmentText}}</div>
                                </div>
                                {{/if}}
                                {{#if level.magicText}}
                                <div class="magic">
                                    <div class="option">
                                        <label>{{localize 'DL.TabsMagic'}}</label>
                                    </div>
                                    <div>{{level.magicText}}</div>
                                </div>
                                {{/if}}
                                {{#if level.talents}}
                                <div class="talents">
                                    <div class="option">
                                        <label>{{localize 'DL.TabsTalents'}}</label>
                                    </div>
                                    <div class="info"><a class="item-control transfer-talents" data-level="{{id}}" data-group="talent" title="{{localize 'DL.PathsTalentTransfers'}}">{{localize 'DL.PathsTalentTransfers'}}</a></div>
                                    <div class="item-container select-area">
                                        <ul class="tags">
                                            {{#each level.talents as |talent id|}}
                                            <li class="tagclean" data-item-id="{{id}}">{{talent.name}}</li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                                {{/if}}
                                {{#if level.talentspick}}
                                <div class="talents">
                                    <div class="option">
                                        <label>{{localize 'DL.TabsTalents'}}: ({{localize 'DL.PathsLevelTalentChooseOne'}})</label>
                                    </div>
                                    <div class="info">{{localize 'DL.PathsTransfer'}}</div>
                                    <div class="item-container select-area" data-group="talent" data-level="{{id}}">
                                        <ul class="tags">
                                            {{#each level.talentspick as |talent id|}}
                                            <li class="tagclean select-item transfer-talentpick" data-item-id="{{id}}">{{talent.name}}</li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                                {{/if}}
                                {{#if level.spells}}
                                <div class="spells">
                                    <div class="option">
                                        <label>{{localize 'DL.MagicSpellsTitle'}}</label>
                                    </div>
                                    <div class="info">{{localize 'DL.PathsTransfer'}}</div>
                                    <div class="item-container select-area" data-group="spell" data-level="{{id}}">
                                        <ul class="tags">
                                            {{#each level.spells as |spell id|}}
                                            <li class="tagclean select-item transfer-spell" data-item-id="{{id}}">{{spell.name}}</li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                                {{/if}}
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                </div>
            </div>
            {{!-- Description Tab --}}
            <div class=" tab" data-group="primary" data-tab="description">
                <div class="descriptionblock">
                    {{{data.description}}}
                </div>
            </div>
        </section>
    </section>
</form>