<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header itemsheet-header">
        <img class="weapon-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <div class="gridrow"><input name="name" type="text" value="{{item.name}}" placeholder="Ammo Name" /></div>
        </div>
        <div class="template-type">{{item.type}}</div>
        {{#if isGM}}
        <div class="togglegm">
            <label class="switchBig">
                <input type="checkbox" id="data.editPath" name="data.editPath" {{checked data.editPath}}>
                <div class="slider round">
                    <span class="on">Edit</span><span class="off">View</span>
                </div>
            </label>
        </div>
        {{/if}}
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">{{localize "DL.TabsPathSetup"}}</a>
        <a class="item" data-tab="description">{{localize "DL.TabsPathDescription"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    {{#if data.editPath}}
    <section class="sheet-body">
        <section class="sheet-content">
            <div class="tab paths" data-group="primary" data-tab="attributes">
                <div class="gridrow">
                    <div class="resource">
                        <label class="pathtypes">{{localize "DL.PathsPathType"}}</label>
                        <select name="data.type" data-dtype="String">
                            {{#select data.type}}
                            <option value="">—</option>
                            <option value="novice">{{localize "DL.CharPathNovice"}}
                            </option>
                            <option value="expert">{{localize "DL.CharPathExpert"}}
                            </option>
                            <option value="master">{{localize "DL.CharPathMaster"}}
                            </option>
                            {{/select}}
                        </select>
                    </div>
                </div>
                <div class="gridrow">
                    <div class="resource">
                        <ol class="items-list">
                            <li class="item-header">
                                <div class="weaponnameheader">{{localize "DL.PathsLevelsTitle"}}</div>
                                <div class="item-controls">
                                    <a class="item-control add-level" title="{{localize 'DL.PathsAddLevel'}}"
                                        data-type="weapon"><i class="fas fa-plus"></i></a>
                                </div>
                            </li>
                            {{#each item.levels as |level id|}}
                            <li class="level" data-item-id="{{id}}">
                                <div class="level">
                                    <label>{{localize 'DL.PathsLevelsSubTitle'}}</label>
                                    <input type="text" name="level.level" value="{{level.level}}" data-dtype="Number" />
                                </div>
                                <div class="item-controls">
                                    <a class="item-control delete-level" title="{{localize 'DL.PathsDeleteLevel'}}"><i
                                            class="fas fa-trash"></i></a>
                                </div>
                                <div class="attributes">
                                    <div class="option">
                                        <label>{{localize 'DL.PathsLevelAttributesSubtitle'}}</label>
                                        <select name="level.attributeSelect" data-dtype="String">
                                            {{#select level.attributeSelect}}
                                            <option value="-">{{localize "DL.PathsLevelAttributesNone"}}</option>
                                            <option value="choosetwo">{{localize "DL.PathsLevelAttributesChooseTwo"}}
                                            </option>
                                            <option value="choosethree">
                                                {{localize "DL.PathsLevelAttributesChooseThree"}}
                                            </option>
                                            <option value="fixed">{{localize "DL.PathsLevelAttributesFixed"}}
                                            </option>
                                            <option value="twosets">{{localize "DL.PathsLevelAttributesTwoSets"}}
                                            </option>
                                            {{/select}}
                                        </select>
                                    </div>
                                    {{#if level.attributeSelectIsChooseTwo}}
                                    <div class="attributesselect">
                                        <div class="grid grid-4col">
                                            <div>
                                                <label>{{localize 'DL.AttributeStrength'}}</label>
                                                <input type="text" name="level.attributeStrength"
                                                    value="{{level.attributeStrength}}" data-dtype="Number" />
                                            </div>
                                            <div>
                                                <label>{{localize 'DL.AttributeAgility'}}</label>
                                                <input type="text" name="level.attributeAgility"
                                                    value="{{level.attributeAgility}}" data-dtype="Number" />
                                            </div>
                                            <div>
                                                <label>{{localize 'DL.AttributeIntellect'}}</label>
                                                <input type="text" name="level.attributeIntellect"
                                                    value="{{level.attributeIntellect}}" data-dtype="Number" />
                                            </div>
                                            <div>
                                                <label>{{localize 'DL.AttributeWill'}}</label>
                                                <input type="text" name="level.attributeWill"
                                                    value="{{level.attributeWill}}" data-dtype="Number" />
                                            </div>
                                        </div>
                                    </div>
                                    {{/if}}
                                    {{#if level.attributeSelectIsChooseThree}}
                                    <div class="attributesselect">
                                        <div class="grid grid-4col">
                                            <div>
                                                <label>{{localize 'DL.AttributeStrength'}}</label>
                                                <input type="text" name="level.attributeStrength"
                                                    value="{{level.attributeStrength}}" data-dtype="Number" />
                                            </div>
                                            <div>
                                                <label>{{localize 'DL.AttributeAgility'}}</label>
                                                <input type="text" name="level.attributeAgility"
                                                    value="{{level.attributeAgility}}" data-dtype="Number" />
                                            </div>
                                            <div>
                                                <label>{{localize 'DL.AttributeIntellect'}}</label>
                                                <input type="text" name="level.attributeIntellect"
                                                    value="{{level.attributeIntellect}}" data-dtype="Number" />
                                            </div>
                                            <div>
                                                <label>{{localize 'DL.AttributeWill'}}</label>
                                                <input type="text" name="level.attributeWill"
                                                    value="{{level.attributeWill}}" data-dtype="Number" />
                                            </div>
                                        </div>
                                    </div>
                                    {{/if}}
                                    {{#if level.attributeSelectIsFixed}}
                                    <div class="attributesselect">
                                        <div class="grid grid-4col">
                                            <div>
                                                <label>{{localize 'DL.AttributeStrength'}}</label>
                                                <input type="text" name="level.attributeStrength"
                                                    value="{{level.attributeStrength}}" data-dtype="Number" />
                                            </div>
                                            <div>
                                                <label>{{localize 'DL.AttributeAgility'}}</label>
                                                <input type="text" name="level.attributeAgility"
                                                    value="{{level.attributeAgility}}" data-dtype="Number" />
                                            </div>
                                            <div>
                                                <label>{{localize 'DL.AttributeIntellect'}}</label>
                                                <input type="text" name="level.attributeIntellect"
                                                    value="{{level.attributeIntellect}}" data-dtype="Number" />
                                            </div>
                                            <div>
                                                <label>{{localize 'DL.AttributeWill'}}</label>
                                                <input type="text" name="level.attributeWill"
                                                    value="{{level.attributeWill}}" data-dtype="Number" />
                                            </div>
                                        </div>
                                    </div>
                                    {{/if}}
                                    {{#if level.attributeSelectIsTwoSet}}
                                    <div class="attributesselect twoset">
                                        <div class="grid grid-2col">
                                            <div>
                                                <select name="level.attributeSelectTwoSet1" data-dtype="String">
                                                    {{#select level.attributeSelectTwoSet1}}
                                                    <option value="strength">
                                                        {{localize "DL.AttributeStrength"}}</option>
                                                    <option value="agility">
                                                        {{localize "DL.AttributeAgility"}}
                                                    </option>
                                                    <option value="intellect">
                                                        {{localize "DL.AttributeIntellect"}}
                                                    </option>
                                                    <option value="will">
                                                        {{localize "DL.AttributeWill"}}
                                                    </option>
                                                    {{/select}}
                                                </select>
                                                <label>{{localize 'DL.PathsLevelAttributesSelectOr'}}</label>
                                                <select name="level.attributeSelectTwoSet2" data-dtype="String">
                                                    {{#select level.attributeSelectTwoSet2}}
                                                    <option value="strength">
                                                        {{localize "DL.AttributeStrength"}}</option>
                                                    <option value="agility">
                                                        {{localize "DL.AttributeAgility"}}
                                                    </option>
                                                    <option value="intellect">
                                                        {{localize "DL.AttributeIntellect"}}
                                                    </option>
                                                    <option value="will">
                                                        {{localize "DL.AttributeWill"}}
                                                    </option>
                                                    {{/select}}
                                                </select>
                                                <input type="text" name="level.attributeSelectTwoSetValue1" value="{{level.attributeSelectTwoSetValue1}}"
                                                    data-dtype="Number" />
                                            </div>
                                            <div>
                                                <select name="level.attributeSelectTwoSet3" data-dtype="String">
                                                    {{#select level.attributeSelectTwoSet3}}
                                                    <option value="strength">
                                                        {{localize "DL.AttributeStrength"}}</option>
                                                    <option value="agility">
                                                        {{localize "DL.AttributeAgility"}}
                                                    </option>
                                                    <option value="intellect">
                                                        {{localize "DL.AttributeIntellect"}}
                                                    </option>
                                                    <option value="will">
                                                        {{localize "DL.AttributeWill"}}
                                                    </option>
                                                    {{/select}}
                                                </select>
                                                <label>{{localize 'DL.PathsLevelAttributesSelectOr'}}</label>
                                                <select name="level.attributeSelectTwoSet4" data-dtype="String">
                                                    {{#select level.attributeSelectTwoSet4}}
                                                    <option value="strength">
                                                        {{localize "DL.AttributeStrength"}}</option>
                                                    <option value="agility">
                                                        {{localize "DL.AttributeAgility"}}
                                                    </option>
                                                    <option value="intellect">
                                                        {{localize "DL.AttributeIntellect"}}
                                                    </option>
                                                    <option value="will">
                                                        {{localize "DL.AttributeWill"}}
                                                    </option>
                                                    {{/select}}
                                                </select>
                                                <input type="text" name="level.attributeSelectTwoSetValue2" value="{{level.attributeSelectTwoSetValue2}}"
                                                    data-dtype="Number" />
                                            </div>
                                        </div>
                                    </div>
                                    {{/if}}
                                </div>
                                <div class="characteristics">
                                    <div class="option">
                                        <label>{{localize 'DL.PathsLevelCharacteristicsSubtitle'}}</label>
                                    </div>
                                    <div class="characteristicsselect">
                                        <div class="grid grid-3col">
                                            <div>
                                                <label>{{localize 'DL.CharHealth'}}</label>
                                                <input type="text" name="level.characteristicsHealth"
                                                    value="{{level.characteristicsHealth}}" data-dtype="Number" />
                                            </div>
                                            <div>
                                                <label>{{localize 'DL.CharPower'}}</label>
                                                <input type="text" name="level.characteristicsPower"
                                                    value="{{level.characteristicsPower}}" data-dtype="Number" />
                                            </div>
                                            <div>
                                                <label>{{localize 'DL.CharPerception'}}</label>
                                                <input type="text" name="level.characteristicsPerception"
                                                    value="{{level.characteristicsPerception}}" data-dtype="Number" />
                                            </div>
                                            <div>
                                                <label>{{localize 'DL.CharSpeed'}}</label>
                                                <input type="text" name="level.characteristicsSpeed"
                                                    value="{{level.characteristicsSpeed}}" data-dtype="Number" />
                                            </div>
                                            <div>
                                                <label>{{localize 'DL.CharDefense'}}</label>
                                                <input type="text" name="level.characteristicsDefense"
                                                    value="{{level.characteristicsDefense}}" data-dtype="Number" />
                                            </div>
                                            <div>
                                                <label>{{localize 'DL.CharCorruption'}}</label>
                                                <input type="text" name="level.characteristicsCorruption"
                                                    value="{{level.characteristicsCorruption}}" data-dtype="Number" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="language">
                                    <div class="option">
                                        <label>{{localize 'DL.PathsLevelLanguages'}}</label>
                                    </div>
                                    <div><textarea name="level.languagesText">{{level.languagesText}}</textarea></div>
                                </div>
                                <div class="equipment">
                                    <div class="option">
                                        <label>{{localize 'DL.PathsLevelEquipment'}}</label>
                                    </div>
                                    <div><textarea name="level.equipmentText">{{level.equipmentText}}</textarea></div>
                                </div>
                                <div class="magic">
                                    <div class="option">
                                        <label>{{localize 'DL.TabsMagic'}}</label>
                                    </div>
                                    <div><textarea name="level.magicText">{{level.magicText}}</textarea></div>
                                </div>
                                <div class="talents">
                                    <div class="option">
                                        <label>{{localize 'DL.TabsTalents'}}</label>
                                    </div>
                                    <div class=" item-container drop-area" data-group="talent" data-level="{{id}}">
                                        <ul class="tags">
                                            {{#each level.talents as |talent id|}}
                                            <li class="tag" data-item-id="{{id}}">{{talent.name}}<span
                                                    class="remove-tag delete-item" role="button"
                                                    data-action="delete"></span>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                                <div class="talents">
                                    <div class="option">
                                        <label>{{localize 'DL.TabsTalents'}}: ({{localize 'DL.PathsLevelTalentChooseOne'}})</label>
                                    </div>
                                    <div class=" item-container drop-area" data-group="talentpick" data-level="{{id}}">
                                        <ul class="tags">
                                            {{#each level.talentspick as |talent id|}}
                                            <li class="tag" data-item-id="{{id}}">{{talent.name}}<span class="remove-tag delete-item" role="button"
                                                    data-action="delete"></span>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                                <div class="spells">
                                    <div class="option">
                                        <label>{{localize 'DL.MagicSpellsTitle'}}</label>
                                    </div>
                                    <div class=" item-container drop-area" data-group="spell" data-level="{{id}}">
                                        <ul class="tags">
                                            {{#each level.spells as |spell id|}}
                                            <li class="tag" data-item-id="{{id}}">{{spell.name}}<span
                                                    class="remove-tag delete-item" role="button"
                                                    data-action="delete"></span>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                </div>
            </div>
            {{!-- Description Tab --}}
            <div class=" tab" data-group="primary" data-tab="description">
                <div class="descriptionblock">
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
            </div>
        </section>
    </section>
    {{else}}
    <section class="sheet-body">
        <section class="sheet-content">
            <div class="tab paths" data-group="primary" data-tab="attributes">
                <div class="gridrow">
                    <div class="resource">
                        <ol class="items-list">
                            {{#each item.levels as |level id|}}
                            <li class="level" data-item-id="{{id}}">
                                <input type="hidden" name="level" value="{{id}}"/>
                                <div class="levelheader">
                                    <label>{{localize 'DL.PathsLevelsSubTitle'}}</label>
                                    <span>{{level.level}}</span>
                                </div>
                                <div class="attributes">
                                    {{#if level.attributeSelectIsChooseTwo}}
                                    <div class="option">
                                        <label>{{localize 'DL.PathsLevelAttributesSubtitle'}}{{#if level.attributeSelectIsChooseTwo}}: ({{localize 'DL.PathsLevelAttributesChooseTwo'}}){{/if}}{{#if level.PathsLevelAttributesChooseThree}}: ({{localize 'DL.PathsLevelAttributesChooseThree'}}){{/if}}</label>
                                    </div>
                                    <div class="attributesselect">
                                        <div class="grid grid-4col">
                                            <div>
                                                <input type="checkbox" name="level.attributeStrengthSelected"
                            id="level.attributeStrengthSelected{{id}}" {{checked level.attributeStrengthSelected}} />
                                                <label for="level.attributeStrengthSelected{{id}}">{{localize 'DL.AttributeStrength'}}</label>
                                                <span>+{{level.attributeStrength}}</span>
                                            </div>
                                            <div>
                                                <input type="checkbox" name="level.attributeAgilitySelected"
                            id="level.attributeAgilitySelected{{id}}" {{checked level.attributeAgilitySelected}} />
                                                <label for="level.attributeAgilitySelected{{id}}">{{localize 'DL.AttributeAgility'}}</label>
                                                <span>+{{level.attributeAgility}}</span>
                                            </div>
                                            <div>
                                                <input type="checkbox" name="level.attributeIntellectSelected"
                            id="level.attributeIntellectSelected{{id}}" {{checked level.attributeIntellectSelected}} />
                                                <label for="level.attributeIntellectSelected{{id}}">{{localize 'DL.AttributeIntellect'}}</label>
                                                <span>+{{level.attributeIntellect}}</span>
                                            </div>
                                            <div>
                                                <input type="checkbox" name="level.attributeWillSelected"
                            id="level.attributeWillSelected{{id}}" {{checked level.attributeWillSelected}} />
                                                <label for="level.attributeWillSelected{{id}}">{{localize 'DL.AttributeWill'}}</label>
                                                <span>+{{level.attributeWill}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    {{/if}}
                                    {{#if level.attributeSelectIsChooseThree}}
                                    <div class="option">
                                        <label>{{localize 'DL.PathsLevelAttributesSubtitle'}}{{#if level.attributeSelectIsChooseTwo}}: ({{localize 'DL.PathsLevelAttributesChooseTwo'}}){{/if}}{{#if level.PathsLevelAttributesChooseThree}}: ({{localize 'DL.PathsLevelAttributesChooseThree'}}){{/if}}</label>
                                    </div>
                                    <div class="attributesselect">
                                        <div class="grid grid-4col">
                                            <div>
                                                <input type="checkbox" name="level.attributeStrengthSelected"
                            id="level.attributeStrengthSelected{{id}}" {{checked level.attributeStrengthSelected}} />
                                                <label for="level.attributeStrengthSelected{{id}}">{{localize 'DL.AttributeStrength'}}</label>
                                                <span>+{{level.attributeStrength}}</span>
                                            </div>
                                            <div>
                                                <input type="checkbox" name="level.attributeAgilitySelected"
                            id="level.attributeAgilitySelected{{id}}" {{checked level.attributeAgilitySelected}} />
                                                <label for="level.attributeAgilitySelected{{id}}">{{localize 'DL.AttributeAgility'}}</label>
                                                <span>+{{level.attributeAgility}}</span>
                                            </div>
                                            <div>
                                                <input type="checkbox" name="level.attributeIntellectSelected"
                            id="level.attributeIntellectSelected{{id}}" {{checked level.attributeIntellectSelected}} />
                                                <label for="level.attributeIntellectSelected{{id}}">{{localize 'DL.AttributeIntellect'}}</label>
                                                <span>+{{level.attributeIntellect}}</span>
                                            </div>
                                            <div>
                                                <input type="checkbox" name="level.attributeWillSelected"
                            id="level.attributeWillSelected{{id}}" {{checked level.attributeWillSelected}} />
                                                <label for="level.attributeWillSelected{{id}}">{{localize 'DL.AttributeWill'}}</label>
                                                <span>+{{level.attributeWill}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    {{/if}}
                                    {{#if level.attributeSelectIsFixed}}
                                    <div class="option">
                                        <label>{{localize 'DL.PathsLevelAttributesSubtitle'}}{{#if level.attributeSelectIsChooseTwo}}: ({{localize 'DL.PathsLevelAttributesChooseTwo'}}){{/if}}{{#if level.PathsLevelAttributesChooseThree}}: ({{localize 'DL.PathsLevelAttributesChooseThree'}}){{/if}}</label>
                                    </div>
                                    <div class="attributesselect">
                                        <div class="grid grid-4col">
                                            {{#if level.attributeStrength}}
                                            <div>
                                                <label>{{localize 'DL.AttributeStrength'}}</label>
                                                <span>+{{level.attributeStrength}}</span>
                                            </div>
                                            {{/if}}
                                            {{#if level.attributeAgility}}
                                            <div>
                                                <label>{{localize 'DL.AttributeAgility'}}</label>
                                                <span>+{{level.attributeAgility}}</span>
                                            </div>
                                            {{/if}}
                                            {{#if level.attributeIntellect}}
                                            <div>
                                                <label>{{localize 'DL.AttributeIntellect'}}</label>
                                                <span>+{{level.attributeIntellect}}</span>
                                            </div>
                                            {{/if}}
                                            {{#if level.attributeWill}}
                                            <div>
                                                <label>{{localize 'DL.AttributeWill'}}</label>
                                                <span>+{{level.attributeWill}}</span>
                                            </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                    {{/if}}
                                    {{#if level.attributeSelectIsTwoSet}}
                                    <div class="option">
                                        <label>{{localize 'DL.PathsLevelAttributesSubtitle'}}</label>
                                    </div>
                                    <div class="attributesselect twoset">
                                        <div class="grid grid-2col">
                                            <div>
                                                {{#if level.attributeSelectTwoSetSelectedValue1}}
                                                <div class="twosetradio">
                                                    <input type="radio" name="level.attributeSelectTwoSetSelectedValue1" id="level.attributeSelectTwoSetSelectedValue1.true" value="true" {{checked}} />
                                                    <label for="level.attributeSelectTwoSetSelectedValue1.true">{{level.attributeSelectTwoSet1Label}}</label>
                                                    <span class="twosetvalue">+{{level.attributeSelectTwoSetValue1}}</span>
                                                </div>
                                                <label>{{localize 'DL.PathsLevelAttributesSelectOr'}}</label>
                                                <div class="twosetradio">
                                                    <input type="radio" name="level.attributeSelectTwoSetSelectedValue1" id="level.attributeSelectTwoSetSelectedValue1.false" value="false" />
                                                    <label for="level.attributeSelectTwoSetSelectedValue1.false">{{level.attributeSelectTwoSet2Label}}</label>
                                                    <span class="twosetvalue">+{{level.attributeSelectTwoSetValue1}}</span>
                                                </div>
                                                {{else}}
                                                <div class="twosetradio">
                                                    <input type="radio" name="level.attributeSelectTwoSetSelectedValue1" id="level.attributeSelectTwoSetSelectedValue1.true" value="true" />
                                                    <label for="level.attributeSelectTwoSetSelectedValue1.true">{{level.attributeSelectTwoSet1Label}}</label>
                                                    <span class="twosetvalue">+{{level.attributeSelectTwoSetValue1}}</span>
                                                </div>
                                                <label>{{localize 'DL.PathsLevelAttributesSelectOr'}}</label>
                                                <div class="twosetradio">
                                                    <input type="radio" name="level.attributeSelectTwoSetSelectedValue1" id="level.attributeSelectTwoSetSelectedValue1.false" value="false" {{checked}} />
                                                    <label for="level.attributeSelectTwoSetSelectedValue1.false">{{level.attributeSelectTwoSet2Label}}</label>
                                                    <span class="twosetvalue">+{{level.attributeSelectTwoSetValue1}}</span>
                                                </div>
                                                {{/if}}
                                            </div>
                                            <div>
                                                {{#if level.attributeSelectTwoSetSelectedValue2}}
                                                <div class="twosetradio">
                                                    <input type="radio" name="level.attributeSelectTwoSetSelectedValue2"
                                                        id="level.attributeSelectTwoSetSelectedValue2.true" value="true" {{checked}} />
                                                    <label for="level.attributeSelectTwoSetSelectedValue2.true">{{level.attributeSelectTwoSet3Label}}</label>
                                                    <span class="twosetvalue">+{{level.attributeSelectTwoSetValue2}}</span>
                                                </div>
                                                <label>{{localize 'DL.PathsLevelAttributesSelectOr'}}</label>
                                                <div class="twosetradio">
                                                    <input type="radio" name="level.attributeSelectTwoSetSelectedValue2"
                                                        id="level.attributeSelectTwoSetSelectedValue2.false" value="false" />
                                                    <label for="level.attributeSelectTwoSetSelectedValue2.false">{{level.attributeSelectTwoSet4Label}}</label>
                                                    <span class="twosetvalue">+{{level.attributeSelectTwoSetValue2}}</span>
                                                </div>
                                                {{else}}
                                                <div class="twosetradio">
                                                    <input type="radio" name="level.attributeSelectTwoSetSelectedValue2"
                                                        id="level.attributeSelectTwoSetSelectedValue2.true" value="true" />
                                                    <label for="level.attributeSelectTwoSetSelectedValue2.true">{{level.attributeSelectTwoSet3Label}}</label>
                                                    <span class="twosetvalue">+{{level.attributeSelectTwoSetValue2}}</span>
                                                </div>
                                                <label>{{localize 'DL.PathsLevelAttributesSelectOr'}}</label>
                                                <div class="twosetradio">
                                                    <input type="radio" name="level.attributeSelectTwoSetSelectedValue2"
                                                        id="level.attributeSelectTwoSetSelectedValue2.false" value="false" {{checked}} />
                                                    <label for="level.attributeSelectTwoSetSelectedValue2.false">{{level.attributeSelectTwoSet4Label}}</label>
                                                    <span class="twosetvalue">+{{level.attributeSelectTwoSetValue2}}</span>
                                                </div>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                    {{/if}}
                                </div>
                                <div class="characteristics">
                                    <div class="option">
                                        <label>{{localize 'DL.PathsLevelCharacteristicsSubtitle'}}</label>
                                    </div>
                                    <div class="characteristicsselect">
                                        <div class="grid grid-6col">
                                            {{#if level.characteristicsHealth}}
                                            <div>
                                                <label>{{localize 'DL.CharHealth'}}</label>
                                                <span>+{{level.characteristicsHealth}}</span>
                                            </div>
                                            {{/if}}
                                            {{#if level.characteristicsPower}}
                                            <div>
                                                <label>{{localize 'DL.CharPower'}}</label>
                                                <span>+{{level.characteristicsPower}}</span>
                                            </div>
                                            {{/if}}
                                            {{#if level.characteristicsPerception}}
                                            <div>
                                                <label>{{localize 'DL.CharPerception'}}</label>
                                                <span>+{{level.characteristicsPerception}}</span>
                                            </div>
                                            {{/if}}
                                            {{#if level.characteristicsSpeed}}
                                            <div>
                                                <label>{{localize 'DL.CharSpeed'}}</label>
                                                <span>+{{level.characteristicsSpeed}}</span>
                                            </div>
                                            {{/if}}
                                            {{#if level.characteristicsDefense}}
                                            <div>
                                                <label>{{localize 'DL.CharDefense'}}</label>
                                                <span>+{{level.characteristicsDefense}}</span>
                                            </div>
                                            {{/if}}
                                            {{#if level.characteristicsCorruption}}
                                            <div>
                                                <label>{{localize 'DL.CharCorruption'}}</label>
                                                <span>+{{level.characteristicsCorruption}}</span>
                                            </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                {{#if level.languagesText}}
                                <div class="language">
                                    <div class="option">
                                        <label>{{localize 'DL.PathsLevelLanguages'}}</label>
                                    </div>
                                    <div>{{level.languagesText}}</div>
                                </div>
                                {{/if}}
                                {{#if level.equipmentText}}
                                <div class="equipment">
                                    <div class="option">
                                        <label>{{localize 'DL.PathsLevelEquipment'}}</label>
                                    </div>
                                    <div>{{level.equipmentText}}</div>
                                </div>
                                {{/if}}
                                {{#if level.magicText}}
                                <div class="magic">
                                    <div class="option">
                                        <label>{{localize 'DL.TabsMagic'}}</label>
                                    </div>
                                    <div>{{level.magicText}}</div>
                                </div>
                                {{/if}}
                                {{#if level.talents}}
                                <div class="talents">
                                    <div class="option">
                                        <label>{{localize 'DL.TabsTalents'}}</label>
                                    </div>
                                    <div class="info"><a class="item-control transfer-talents" data-level="{{id}}" data-group="talent" title="{{localize 'DL.PathsTalentTransfers'}}">{{localize 'DL.PathsTalentTransfers'}}</a></div>
                                    <div class="item-container select-area">
                                        <ul class="tags">
                                            {{#each level.talents as |talent id|}}
                                            <li class="tagclean" data-item-id="{{id}}">{{talent.name}}</li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                                {{/if}}
                                {{#if level.talentspick}}
                                <div class="talents">
                                    <div class="option">
                                        <label>{{localize 'DL.TabsTalents'}}: ({{localize 'DL.PathsLevelTalentChooseOne'}})</label>
                                    </div>
                                    <div class="info">{{localize 'DL.PathsTransfer'}}</div>
                                    <div class="item-container select-area" data-group="talent" data-level="{{id}}">
                                        <ul class="tags">
                                            {{#each level.talentspick as |talent id|}}
                                            <li class="tagclean select-item transfer-talentpick" data-item-id="{{id}}">{{talent.name}}</li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                                {{/if}}
                                {{#if level.spells}}
                                <div class="spells">
                                    <div class="option">
                                        <label>{{localize 'DL.MagicSpellsTitle'}}</label>
                                    </div>
                                    <div class="info">{{localize 'DL.PathsTransfer'}}</div>
                                    <div class="item-container select-area" data-group="spell" data-level="{{id}}">
                                        <ul class="tags">
                                            {{#each level.spells as |spell id|}}
                                            <li class="tagclean select-item transfer-spell" data-item-id="{{id}}">{{spell.name}}</li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                                {{/if}}
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                </div>
            </div>
            {{!-- Description Tab --}}
            <div class=" tab" data-group="primary" data-tab="description">
                <div class="descriptionblock">
                    {{{data.description}}}
                </div>
            </div>
        </section>
    </section>
    {{/if}}
</form>